<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-crusta">
                        <i class="fa fa-cubes font-yellow-crusta sbold"></i>@(users:Assignees)
                    </div>
                    <div class="actions btn-set">
                        <a class="btn sbold uppercase red" ui-sref="employee.list"><i class="fa fa-angle-left"></i> @(Back)</a>
                        <button type="button" ng-click="update(true)" class="btn sbold uppercase green"><i class="fa fa-check"></i> @(Save)</button>
                        <button type="button" ng-click="update()" class="btn sbold uppercase green"><i class="fa fa-check-circle"></i> @(SaveAndContinueEdit)</button>
                        <!--<div class="btn-group">
                            <a class="btn dark sbold uppercase dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" ng-click="clone()">
                                        <i class="fa fa-copy"></i> @(ToClone)
                                    </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#" class="font-red" ng-show="login.rights.employee.delete" confirmed-click="remove(product)" ng-confirm-click="Supprimer le collaborateur ?" title="Supprimer le collaborateur">
                                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                                    </a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">



                                </div>
                            </div>

                            <div class="col-md-6">


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>