<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="employees.list">@(employees:ListofEmployees)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{employees.firstname}} {{employees.lastname}}</span>
        </li>
    </ul>

</div>

<div class="row">
    <div class=" col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->

        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet">
            <tabset class="tabbable-line tabbable-full-width">
                <tab heading="Main">
                    <div class="portlet box">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-random"></i>@(employees:Main)
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-md-line-input">

                                <label class="col-md-4 control-label" for="form_control_1">@(Ref): <span class="required">
                                        * </span>
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="product.ref" maxlength="13" required placeholder="" type="text">
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label" for="form_control_1">@(Status): </label>
                                <div class="col-md-8">
                                    <label class="control-label">
                                        <input uniform type="checkbox" ng-model="product.info.isActive" ng-checked="product.info.isActive"/> @(Enabled) </label>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">

                                <label class="col-md-4 control-label" for="form_control_1">@(SKU): <span class="required">
                                        * </span>
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="product.ref" maxlength="13" required placeholder="" type="text">
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label" for="form_control_1">@(Status2):</label>
                                <div class="col-md-8">
                                    <select class="table-group-action-input form-control" required ng-model="product.Status" ng-options="s.id as s.label for s in dict.fk_product_status.values"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-scrollable">

                        </div>
                    </div>
                </tab>
                <tab heading="PersonnalInformations">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-random"></i>@(employees:PersonnalInformations)
                            </div>
                        </div>
                        <div class="table-scrollable">

                        </div>
                    </div>
                </tab>
                <tab heading="Job">
                    <div class="portlet box green-meadow">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-random"></i>@(employees:Job)
                            </div>
                        </div>
                        <div class="table-scrollable">

                        </div>
                    </div>
                </tab>
                <tab heading="Assignees">
                    <div class="portlet box yellow-lemon">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-random"></i>@(employees:Assignees)
                            </div>
                        </div>
                        <div class="table-scrollable">

                        </div>
                    </div>
                </tab>
            </tabset>
        </div>

    </div>
</div>
<!-- END MAIN CONTENT -->