<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-crusta">
                        <i class="fa fa-cubes font-yellow-crusta sbold"></i>@(users:Main)
                    </div>
                    <div ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:LastName):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.name.last" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:FirstName):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.name.first" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(Tel-Mobile):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.phones.mobile" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(Email):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.emails.work" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:Skype):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.skype" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:LinkedIn):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.social.LI" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:Facebook):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.social.FB" placeholder="" type="text">

                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">@(users:Department):</label>
                                    <div class="col-md-8">
                                        <select class="form-control" ng-model="employee.department">
                                                        <option ng-model=""></option>
                                                        <option value="1">Option 1</option>
                                                        <option value="2">Option 2</option>
                                                        <option value="3">Option 3</option>
                                                        <option value="4">Option 4</option>
                                       </select>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">@(users:Manager):</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="employee.manager" placeholder="" type="text">

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">@(users:JobPosition):</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="employee.jobPosition" placeholder="" type="text">

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">@(users:JobType):</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="employee.jobType" placeholder="" type="text">

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-4 control-label">@(users:WorkPhone):</label>
                                    <div class="col-md-8">
                                        <input class="form-control" ng-model="employee.phones.phone" placeholder="" type="text">

                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>