<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-crusta">
                        <i class="fa fa-cubes font-yellow-crusta sbold"></i>@(users:PersonnalInformation)
                    </div>
                    <div ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <!--<div crm-address ng-model="employee.homeAddress"></div>-->

                                <div class="form-group form-md-line-input">

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:HomeAdress):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.homeAddress.street" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:City):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.homeAddress.city" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(Zip):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.homeAddress.zip" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(Region):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.homeAddress.state" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:CountryOfBirth):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.homeAddress.country" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:Nationality):</label>
                                        <div class="col-md-8">
                                            <select class="table-group-action-input form-control" required ng-model="employee.nationality" ng-options="s.id as s.label for s in dict.fk_country.values"></select>
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:dateBirth):</label>
                                        <div class="col-md-8">
                                            <input date-input ng-model="employee.dateBirth" placeholder="" type="text">
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-md-line-input">

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:SocialeSecurityNumber):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.socialSecurityNumber" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:BankingEtablishment):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.iban.id" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:IBAN):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.iban.bank" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-4 control-label">@(users:BIC):</label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="employee.iban.swift" placeholder="" type="text">
                                            <div class="form-control-focus"> </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>