<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-info"></i>
                        <span class="caption-subject dark bold uppercase"> @(users:PersonnalInformation)</span>
                        <span class="caption-helper"> - @(users:Employees)</span>

                    </div>
                    <save ng-disabled="!editable" mode="object._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light bordered">

                                    <address ng-model=employee.homeAddress></address>

                                    <!-- <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.homeAddress.street">
                                        <label for="form_control_1">@(users:HomeAddress)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.homeAddress.city">
                                        <label for="form_control_1">@(users:City)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.homeAddress.zip">
                                        <label for="form_control_1">@(Zip)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.homeAddress.state">
                                        <label for="form_control_1">@(Region)</label>
                                    </div>
                                    -->

                                    <div class="form-group form-md-line-input">
                                        <select class="table-group-action-input form-control" required ng-model="employee.homeAddress.country" ng-options="s.id as s.name for s in $dict.nationality.data"></select>
                                        <label for="form_control_1">@(users:CountryOfBirth)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <select class="table-group-action-input form-control" required ng-model="employee.nationality" ng-options="s.id as s.name for s in $dict.nationality.data"></select>
                                        <label for="form_control_1">@(users:Nationality)</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light bordered">

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.socialSecurityNumber">
                                        <label for="form_control_1">@(users:SocialeSecurityNumber)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.iban.id">
                                        <label for="form_control_1">@(users:BankingEtablishment)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.iban.bank">
                                        <label for="form_control_1">@(users:IBAN)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="employee.iban.bic">
                                        <label for="form_control_1">@(users:BIC)</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>