<h3 class="page-title">
    <i class="fa fa-check-square-o font-blue-madison"></i> @(tasks:NewTask)
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="task.todo">@(tasks:TasksList)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(tasks:NewTask)</span>
        </li>
    </ul>
</div>



<form ng-submit="create()" role="form">
    <div class="row">
        <div class="col-md-12">

            <!-- BEGIN PARAMETRES GENERAUX -->
            <div class="portlet blue-madison box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-check-square-o"></i> @(tasks:NewTask)
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">

                            <div class="form-group">
                                <label class="col-md-4 control-label">@(Title)</label>
                                <div class="col-md-8">
                                    <input required type="text" ng-model="task.name" id="label" class="form-control" autocomplete="on">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">@(Type)</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="type" required data-ng-model="eventType" ng-change="typeChange(eventType)" data-ng-options="c as c.label for c in dict.fk_actioncomm.values track by c.id"></select>
                                </div>
                            </div>

                            <div ng-if="login.multiEntities" class="form-group">
                                <label class="col-md-4 control-label">@(companies:Entity)</label>
                                <div class="col-md-8">
                                    <select class="form-control" data-ng-model="task.entity" data-ng-options="s.id as s.name for s in entityListAll"></select>
                                </div>
                            </div>

                            <crm-id label="@(companies:CompanyName)" name="societeId" ng-model="task.supplier" entity="task.entity" url="/erp/api/societe/autocomplete" on-select="searchContact" placeholder="@(companies:CompanyName)" class="form-group form-md-line-input"></crm-id>


                            <div class="form-group" ng-if="contacts.length">
                                <label class="col-md-4 control-label">@(Contact)</label>
                                <div class="col-md-8">
                                    <div class="input-group input-icon right" title="Contact">

                                        <span class="input-group-addon">
                                           <i class="fa fa-user"></i>
                                        </span>
                                        <select class="form-control" id="contact" ng-model="task.contact" ng-options="contact as contact.name for contact in contacts">                                    
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="leads.length" class="form-group">
                                <label class="col-md-4 control-label">@(leads:Lead)</label>
                                <div class="col-md-8">
                                    <select class="form-control" id="lead" ng-model="task.lead" ng-options="lead as lead.name for lead in leads">                                    
                                    </select>
                                </div>
                            </div>

                            <div ng-if="isEvent" class="form-group">
                                <label class="col-md-4 control-label">@(tasks:DateActionStart)</label>
                                <div class="col-md-8">
                                    <div class="col-md-6" style="margin-top: 34px;">
                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="task.datep" ng-change="task.datef = task.datep" is-open="opened[0]" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <timepicker ng-model="task.datep" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" ng-if="isEvent">@(tasks:DateActionEnd)</label>
                                <label class="col-md-4 control-label" ng-if="!isEvent">@(tasks:DateEchAction)</label>
                                <div class="col-md-8">
                                    <div class="col-md-6" style="margin-top: 34px;">
                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="task.datef" is-open="opened[1]" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <timepicker ng-model="task.datef" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">@(Status)</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <span class="input-group-btn btn-group-xs">
                                            <button ng-disabled="task.percentage == 0" type="button" class="btn btn-default" ng-click="task.percentage = (task.percentage - 25 < 0 ? 0 : task.percentage - 25);"><i class="glyphicon glyphicon-minus"></i></button>
                                        </span>
                                        <progressbar animate="true" value="task.percentage" type="success"><b>{{task.percentage}}%</b></progressbar>
                                        <span class="input-group-btn btn-group-xs">
                                        <button ng-disabled="task.percentage == 100" type="button" class="btn btn-default" ng-click="task.percentage = (task.percentage + 25 > 100 ? 100 : task.percentage + 25);"><i class="glyphicon glyphicon-plus"></i></button>
                                    </span>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">@(tasks:Group)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icon icon-users"></i>
                                        </span>
                                        <select class="form-control" id="group" required ng-model="task.group" data-ng-options="c as c.name for c in groups track by c.id"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">@(tasks:AffectedTo)</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="icon icon-user"></i>
                                        </span>
                                        <input type="text" id="affectedTo" data-ng-model="task.usertodo" typeahead="user as user.username for user in AutoComplete($viewValue, '/erp/api/user/name/autocomplete',10) | filter:{name:$viewValue}" class="form-control" autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">@(Description)</label>
                                <div class="col-md-8">
                                    <textarea id="notes" cols="30" rows="5" data-ng-model="task.description" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-5 col-md-7">
                <button type="submit" ng-disabled='!task.usertodo' class="btn blue">@(Add)</button>
                <a ui-sref="task.todo" class="btn default">@(Cancel)</a>
            </div>
        </div>
    </div>
</form>