<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="task.list">@(tasks:TasksList)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(tasks:NewTask)</span>
        </li>
    </ul>
</div>



<form ng-submit="create()" role="form">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="portlet light portlet bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-check-square-o"></i>
                        <span class="caption-subject dark bold uppercase"> @(tasks:NewTask)</span>
                    </div>
                    <div class="actions btn-set">
                        <a ui-sref="task.list" class="btn red"><i class="fa fa-angle-left"></i>@(Cancel)</a>
                        <button type="submit" ng-disabled='!task.usertodo' class="btn green"><i class="fa fa-check-circle"></i>@(Add)</button>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input has-success">
                                        <input required type="text" ng-model="task.name" id="Title" class="form-control" autocomplete="on">
                                        <label for="Title">@(Title)<span class="required">
                                        * </span></label>
                                    </div>

                                    <div class="form-group form-md-line-input has-success">
                                        <select class="form-control" id="Categories" required data-ng-model="eventType" ng-change="typeChange(eventType)" data-ng-options="c as c.label for c in dict.fk_actioncomm.values track by c.id"></select>
                                        <label for="Categories">@(Categories)</label>
                                    </div>

                                    <div ng-if="login.multiEntities" class="form-group form-md-line-input has-success">
                                        <select class="form-control" id="Entity" data-ng-model="task.entity" data-ng-options="s.id as s.name for s in entityListAll"></select>
                                        <label for="Entity">@(companies:Entity)</label>
                                    </div>

                                    <crm-id label="@(companies:CompanyName)" name="societeId" ng-model="task.supplier" entity="task.entity" url="/erp/api/societe/autocomplete" on-select="searchContact" placeholder="@(companies:CompanyName)" class="form-group form-md-line-input"></crm-id>

                                    <div class="form-group form-md-line-input has-success">
                                        <div class="input-icon left">
                                            <select class="form-control" id="Team" required ng-model="task.group" data-ng-options="c as c.name for c in groups track by c.id"></select>
                                            <label for="Team">@(tasks:Team)</label>
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input has-success">
                                        <div class="input-icon left">
                                            <input type="text" id="affectedTo" data-ng-model="task.usertodo" typeahead="user as user.username for user in AutoComplete($viewValue, '/erp/api/user/name/autocomplete',10) | filter:{name:$viewValue}" class="form-control" autocomplete="off">
                                            <label for="affectedTo">@(tasks:AffectedTo)</label>
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>

                                    <div ng-if="contacts.length" class="form-group form-md-line-input has-success">
                                        <div class="input-icon left">
                                            <select class="form-control" id="contact" ng-model="task.contact" ng-options="contact as contact.name for contact in contacts"></select>
                                            <label for="contact">@(Contact)</label>
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>

                                    <div ng-if="leads.length" class="form-group form-md-line-input has-success">
                                        <select class="form-control" id="lead" ng-model="task.lead" ng-options="lead as lead.name for lead in leads"></select>
                                        <label for="Entity">@(leads:Lead)</label>
                                    </div>

                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div ng-if="isEvent" class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">@(tasks:DateActionStart)</label>
                                        <div class="col-md-9">
                                            <div class="col-md-7" style="margin-top: 34px;">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="task.datep" ng-change="task.datef = task.datep" is-open="opened[0]" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                                </p>
                                            </div>
                                            <div class="col-md-3">
                                                <timepicker ng-model="task.datep" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label" ng-if="isEvent">@(tasks:DateActionEnd)</label>
                                        <label class="col-md-3 control-label" ng-if="!isEvent">@(tasks:DateEchAction)</label>
                                        <div class="col-md-9">
                                            <div class="col-md-7" style="margin-top: 34px;">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="task.datef" is-open="opened[1]" datepicker-options="dateOptions" ng-required="true" close-text="Fermer" />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                                </p>
                                            </div>
                                            <div class="col-md-3">
                                                <timepicker ng-model="task.datef" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input has-success">
                                        <select class="form-control" id="Status" data-ng-model="task.state" data-ng-options="s.id as s.name for s in entityListAll"></select>
                                        <label for="Status">@(Status)</label>
                                    </div>

                                    <!--<div class="form-group">
                                        <label class="col-md-4 control-label">@(Status)</label>
                                        <div class="col-md-8">
                                            <p class="input-group">
                                                <span class="input-group-btn btn-group-xs">
                                            <button ng-disabled="task.percentage == 0" type="button" class="btn btn-default" ng-click="task.percentage = (task.percentage - 25 < 0 ? 0 : task.percentage - 25);"><i class="glyphicon glyphicon-minus"></i></button>
                                        </span>
                                                <progressbar animate="true" value="task.percentage" type="success"><b>{{task.percentage}}%</b></progressbar>
                                                <span class="input-group-btn btn-group-xs">
                                        <button ng-disabled="task.percentage == 100" type="button" class="btn btn-default" ng-click="task.percentage = (task.percentage + 25 > 100 ? 100 : task.percentage + 25);"><i class="glyphicon glyphicon-plus"></i></button>
                                    </span>
                                            </p>
                                        </div>
                                    </div>-->

                                    <div class="portlet light bordered">
                                        <div class="form-group form-md-line-input ">
                                            <textarea class="form-control" data-ng-model="task.description" rows="8"></textarea>
                                            <label for="description">@(Description)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 col-sm-6 col-xs-6">
                                    <div class="uppercase profile-stat-title  col-md-6"> <i class="icon-calendar font-yellow-crusta "></i> {{user.creationDate|date:'dd/MM/yyyy HH:mm'}} </div>
                                    <div class="uppercase profile-stat-title  col-md-6"> <i class="icon-refresh font-yellow-crusta "></i> {{user.updatedAt|date:'dd/MM/yyyy HH:mm'}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>