<div class="modal-header">
    <button type="button" class="bootbox-close-button close" ng-click="cancel()" aria-hidden="true">×</button>
    <h4 class="modal-title">@(products:Movement)</h4>

</div>
<div class="modal-body">
    <div class="form-body">
        <div class="table-responsive">
            <div class="dataTables_wrapper no-footer table-responsive">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover no-footer" id="stockDetailList">
                        <thead>
                            <tr role="row" class="heading">

                                <th width="80px">@(Ref)</th>
                                <th>@(Name)</th>
                                <th>@(products:Warehouse)</th>
                                <th class="center">@(DateOfReceipt)</th>
                                <th class="center">@(products:Aisle)</th>
                                <th class="center">@(products:Bay)</th>
                                <th class="center">@(products:Shelf)</th>
                                <th class="center">@(products:Bin)</th>
                                <th class="center">@(products:Allocated)</th>
                                <th class="center">@(products:InStock)</th>
                                <th class="center">@(products:OnHand)</th>
                                <th class="center">@(products:LowStock)</th>
                                <th class="center">@(products:UnitCost)</th>
                                <th class="center">@(products:Total)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="line in listObject">
                                <td>{{line.product.info.SKU}}</td>
                                <td>{{line.product.name}}</td>
                                <td>{{line.warehouse.name}}</td>
                                <td class="center">{{line.order.updatedAt | date : "shortDate"}}</td>
                                <td class="center">{{line.location.groupingA}}</td>
                                <td class="center">{{line.location.groupingB}}</td>
                                <td class="center">{{line.location.groupingC}}</td>
                                <td class="center">{{line.location.groupingD}}</td>
                                <td class="center">{{line.allocated}}</td>
                                <td class="center">{{line.inStock}}</td>
                                <td class="center">{{line.onHand}}</td>
                                <td>{{}}</td>
                                <td class="center">{{line.product.prices.pu_ht | currency}}</td>
                                <td class="center">{{line.product.prices.pu_ht*line.inStock | currency}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn red" type="button">@(Cancel)</button>
    <button ng-click="ok()" class="btn green" type="button">@(Save)</button>
</div>