<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="offer.list">@(propal:CommercialProposals)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(propal:NewProp)</span>
        </li>
    </ul>
</div>
<h3 class="page-title">
    <i class="fa fa-calculator "></i> @(propal:NewProp)
</h3>


<form ng-submit="create()" role="form">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-crusta">
                        <i class="fa fa-cog font-yellow-crusta"></i> @(GeneralParameters)
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div ng-if="login.multiEntities" class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(Entity)</label>
                                <div class="col-md-8">
                                    <select class="form-control" data-ng-model="offer.entity" data-ng-options="s.id as s.name for s in entityList"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>

                            <crm-id label="@(companies:Company)" name="societeId" ng-model="offer.supplier" entity="offer.entity" url="/erp/api/societe/autocomplete" required="true" on-select="updateAddress" placeholder="@(companies:CompanyName)" class="form-group form-md-line-input"></crm-id>
                            <!--<div class="form-group">
                                <label class="col-md-4 control-label">@(Title)</label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="offer.title.ref" placeholder="@(TitleRef)" type="text">
                                </div>
                            </div>-->
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(orders:RefCustomerOrder)</label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="offer.ref_client" placeholder="@(orders:RefCustomerOrder)" type="text">
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(orders:OrderMode)</label>
                                <div class="col-md-8">
                                    <select class="form-control" data-ng-model="offer.type" data-ng-options="s.id as s.label for s in dict.fk_input_reason.values"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">@(propal:DateDeliveryPlannedShort)</label>
                                <div class="col-md-8">
                                    <input date-input ng-model="offer.date_livraison" />
                                </div>
                            </div>
                            <div class="form-group form-md-radios">
                                <label class="col-md-4 control-label">@(orders:RemovingOrder)</label>
                                <div class="md-radio-inline col-md-8">
                                    <span>
                                        <input type="radio" name="deliveryMode" required ng-model="offer.delivery_mode" value="@(Store)" class="md-radiobtn"/> @(Store)
                                        <input type="radio" name="deliveryMode" required ng-model="offer.delivery_mode" value="@(Delivery)" class="md-radiobtn"/> @(Delivery)
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(deliveries:PaymentConditions)</label>
                                <div class="col-md-8">
                                    <select class="form-control" data-ng-model="offer.cond_reglement_code" data-ng-options="s.id as s.label for s in dict.fk_payment_term.values"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(bills:PaymentMode)</label>
                                <div class="col-md-8">
                                    <select class="form-control" data-ng-model="offer.mode_reglement_code" data-ng-options="s.id as s.label for s in dict.fk_paiement.values"></select>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(commercial:Commercial)</label>
                                <div class="col-md-8">
                                    <div class="form-group form-md-line-input">
                                        <select class="table-group-action-input form-control" required ng-model="societe.salesPurchases.salesPerson" ng-options="s._id as s.fullName for s in $dict.salesPerson"></select>
                                        <label for="form_control_1">@(commercial:Commercial)</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-12">
            <div class="portlet portlet light bordered">

                <div class="portlet-title">
                    <div class="caption font-grey-gallery">
                        <i class="fa fa-money font-grey-gallery"></i> @(bills:BillAddress)
                    </div>
                </div>
                <address class="portlet-body" ng-model="offer.address"></address>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-grey-gallery">
                        <i class="fa fa-truck font-grey-gallery"></i> @(deliveries:DeliveryAddress)
                    </div>
                </div>
                <div ng-if="offer.addresses.length > 1" class="form-group">
                    <label class="col-md-4 control-label">@(deliveries:DeliveryAddress)</label>
                    <div class="col-md-8">
                        <select class="form-control" data-ng-model="offer.bl[0]" data-ng-options="a as a.name for a in offer.addresses track by a.name"></select>
                    </div>
                </div>
                <address class="portlet-body" ng-model="offer.shippingAddress"></address>
            </div>
        </div>
        <!--<div class="col-md-6 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-hoki">
                        <i class="fa fa-group font-blue-hoki"></i>
                        @(Contacts)
                    </div>
                </div>
                <div class="portlet-body" crm-contact mode="create" model="offer.contact"></div>
            </div>
        </div>-->
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-5 col-md-7">
                <button type="submit" class="btn btn-circle btn-success"><i class="fa fa-check"></i> @(Create)</button>
                <a ui-sref="offer.list" class="btn btn-circle red">@(Cancel) <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</form>