<div ng-if="employee.isremoved" class="alert alert-danger">
    <strong>@(BeCareful)</strong>&nbsp;@(companies:CompanyDeleted)</div>

<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="offer.list">@(propal:CommercialProposals)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{offer.ref}} - {{offer.client.name}} - @(From) {{offer.createdAt| date:'@(main:date.format.java.dayhour)'}}</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn yellow-crusta dropdown-toggle uppercase" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                   <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-show="offer.Status == 'VALIDATED'" ng-hide="!global.user.rights.offer.createOrder" ng-confirm-click="@(propal:ConfirmClosePropal)" ng-confirm-title="@(propal:PropalStatusSigned)" confirmed-click="createOrder()">
                        <i class="fa fa-shopping-cart"></i> @(propal:CreateOrder)
                    </a>
                </li>
                <li>
                    <a href="#" ng-show="offer.Status == 'DRAFT'" ng-hide="!global.user.rights.offer.validate" data-ng-click="changeStatus('VALIDATED')">
                        <i class="fa fa-thumbs-o-up"></i> @(Validate)
                    </a>
                </li>
                <li>
                    <a href="#" ng-show="offer.Status !== 'DRAFT' && login.rights.offer.create" data-ng-click="changeStatus('DRAFT')">
                        <i class="fa fa-history"></i> @(ReOpen)
                    </a>
                </li>
                <li>
                    <a ng-show="offer.Status == 'VALIDATED'" ng-hide="!global.user.rights.offer.createDelivery" ng-confirm-click="@(propal:ConfirmClosePropal)" ng-confirm-title="@(propal:PropalStatusNotSigned)" confirmed-click="changeStatus('NOTSIGNED')">
                        <i class="fa fa-thumbs-o-down"></i> @(propal:CloseOfferOrder)
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <li>
                    <a ng-show='offer.Status != "DRAFT"' ng-href="/erp/api/offer/pdf/{{offer.ref}}" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                    </a>
                </li>
                <li>
                    <a ng-show='offer.Status != "DRAFT" && offer.contacts.length' ng-href="#" ng-click="sendEmail()">
                        <i class="fa  fa-envelope"></i> @(mails:SendMail)
                    </a>
                </li>
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.offer.delete && offer.Status !== 'SIGNED'" confirmed-click="remove(offer)" ng-confirm-click="Supprimer la proposition commerciale ?" title="Supprimer la proposition commerciale">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



<div ng-if="societe.isremoved" class="alert alert-danger"><strong>@(companies:BeCarefulThisCompanyIsDeleted) </div>

<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet">
                
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">@(propal:ProposalShort) {{offer.ref}}</div>
                </div>

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">{{offer.client.name}}</div>
                </div>
               
            
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('offer.show.details')}">
                            <a ui-sref="offer.show.details({id:offer._id})">
                                <i class="fa fa-cogs"></i> @(propal:Details) </a>
                        </li>
                        <li  ng-class="{active: $state.includes('offer.show.address')}">
                            <a ui-sref="offer.show.address({id:offer._id})">
                                <i class="icon-info"></i> @(bills:BillAddress) - @(deliveries:DeliveryAddress) </a>
                        </li>
                     
                    </ul>
                </div>
            </div>

            <div class="portlet light">
                <div class="row list-separated profile-stat">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-text"> @(DateCreation)</div>
                        <div class="uppercase profile-stat-title"> {{offer.createdAt|date:'dd/MM/yyyy'}} </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-text"> @(DateModification) </div>
                        <div class="uppercase profile-stat-title"> {{offer.updatedAt|date:'dd/MM/yyyy'}} </div>
                    </div>
                </div>
                     <div class="row list-separated profile-stat">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="uppercase profile-stat-text"> @(Logs)</div>
                       <div class="uppercase profile-stat-title">{{history.date| date:'dd/MM/yyyy HH:mm'}} - {{history.msg}} </div>
                   </div>
               
                </div>
            </div>
        </div>
        <div ui-view class="profile-content fade-in-up"></div>
    </div>
</div>