<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="offer.list">@(propal:CommercialProposals)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(propal:NewProp)</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-info"></i>
                        <span class="caption-subject dark bold uppercase">@(propal:NewProp) </span>
                    </div>
                    <div ng-include="'/templates/createMenu.html'" class="actions btn-set"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<form ng-submit="create()" role="form">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>
                        <span class="caption-subject uppercase"> @(propal:Details)</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">

                            <crm-id label="@(companies:Customer)" name="societeId" ng-model="offer.supplier" entity="offer.entity" url="/erp/api/societe/autocomplete" required="true" on-select="updateAddress" placeholder="@(companies:CompanyName)" class="form-group form-md-line-input"></crm-id>

                            <div class="form-group form-md-line-input ">
                                <input type="text" class="form-control" id="ref_client" ng-model="offer.ref_client">
                                <label for="ref_client">@(orders:RefCustomerOrder)</label>
                            </div>

                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" id="entity" disabled ng-model="offer.entity">
                                <label for="entity">@(Entity)</label>
                            </div>


                            <div class="form-group form-md-line-input">
                                <div class="form-control form-control-static"> {{offer.supplier.salesPurchases.priceList.priceListCode}} </div>
                                <label for="price_level">@(products:PriceLevel)</label>
                            </div>

                            <hr>
                            <div class="form-group form-md-line-input">
                                <div class="form-control form-control-static"> {{history.date| date:'dd/MM/yyyy HH:mm'}} {{history.msg}}</div>
                                <label for="form_control_1">@(Logs)</label>
                            </div>

                            <div class="row">
                                <!-- <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <select class="form-control" id="Status" ng-model="offer.Status" ng-options="s.id as s.label for s in dict.fk_offer_status.values">
                                                </select>
                                        <label for="Status">@(Status)</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <div class="form-control form-control-static"> {{offer.updatedAt|date:'dd/MM/yyyy HH:mm'}} </div>
                                        <label for="form_control_1">@(DateLastModification)</label>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">

                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="type" ng-model="offer.type" ng-options="s.id as s.label for s in dict.fk_input_reason.values">
                                       </select>
                                <label for="type">@(orders:OrderMode)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="delivery_mode" ng-model="offer.delivery_mode" ng-options="s as s for s in delivery_mode">
                                        </select>
                                <label for="delivery_mode">@(orders:RemovingOrder)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" id="dateLivraison" date-input ng-model="offer.date_livraison">
                                <label for="dateLivraison">@(DeliveryDate)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="cond_reglement_code" ng-model="offer.cond_reglement_code" ng-options="s.id as s.label for s in dict.fk_payment_term.values">
                                        </select>
                                <label for="cond_reglement_code">@(deliveries:PaymentConditions)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="mode_reglement_code" ng-model="offer.mode_reglement_code" ng-options="s.id as s.label for s in dict.fk_paiement.values">
                                        </select>
                                <label for="mode_reglement_code">@(bills:PaymentMode)</label>
                            </div>

                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="commercial_id" ng-model="offer.salesPerson" ng-options="s._id as s.fullName for s in $dict.employees">
                                </select>
                                <label for="commercial_id">@(commercial:Commercial)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-5 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-money"></i>
                        <span class="caption-subject uppercase"> @(bills:BillAddress)</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                    <div class="form-group form-md-line-input ">
                        <address ng-model=offer.address></address>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-truck"></i>
                        <span class="caption-subject uppercase"> @(deliveries:DeliveryAddress)</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: none;">
                    <div class="form-group form-md-line-input ">
                        <address ng-model=offer.shippingAddress></address>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-hoki">
                        <i class="fa fa-group font-blue-hoki"></i>
                        @(Contacts)
                    </div>
                </div>
                <div class="portlet-body" crm-contact mode="create" model="offer.contact"></div>
            </div>
        </div>-->
    </div>
</form>