<div ng-init="findOne()">
    <!--<script type="text/ng-template" id="searchcompany.html">
        <a>
            <span ng-bind-html="match.model.code_client | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.name"></span>
        </a>
    </script>-->


    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="home">@(Home)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a ui-sref="order.list">@(orders:ListOfCustomersOrders)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span ng-hide="!order._id">@(orders:Order) : {{order.ref}}</span>
                <span ng-show="!order._id">@(orders:NewOrder)</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn yellow-crusta dropdown-toggle uppercase" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                   <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a ng-show="order.Status == 'VALIDATED'" ng-hide="!global.user.rights.order.createOrder" ng-confirm-click="@(order:ConfirmCloseOrder)" ng-confirm-title="@(propal:PropalStatusSigned)" confirmed-click="createOrder()">
                            <i class="fa fa-shopping-cart"></i> @(propal:CreateOrder)
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-show="order.Status == 'DRAFT'" ng-hide="!global.user.rights.order.validate" data-ng-click="changeStatus('VALIDATED')">
                            <i class="fa fa-thumbs-o-up"></i> @(Validate)
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-show="order.Status !== 'DRAFT' && login.rights.order.create" data-ng-click="changeStatus('DRAFT')">
                            <i class="fa fa-history"></i> @(ReOpen)
                        </a>
                    </li>
                    <li>
                        <a ng-show="order.Status == 'VALIDATED'" ng-hide="!global.user.rights.order.createDelivery" ng-confirm-click="@(propal:ConfirmCloseOrder)" ng-confirm-title="@(propal:PropalStatusNotSigned)" confirmed-click="changeStatus('NOTSIGNED')">
                            <i class="fa fa-thumbs-o-down"></i> @(propal:CloseOfferOrder)
                        </a>
                    </li>
                    <li>
                        <a href="#" data-ng-click="clone()">
                            <i class="fa fa-copy"></i> @(ToClone)
                        </a>
                    </li>
                    <li>
                        <a ng-show='order.Status != "DRAFT"' ng-href="/erp/api/order/pdf/{{order.ref}}" target="_blank">
                            <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                        </a>
                    </li>
                    <li>
                        <a ng-show='order.Status != "DRAFT" && order.contacts.length' ng-href="#" ng-click="sendEmail()">
                            <i class="fa  fa-envelope"></i> @(mails:SendMail)
                        </a>
                    </li>
                    <li>
                        <a href="#" class="font-red" ng-show="login.rights.order.delete && order.Status !== 'SIGNED'" confirmed-click="remove(order)" ng-confirm-click="Supprimer la commande ?" title="Supprimer la commande">
                            <i class="fa fa-trash-o font-red"></i> @(Delete)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <h3 class="page-title">
        <i class="fa fa-calculator"></i> @(propal:CommercialProposal) {{order.ref}} {{order.client.name}}<small> @(From) {{order.createdAt| date:'@(main:date.format.java.dayhour)'}}</small>
    </h3>
    -->


    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal form-row-seperated">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-info"></i>
                            <span ng-hide="!order._id" class="caption-subject dark bold uppercase">@(orders:Order) - {{order.ref}} - {{order.supplier.fullName}}</span>
                            <span ng-show="!order._id" class="caption-subject dark bold uppercase">@(orders:NewOrder) </span>
                        </div>
                        <div ng-hide="!order._id" ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>
                        <div ng-show="!order._id" ng-include="'/templates/createMenu.html'" class="actions btn-set"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="portlet light mt-element-ribbon portlet-fit bordered ">
                <div ng-hide="!order._id" class="ribbon ribbon-right ribbon-clip ribbon-shadow ribbon-border-dash-hor uppercase" ng-class="order.status.css">
                    <div class="ribbon-sub ribbon-clip ribbon-right"></div> {{order.status.name}} </div>
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>
                        <span class="caption-subject uppercase"> @(orders:Details)</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="entity" ng-model="order.entity" ng-options="entity.id as entity.name for entity in entityList"></select>
                                <label for="entity">@(Entity)</label>
                            </div>

                            <div class="form-group form-md-line-input ">
                                <input type="text" class="form-control" id="ref_client" ng-model="order.ref_client">
                                <label for="ref_client">@(orders:RefCustomerOrder)</label>
                            </div>

                            <div ng-hide="!order._id" class="form-group form-md-line-input">
                                <div class="form-control form-control-static"> {{order.ref}} </div>
                                <label for="form_control_1">@(Ref) @(propal:CommercialProposal)</label>
                            </div>

                            <div ng-hide="!order._id" class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <div class="form-control form-control-static"> {{order.supplier.salesPurchases.priceList.priceListCode}} </div>
                                        <label for="price_level">@(products:PriceLevel)</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <div class="form-control form-control-static"> {{order.total_ht| currency}} @(HT) </div>
                                        <label for="form_control_1">@(Amounts) @(propal:CommercialProposal)</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group form-md-line-input">
                                <div class="form-control form-control-static"> {{history.date| date:'dd/MM/yyyy HH:mm'}} {{history.msg}}</div>
                                <label for="form_control_1">@(Logs)</label>
                            </div>

                            <div class="row">
                                <!-- <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <select class="form-control" id="Status" ng-model="order.Status" ng-options="s.id as s.label for s in dict.fk_order_status.values">
                                                </select>
                                        <label for="Status">@(Status)</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-md-line-input">
                                        <div class="form-control form-control-static"> {{order.updatedAt|date:'dd/MM/yyyy HH:mm'}} </div>
                                        <label for="form_control_1">@(DateLastModification)</label>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <crm-id label="@(companies:Customer)" name="societeId" ng-model="order.supplier" entity="order.entity" url="/erp/api/societe/autocomplete" required="true" on-select="updateAddress" placeholder="@(companies:CompanyName)" class="form-group form-md-line-input"></crm-id>


                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="type" ng-model="order.type" ng-options="s.id as s.label for s in dict.fk_input_reason.values">
                                       </select>
                                <label for="type">@(orders:OrderMode)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="delivery_mode" ng-model="order.delivery_mode" ng-options="s as s for s in delivery_mode">
                                        </select>
                                <label for="delivery_mode">@(orders:RemovingOrder)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" id="dateLivraison" date-input ng-model="order.date_livraison">
                                <label for="dateLivraison">@(DeliveryDate)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="cond_reglement_code" ng-model="order.cond_reglement_code" ng-options="s.id as s.label for s in dict.fk_payment_term.values">
                                        </select>
                                <label for="cond_reglement_code">@(deliveries:PaymentConditions)</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="mode_reglement_code" ng-model="order.mode_reglement_code" ng-options="s.id as s.label for s in dict.fk_paiement.values">
                                        </select>
                                <label for="mode_reglement_code">@(bills:PaymentMode)</label>
                            </div>

                            <div class="form-group form-md-line-input">
                                <select class="form-control" id="commercial_id" ng-model="order.salesPerson" ng-options="s._id as s.fullName for s in $dict.employees">
                                </select>
                                <label for="commercial_id">@(commercial:Commercial)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-money"></i>
                        <span class="caption-subject uppercase"> @(bills:BillAddress)</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: block;">
                    <div class="form-group form-md-line-input ">
                        <address ng-model=order.address></address>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-truck"></i>
                        <span class="caption-subject uppercase"> @(deliveries:DeliveryAddress)</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: none;">
                    <div class="form-group form-md-line-input ">
                        <address ng-model=order.shippingAddress></address>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-md-5 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>
                        <span class="caption-subject uppercase"> @(Contacts)</span>
                    </div>
                    <div class="tools">
                        <a href="" class="expand" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body" style="display: none;">
                    <form editable-form name="contactForm" onaftersave="update()">

                        <div class="portlet-title">
                            <div class="caption font-yellow-crusta">
                                <i class="fa fa-group font-yellow-crusta"></i> @(Contacts)
                            </div>
                        </div>
                        <div class="portlet-body" crm-contact model="bill.contacts" societe="bill.client"></div>

                    </form>
                </div>
            </div>
        </div>-->
    </div>
</div>






<div ng-hide="!order._id" class="row">
    <div class="col-md-12 col-sm-12">
        <product-lines ng-model="order.lines" title="'@(ShoppingCard)'" ng-disabled="editable" price-list="order.supplier.salesPurchases.priceList._id" ng-change="update()"></product-lines>
    </div>
</div>


<div ng-hide="!order._id" class="row">
    <div class="col-md-7 col-sm-12">
        <crm-notes ng-model="order.notes[0]" ng-change="update()"></crm-notes>
    </div>

    <div class="col-md-5 col-sm-12">
        <div class="portlet light portlet bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plane font-grey-gallery"></i>
                    <span class="caption-subject bold font-grey-gallery uppercase"> @(Options) </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info align-reverse">
                    <div class="col-md-5 name">@(TotalWeight) : </div>
                    <div class="col-md-7 value">{{order.weight| number : 2}} kg</div>
                </div>

                <div class="row static-info align-reverse">
                    <div class="col-md-5 name">@(deliveries:ShippingCost) : <span class="icon-pencil grey" ng-click="shipping.$show()" ng-hide="shipping.$visible || !editable"></span></div>
                    <div class="col-md-7 value"><span editable-text="order.shipping.total_ht" e-style="width: 80px" blur="submit" buttons="no" onaftersave="update()" e-form="shipping">
                                                {{order.shipping.total_ht| currency}}
                                            </span></div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-5 name">@(bills:DiscountGlobal) : <span class="icon-pencil grey" ng-click="discount.$show()" ng-hide="discount.$visible || !editable"></span></div>
                    <div class="col-md-7 value"><span editable-number="order.discount.discount.percent" e-min="0" e-step="0.01" e-max="100" e-style="width: 80px" blur="submit" buttons="no" onaftersave="update()" e-form="discount">
                                                {{order.discount.discount.percent | percent:2}}  (-{{order.discount.discount.value | currency}})
                                            </span></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-offset-7 col-md-5 col-sm-12">
        <div class="portlet mt-element-ribbon light portlet-fit bordered">
            <div class="ribbon ribbon-vertical-right ribbon-shadow ribbon-color-warning uppercase">
                <div class="ribbon-sub ribbon-bookmark"></div>
                <i class="fa fa-pause"></i>
            </div>
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-control-pause font-yellow-crusta"></i>
                    <span class="caption-subject font-yellow-crusta bold uppercase">@(Totaux)</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row static-info align-reverse">
                    <div class="col-md-5 name">@(AmountHT) :</div>
                    <div class="col-md-7 value">{{order.total_ht| currency}}</div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-5 name">@(AmountTaxes) :</div>
                    <div class="col-md-7 value">
                        <div class="row static-info align-reverse" ng-repeat="vat in order.total_taxes">
                            <div class="col-md-6 name">{{vat.taxeId.langs[0].label}}</div>
                            <div class="col-md-6 value">{{vat.value| currency}}</div>
                        </div>
                    </div>
                </div>
                <div class="row static-info align-reverse">
                    <div class="col-md-5 name bold">@(AmountTTC) :</div>
                    <div class="col-md-7 value bold">{{order.total_ttc| currency}}</div>
                </div>
            </div>
        </div>
    </div>
</div>