<div>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="home">@(Home)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>@(Parameters)</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span> @(users:Collaborators)</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <a class="btn yellow-lemon dropdown-toggle" href="javascript:;" data-toggle="dropdown"> @(Tools)
                     <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" onclick="javascript:window.print();"><i class="fa fa-print"></i> 
                                        @(PrintList) </a>
                    </li>
                    <li>
                        <a href="#" class="font-red" ng-show="login.rights.user.delete" confirmed-click="remove()" ng-confirm-click="@(users:ConfirmDeleteUser)">
                            <i class="fa fa-trash-o font-red"></i> @(Delete)
                        </a>
                    </li>
                    <!--    <li>
                                        <a href="#">
                                            @(Delete) </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            @(BuildPDF) </a>
                                    </li>-->
                </ul>
            </div>
        </div>
    </div>


    <div>
        <div class="portlet light portlet-form bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>
                    <span class="caption-subject dark bold uppercase">@(users:ListOfUsers)</span>
                </div>
                <!--<div class="caption">
                <i class="fa fa-user font-blue"></i>
                <span class="caption-subject font-blue sbold uppercase">@(users:ListOfUsers)</span>
            </div>-->

                <div class="actions">
                    <button class="btn green" ui-sref="user.create">@(Add) <i class="fa fa-plus"></i></button>
                    <button title="@(Refresh)" class="btn btn-circle btn-icon-only btn-default" ng-click="find()"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="portlet-body">

                <div class="col-md-3">
                    <div class="form-group form-md-line-input ">
                        <select ng-show="login.multiEntities" ng-model="entity" ng-change="setEntity(entity); find();" ng-options="s.id as s.name for s in entityList" class="form-control"></select>
                        <label for="Status">@(companies:Entity)</label>
                    </div>
                </div>
                <!-- <div class="form-group form-md-line-input">
                <div class="row hidden-print">
                    <div class="form-group form-md-line-input">

                        <label class="col-md-2 control-label text-right" for="form_control_1">@(orders:FilterbyStatus)</label>
                        <div class="col-md-3">
                            <select ng-model="type" ng-change="setCache('type', type);
                                    find();" ng-options="s.id as s.name for s in types" class="form-control">
                            </select>
                            <div class="form-control-focus"> </div>
                        </div>
                        <div class="col-md-1"></div>
                        <label class="col-md-2 control-label text-right" for="form_control_1">@(orders:FilterbyFamily)</label>
                        <div class="col-md-3">
                            <div class="input-icon input-icon-sm right">
                                <i class="fa fa-times" ng-click="family = null;
                                        find();"></i>
                                <input class="form-control" placeholder="@(Family)" ng-model="family" typeahead="f.id as f.name for f in AutoComplete($viewValue,'/erp/api/product/family/autocomplete')" typeahead-on-select="find()" type="text" autocomplete="off" />
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
                <div class="dataTables_wrapper table-responsive">
                    <div class="col-md-12">
                        <table class="table dataTable table-hover" id="userList">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">
                                        <input type="checkbox" class="group-checkable" />
                                    </th>
                                    <th>@(users:UserName)</th>
                                    <th>@(Email)</th>
                                    <th>@(users:Group)</th>
                                    <th>@(users:LastConnection)</th>
                                    <th width="100px">@(users:CreatedAt)</th>
                                    <th width="80px">@(Status)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>