<div class="row">
    <div class="col-md-4">
        <div class="portlet blue-steel box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-truck"></i>@(orders:DeliveriesParameters)
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <table class="info-table">
                        <tbody>
                            <tr>
                                <th scope="row">@(compta:CustomerAccountancyCode)</th>
                                <td><a href="#" editable-text="societe.code_compta" buttons="no" onaftersave="update()">
                                        {{ societe.code_compta || '@(main:Undefined)' }}
                                    </a></td>
                            </tr>
                            <tr ng-hide="societe.fournisseur == 'NO'">
                                <th scope="row">@(compta:SupplierAccountancyCode)</th>
                                <td><a href="#" editable-text="societe.code_compta_fournisseur" buttons="no" onaftersave="update()">
                                        {{ societe.code_compta_fournisseur || '@(main:Undefined)' }}
                                    </a></td>
                            </tr>
                            <tr>
                                <th scope="row">@(companies:VATIsUsed)</th>
                                <td><input type="checkbox" data-ng-model="societe.VATIsUsed" data-ng-checked="societe.VATIsUsed" data-ng-change="update()" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@(companies:VATIntra)</th>
                                <td><a href="#" editable-text="societe.idprof6" buttons="no" onaftersave="update()">
                                        {{ societe.idprof6 || '@(main:Undefined)' }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@(orders:PaymentConditions)</th>
                                <td>
                                    <a href="#" editable-select="societe.cond_reglement" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_payment_term.values" onaftersave="update()">{{ showStatus('cond_reglement', 'fk_payment_term')}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> @(orders:PaymentMode) </th>
                                <td>
                                    <a href="#" editable-select="societe.mode_reglement" buttons="no" e-ng-options="s.id as s.label for s in dict.fk_paiement.values" onaftersave="update()">
                                        {{ showStatus('mode_reglement', 'fk_paiement')}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> @(orders:PaymentBank) </th>
                                <td>
                                    <a href="#" editable-select="societe.bank_reglement" buttons="no" e-ng-options="s.ref as s.ref for s in banks" onaftersave="update()">
                                        {{societe.bank_reglement|| '@(main:Undefined)'}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@(products:PriceLevel)</th>
                                <td>
                                    <a href="#" editable-text="societe.price_level" e-typeahead="price_level.name for price_level in priceLevelAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" buttons="no" onaftersave="update()">
                                        {{ societe.price_level || '@(main:Undefined)' }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">@(companies:CustomerRelativeDiscountShort)</th>
                                <td>{{societe.remise_client}}</td>
                            </tr>
                            <tr>
                                <th scope="row">@(bank:IBAN)</th>
                                <td>{{societe.iban.id}}</td>
                            </tr>
                            <tr>
                                <th scope="row">@(bank:BIC)</th>
                                <td>{{societe.iban.bic}}</td>
                            </tr>
                            <tr>
                                <th scope="row">@(companies:ThirdPartyBilling)</th>
                                <td><a href="#" editable-text="societe.cptBilling" e-typeahead="societe as societe.name for societe in societeAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" buttons="no" onaftersave="update()">
                                        {{societe.cptBilling.name|| "Lui-même"}}
                                    </a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-8 profile-info"></div>
            <div class="col-md-4">
                <div class="portlet sale-summary">
                    <div class="portlet-body">
                        <ul class="list-unstyled">
                            <li>
                                <span class="sale-info">
                                    @(orders:DateLastBill) <i class="fa fa-img-up"></i>
                                </span>
                                <span class="sale-num">
                                    {{ societe.updatedAt | date:'@(main:date.format.java.dayhour)' }} </span>
                            </li>
                            <li>
                                <span class="sale-info">
                                    @(orders:DateLastPayment) <i class="fa fa-img-down"></i>
                                </span>
                                <span class="sale-num">
                                    {{societe.status.name}} </span>
                            </li>
                            <li>
                                <span class="sale-info">
                                    @(orders:TotalInvoicedThisMonth) <i class="fa fa-img-up"></i>
                                </span>
                                <span class="sale-num">
                                    {{societe.commercial_id.name}} </span>
                            </li>
                            <li>
                                <span class="sale-info">
                                    @(orders:TotalInvoicedThisYear) </span>
                                <span class="sale-num">
                                    27 </span>
                            </li>
                            <li>
                                <span class="sale-info">
                                    @(orders:RemainderToTake) </span>
                                <span class="sale-num">
                                    42 </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--end col-md-4-->
        </div>
    </div>
    <div class='col-md-8'>
        <tabset class="tabbable-line tabbable-full-width">
            <tab heading="@(orders:DeliveriesReceipt)">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group pull-left">
                                    <button class="btn blue" data-ng-click="addNew()">@(Add) <i class="fa fa-plus"></i></button>
                                    <button title="@(Refresh)" class="btn" data-ng-click="
                                                            commercialList = [];
                                                            commercial_id = '';
                                                            status_id = null;
                                                            filterOptionsSociete.filterText = '';
                                                            clearCache();
                                                            find();"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">@(Tools) <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#">
                                                @(Update) </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                @(Delete) </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-striped table-bordered table-hover" id="societeListsendingsShipments">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">
                                        <input type="checkbox" class="group-checkable">
                                    </th>
                                    <th>@(orders:DeliveryID)</th>
                                    <th>@(AmountHTShort)</th>
                                    <th>@(orders:OrderId)</th>
                                    <th>@(Status)</th>
                                    <th>@(Author)</th>
                                    <th>@(DateCreation)</th>
                                    <th>@(orders:DeliveryDate)</th>
                                    <th>@(DateLastModification)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </tab>
            <tab heading="@(sendings:Shipments)">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group pull-left">
                                    <button class="btn blue" data-ng-click="addNew()">@(Add) <i class="fa fa-plus"></i></button>
                                    <button title="@(Refresh)" class="btn" data-ng-click="
                                                            commercialList = [];
                                                            commercial_id = '';
                                                            status_id = null;
                                                            filterOptionsSociete.filterText = '';
                                                            clearCache();
                                                            find();"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">@(Tools) <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#">
                                                @(Update) </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                @(Delete) </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-striped table-bordered table-hover" id="societeListsendingsShipments">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">
                                        <input type="checkbox" class="group-checkable">
                                    </th>
                                    <th>@(orders:DeliveryID)</th>
                                    <th>@(Date)</th>
                                    <th>@(orders:DeliveryMethod)</th>
                                    <th>@(orders:TrackingNumber)</th>
                                    <th>@(orders:OrderId)</th>
                                    <th>@(Status)</th>
                                    <th>@(Author)</th>
                                    <th>@(DateCreation)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </tab>
            <tab heading="@(sendings:Receivings)">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="btn-group pull-left">
                                    <button class="btn blue" data-ng-click="addNew()">@(Add) <i class="fa fa-plus"></i></button>
                                    <button title="@(Refresh)" class="btn" data-ng-click="
                                                            commercialList = [];
                                                            commercial_id = '';
                                                            status_id = null;
                                                            filterOptionsSociete.filterText = '';
                                                            clearCache();
                                                            find();"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group pull-right">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">@(Tools) <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="#">
                                                @(Update) </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                @(Delete) </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dataTables_wrapper no-footer">
                        <table class="table table-striped table-bordered table-hover" id="societeListsendingsShipments">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">
                                        <input type="checkbox" class="group-checkable">
                                    </th>
                                    <th>@(orders:DeliveryID)</th>
                                    <th>@(Date)</th>
                                    <th>@(orders:DeliveryMethod)</th>
                                    <th>@(orders:TrackingNumber)</th>
                                    <th>@(orders:OrderId)</th>
                                    <th>@(Status)</th>
                                    <th>@(Author)</th>
                                    <th>@(DateCreation)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </tab>
    </div>
</div>