<div class="modal-header">
    <h3 class="modal-title">@(companies:NewContact)</h3>
</div>
<div class="modal-body">
    <form ng-init='init()' role="form">

        <div class="form-group">
            <label>@(companies:Lastname)</label>
            <div class="row">
                <div class="col-md-3">
                    <select class="form-control" required data-ng-model="contact.civilite" id="poste" data-ng-options="c.label as c.label for c in dict.fk_civilite.values"></select>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input required type="text" placeholder="@(companies:Lastname)" id="nom" ng-model="contact.lastname" class="form-control" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>@(companies:Firstname)</label>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <input required type="text" placeholder="@(companies:Firstname)" id="firstName" ng-model="contact.firstname" class="form-control" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>@(companies:birthday)</label>

            <div class="input-group">
                <input date-input ng-model="contact.birthday">
            </div>
        </div>

        <div class="form-group">
            <label>@(companies:Address)</label>

            <div crm-address mode="create" model="contact"></div>
        </div>

        <div class="form-group">
            <label>@(companies:Tel-Mobile)</label>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </span>
                <input type="text" ng-model="contact.phone_mobile" class="form-control" autocomplete="off">
            </div>
            <p ng-show="!(contact.phone_mobile || contact.phone || contact.email)" class="help-block"> Au moins l'email ou un numéro de téléphone est obligatoire pour la création d'un contact. </p>
        </div>

        <div class="form-group">
            <label>@(companies:Tel-Fixe)</label>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-phone"></i>
                </span>
                <input type="text" ng-model="contact.phone" class="form-control" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>@(Email)</label>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                <input type="text" ng-model="contact.email" class="form-control" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>@(companies:PostOrFunction)</label>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user"></i>
                </span>
                <select class="form-control" required data-ng-model="contact.poste" id="poste" data-ng-options="c.label as c.label for c in dict.fk_job.values"></select>
            </div>
        </div>

        <div class="form-group">
            <label>@(companies:Soncas)</label>

            <div class="checkbox-list">
                <label ng-repeat="Soncas in soncas">
                    <span><input uniform type="checkbox" checklist-model="contact.soncas" checklist-value="Soncas" ></span> {{Soncas}} </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="!(contact.phone_mobile || contact.phone || contact.email)" ng-click="createContact()">@(Create)</button>
    <button class="btn btn" type="button" ng-click="cancel()">@(Cancel)</button>
</div>