<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="offer.list">@(propal:CommercialProposals)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span ng-hide="!offer._id">@(propal:Prop) : {{offer.ref}}</span>
            <span ng-show="!offer._id">@(propal:NewProp)</span>

        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <a class="btn purple-sharp dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-flag"></i> {{languages[_language].name}} <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li ng-repeat="s in languages">
                    <a href="#" ng-click="setLanguage(s.idx)">
                        <i class="fa fa-copy"></i> {{s.name}}
                    </a>

                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <!--   <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(PrintPDF)
                    </a>
                </li> -->
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.offer.delete" confirmed-click="remove(product)" ng-confirm-click="Supprimer le devis ?" title="Supprimer le devis">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<h3 class="page-title" ng-class="{'font-red':!product.info.isActive}">
    <i class="fa fa-cubes font-grey-silver"></i> @(products:ProductServiceCard) : {{product.info.langs[0].name}} <small ng-hide="!product.info.isActive" class="font-green">@(Enabled)</small><small ng-show="!product.info.isActive" class="font-red">@(Disabled)</small>
</h3>-->

<div ng-if="offer.isremoved" class="alert alert-danger"><strong>Attention !</strong> Ce produit est supprime. </div>

<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet">
                <div class="profile">
                    <img ng-src="{{getImage('product', product.imageSrc)}}" class="img-responsive" alt="Product" />
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">@(propal:Prop) : {{offer.ref}}
                    </div>

                    <!-- <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                            <input type="checkbox" id="isSell" class="md-check" ng-model="product.isSell" ng-checked="product.isSell">
                            <label for="isSell">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Status.OnSell)</label>
                        </div>
                        <div class="md-checkbox">
                            <input type="checkbox" id="isBuy" class="md-check" ng-model="product.isBuy" ng-checked="product.isBuy">
                            <label for="isBuy">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Status.OnBuy)</label>
                        </div>
                    </div>
                </div>

                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div> -->
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('offer.show.detail')}">
                            <a ui-sref="offer.show.detail({id:offer._id})">
                                <i class="icon-info"></i> @(propal:Details) </a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="portlet light">
                <div class="row list-separated profile-stat">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input ">
                            <select class="form-control " id="entity " ng-model="offer.entity " ng-options="entity.id as entity.name for entity in entityList "></select>
                            <label for="entity ">@(Entity)</label>
                        </div>
                        <crm-id label="@(companies:Customer) " name="societeId " ng-model="offer.supplier " entity="offer.entity " url="/erp/api/societe/autocomplete " required="true " on-select="updateAddress " placeholder="@(companies:CompanyName)" class="form-group form-md-line-input "></crm-id>
                    </div>
                </div>

                <div class="row list-separated profile-stat">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{offer.createdAt|date:'dd/MM/yyyy'}} </div>
                        <div class="uppercase profile-stat-text"> @(DateCreation)</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{offer.updatedAt|date:'dd/MM/yyyy'}} </div>
                        <div class="uppercase profile-stat-text"> @(DateModification) </div>
                    </div>
                </div>

                <div class="row list-separated profile-stat">
                    <div class="col-md-12">
                        <div class="uppercase profile-stat-text">@(Logs)</div>
                        <div class="uppercase profile-stat-title"> {{offer.history.date| date:'dd/MM/yyyy HH:mm'}} {{offer.history.msg}}</div>
                    </div>
                </div>

            </div>

        </div>

        <div ui-view class="profile-content fade-in-up"></div>
    </div>
</div>