<div>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="home">@(Home)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>@(orders:Logistics)</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span ng-if="module('delivery')">@(orders:PreparationReceipt)</span>
                <span ng-if="module('deliverysupplier')">@(orders:SuppliersDeliveries)</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button class="btn yellow-crusta dropdown-toggle uppercase" data-toggle="dropdown"><i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                            </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" onclick="javascript:window.print();"><i class="fa fa-print"></i> 
                            @(PrintList) </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="changeStatus('VALIDATED','id')"><i class="fa fa-check"></i> 
                            @(orders:ValidateDeliveryReceipt) </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-show="login.rights.delivery.read" ng-click="openUrl('/erp/api/delivery/pdf/', 'id')" target="_blank">
                            <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                        </a>
                    </li>
                    <li>
                        <a ng-show="login.rights.delivery.read" ng-href="/erp/api/delivery/export?contentType=delivery&type=xls&filter={{search}}">
                            <i class="fa fa-file-excel-o"></i> @(Export XLS)</a>
                    </li>
                    <li>
                        <a ng-show="login.rights.delivery.read" ng-click="openUrl('/erp/api/delivery/csv/', 'id')" target="_blank">
                            <i class="fa fa-file-excel-o"></i> @(CSV Etiquettes)</a>
                    </li>
                    <li>
                        <a ng-show="login.rights.delivery.read" ng-click="openUrl('/erp/api/delivery/mvt/', 'id')" target="_blank">
                            <i class="fa fa-file-excel-o"></i> @(CSV Mouvements)</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#" class="font-red" ng-show="login.rights.delivery.delete" confirmed-click="remove()" ng-confirm-click="Supprimer les bons de livraison ?">
                            <i class="fa fa-trash-o font-red"></i> @(Delete)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="portlet light portlet-form bordered waiting">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-calculator"></i>
                <span ng-if="module('delivery')" class="caption-subject dark bold uppercase"> @(orders:ListOfPreparationReceipt)</span>
                <span ng-if="module('deliverysupplier')" class="caption-subject dark bold uppercase"> @(orders:ListOfReceptionSupplier)</span>
            </div>
            <div class="actions">
                <!-- <button class="btn blue" ui-sref="delivery.create">@(Add) <i class="fa fa-plus"></i></button>-->
                <button title="@(Refresh)" class="btn btn-icon-only btn-default" ng-click="find(true)"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="tools">
        </div>
        <div class="portlet-body">
            <div class="row hidden-print">
                <div class="col-md-9">
                    <div class="portlet light bg-inverse">
                        <div class="portlet-body">
                            <form ng-submit="find()">
                                <div class="row">
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label for="Status">@(Ref)</label>
                                            <input ng-model="quickSearch" ng-model-options='{ debounce: 500 }' class="form-control input-sm" ng-change="find()" />
                                        </div>

                                        <crm-id label="@(companies:Company)" name="societeId" placeholder="@(Search)" on-select="find" ng-model="search.supplier.value[0]" entity="login.entity" url="/erp/api/societe/autocomplete" class="form-group" bootstrap="true"></crm-id>

                                        <!--<div class="form-group">
                                                    <label>@(companies:Company)</label>
        
                                                    <tags-input ng-model="search.supplier.value" display-property="fullName" key-property="_id" placeholder="@(Search)" add-from-autocomplete-only="true" on-tag-added="find()" on-tag-removed="find()">
                                                        <auto-complete source="loadAutocomplete($query, '/erp/api/societe/autocomplete')"></auto-complete>
                                                    </tags-input>
                                                </div>-->

                                        <div class="form-group">
                                            <label ng-if="module('delivery')">@(commercial:Commercial)</label>
                                            <label ng-if="module('deliverysupplier')">@(orders:Buyer)</label>
                                            <select ng-model="search.salesPerson.value[0]" id="Status" ng-change="find()" ng-options="s._id as s.fullName for s in $dict.salesPerson" class="form-control input-sm"></select>
                                            <!--<tags-input ng-model="search.salesPerson.value" display-property="fullName" key-property="_id" placeholder="@(Search)" add-from-autocomplete-only="true" on-tag-added="find()" on-tag-removed="find()">
                                                        <auto-complete source="$dict.salesPerson" min-length="0"></auto-complete>
                                                    </tags-input>-->
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Status">@(companies:Entity)</label>
                                            <select ng-show="login.multiEntities" ng-model="search.entity.value[0]" ng-options="s.id as s.name for s in entityList" class="form-control input-sm"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>@(Status)</label>
                                            <select ng-model="search.Status.value[0]" id="Status" ng-options="s.id as s.label for s in dict.fk_order_status.values" class="form-control input-sm"></select>
                                        </div>

                                        <div class="form-group">
                                            <label ng-if="module('delivery')">@(RefCustomer)</label>
                                            <label ng-if="module('deliverysupplier')">@(RefSupplier)</label>
                                            <input ng-model="search.ref_client.value" class="form-control input-sm" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>@(products:Warehouse)</label>
                                            <select ng-model="search.warehouse.value[0]" id="Warehouse" ng-options="s._id as s.name for s in $dict.warehouse" class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>@(DateCreation)</label>
                                            <div filter-date-range ng-model="search.datec.value"></div>
                                        </div>

                                        <div class="form-group">
                                            <label>@(orders:DeliveryDate)</label>
                                            <div filter-date-range ng-model="search.datedl.value"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right no-padding">
                                    <button type="button" class="btn btn-sm default" ng-click="resetFilter()">@(Reset)</button>
                                    <button type="submit" class="btn btn-sm green">@(Search)</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="portlet mt-element-ribbon light portlet-fit bordered ">
                        <div class="ribbon ribbon-vertical-right ribbon-shadow ribbon-color-warning uppercase ">
                            <div class="ribbon-sub ribbon-bookmark "></div>
                            <i class="fa fa-pause "></i>
                        </div>
                        <div class="portlet-title ">
                            <div class="caption ">
                                <i class=" icon-control-pause font-yellow-crusta "></i>
                                <span class="caption-subject font-yellow-crusta bold uppercase ">Totaux</span>
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <div class="row static-info align-reverse ">
                                <div class="col-md-6 name ">@(Qty)</div>
                                <div class="col-md-6 value">{{totalAll.count}}</div>
                            </div>
                            <div class="row static-info align-reverse ">
                                <div class="col-md-6 name bold ">@(Late) > 5j</div>
                                <div class="col-md-6 value bold">{{totalAll.late}}</div>
                            </div>
                            <hr>
                            <div class="row static-info align-reverse" ng-repeat="status in totalAll.Status">
                                <div class="col-md-6 name "><span class="label label-sm" ng-class="status.css">{{status.name}}</span></div>
                                <div class="col-md-6 value">{{status.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table-pagination ng-model="page"></table-pagination>
            <div class="no-footer table-responsive">
                <table class="table table-striped table-hover table-condensed no-footer">
                    <colgroup>
                        <col width="42px">
                        <col width="12%">
                        <col width="14%">
                        <col width="8%">
                        <col width="10%">
                        <col width="12%">
                        <col width="8%">
                        <col width="8%">
                        <col width="70px">
                        <col width="40px">
                        <col width="40px">
                        <col width="40px">
                        <col width="40px">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr role="row" class="heading">
                            <th class="text-center">
                                <input uniform type="checkbox" ng-model="checkAll" ng-checked="checkAll" ng-click="checkedAll()" />
                            </th>
                            <th table-sort='ID' ng-model="sort" name="@(Ref)"></th>
                            <th table-sort='supplier.fullName' ng-model="sort" name="@(companies:Company)"></th>

                            <th ng-if="module('delivery')">@(RefCustomer)</th>
                            <th ng-if="module('deliverysupplier')">@(RefSupplier)</th>

                            <th ng-if="module('delivery')" table-sort='salesPerson.fullName' ng-model="sort" name="@(commercial:Commercial)"></th>
                            <th ng-if="module('deliverysupplier')" table-sort='salesPerson.fullName' ng-model="sort" name="@(orders:Buyer)"></th>

                            <th table-sort='datedl' ng-model="sort" name="@(DeliveryDate)"></th>
                            <th table-sort='qty' ng-model="sort" name="@(Qty)"></th>
                            <th table-sort='weight' ng-model="sort" name="@(Weight)"></th>
                            <th>@(Status)</th>
                            <th>@(companies:Entity)</th>
                            <th class="text-center">@(orders:Printed)</th>
                            <th class="text-center">@(orders:Picked)</th>
                            <th class="text-center">@(orders:Packed)</th>
                            <th class="text-center">@(orders:Shipped)</th>
                            <th>@(DateCreation)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in deliveries">
                            <td class="text-center"><input uniform type="checkbox" ng-model="grid[line._id]" ng-checked="grid[line._id]" /></td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})"><a class=" with-tooltip " ui-sref="delivery.show({id:line._id}) "><i class="fa fa-shopping-cart "></i> {{line.ref}}</a></td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})"><a class=" with-tooltip " ui-sref="deliverysupplier.show({id:line._id}) "><i class="fa fa-shopping-cart "></i> {{line.ref}}</a></td>

                            <td>
                                <a ng-if="line.supplier._id" class="with-tooltip " ui-sref="societe.show({id:line.supplier._id}) "><i class="fa fa-institution "></i> {{line.supplier.fullName}}</a>
                                <span ng-show="!line.supplier._id" class="with-tooltip editable editable-empty ">@(Empty)</span>
                            </td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})">{{line.ref_client}}</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})">{{line.ref_client}}</td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})">{{line.salesPerson.fullName}}</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})">{{line.salesPerson.fullName}}</td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})">{{line.datedl| date:'dd/MM/yyyy'}}</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})">{{line.datedl| date:'dd/MM/yyyy'}}</td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})" class="text-center">{{line.qty}}</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})" class="text-center">{{line.qty}}</td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})" class="text-center">{{line.weight | number:2}} kg</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})" class="text-center">{{line.weight | number:2}} kg</td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})">
                                <span class="label label-sm {{line.Status.css}} "> {{line.Status.name}}</span>
                            </td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})">
                                <span class="label label-sm {{line.Status.css}} "> {{line.Status.name}}</span>
                            </td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})">{{line.entity}}</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})">{{line.entity}}</td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isPrinted" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isPrinted" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Imprimé le : {{line.status.isPrinted | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isPrinted" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isPrinted" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Imprimé le : {{line.status.isPrinted | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isPicked" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isPicked" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Scanné le : {{line.status.isPicked | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isPicked" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isPicked" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Scanné le : {{line.status.isPicked | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isPacked" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isPacked" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Emballé le : {{line.status.isPacked | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isPacked" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isPacked" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Emballé le : {{line.status.isPacked | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isShipped" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isShipped" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Expédié le : {{line.status.isShipped | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})" class="text-center">
                                <span ng-if="!line.status.isShipped" class="fa fa-close font-red"></span>
                                <span ng-if="line.status.isShipped" class="fa fa-check font-green-jungle" data-tooltip-options='{"position":"top"}' title="Expédié le : {{line.status.isShipped | date:'dd/MM/yyyy HH:mm'}}"></span>
                            </td>

                            <td ng-if="module('delivery')" ui-sref="delivery.show({id:line._id})">{{line.datec| date:'dd/MM/yyyy'}}</td>
                            <td ng-if="module('deliverysupplier')" ui-sref="deliverysupplier.show({id:line._id})">{{line.datec| date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table-pagination ng-model="page"></table-pagination>
        </div>
    </div>
</div>