<div>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="home">@(Home)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>@(Sales)</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>@(orders:CustomersOrders)</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button class="btn yellow-crusta dropdown-toggle uppercase" data-toggle="dropdown"><i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                            </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" onclick="javascript:window.print();"><i class="fa fa-print"></i> 
                                        @(PrintList) </a>
                    </li>
                    <li class="divider"></li>
                    <li ng-show="login.rights.delivery.createBills">
                        <a ng-confirm-click="@(orders:ConfirmBillOrders)" ng-confirm-title="@(orders:BillOrders)" confirmed-click="createBills()">
                            <i class="fa fa-money"></i> @(orders:CreateBills)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="portlet light portlet-form bordered waiting">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-calculator"></i>
                <span class="caption-subject dark bold uppercase">@(orders:ListOfCustomersOrders)</span>
            </div>
            <div class="actions">
                <button class="btn blue" ui-sref="order.create">@(Add) <i class="fa fa-plus"></i></button>
                <button title="@(Refresh)" class="btn btn-icon-only btn-default" ng-click="find(true)"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="tools">
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row hidden-print">
                    <div class="form-group form-md-line-input">
                        <div class="col-md-3">
                            <tags-input ng-model="search.supplier.value" text="_id" display-property="fullName" key-property="_id" placeholder="@(Search) @(companies:Companies)" add-from-autocomplete-only="true" on-tag-added="find()" on-tag-removed="find()">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>{{search}}

                            <tags-input ng-model="search.entity.value" text="_id" display-property="name" key-property="id" placeholder="@(Search) @(Entities)" add-from-autocomplete-only="true" on-tag-added="find()" on-tag-removed="find()">
                                    <auto-complete source="entityList" min-length="0"></auto-complete>
                                </tags-input>


                            <div class="form-group form-md-line-input ">
                                <select ng-model="status_id" ng-change="find();" id="Status" ng-options="s.id as s.label for s in dict.fk_order_status.values" class="form-control"></select>
                                <label for="Status">@(Status)</label>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-md-line-input ">
                                <select ng-show="login.multiEntities" ng-model="entity" ng-change="setEntity(entity); find();" ng-options="s.id as s.name for s in entityList" class="form-control"></select>
                                <label for="Status">@(companies:Entity)</label>
                            </div>
                        </div>

                        <!--<label class="col-md-2 control-label text-right" for="form_control_1">@(orders:FilterbyStatus)</label>

                        <div class="col-md-3">
                            <select ng-model="status_id" ng-change="find();" ng-options="s.id as s.label for s in dict.fk_offer_status.values" class="form-control">
                                <option value="">-- @(All) --</option>
                            </select>
                            <div class="form-control-focus"> </div>
                        </div>

                        <label class="col-md-2 control-label text-right" for="form_control_1">@(orders:FilterbyEntity)</label>

                        <div class="col-md-3">
                            <select ng-show="login.multiEntities" ng-model="entity" ng-change="setEntity(entity);
                                    find();" ng-options="s.id as s.name for s in entityList" class="form-control">
                            </select>
                            <div class="form-control-focus"> </div>
                        </div>
                        <div class="col-md-1"></div>-->

                    </div>
                </div>
            </div>

            <div id="searchContainer">
                <div class="search-view">
                    <div class="search-field">
                        <span class="search icon-search"></span>

                        <div id="searchGlobalContainer">
                            <div id="searchFilterContainer"></div>
                            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                            <div id="searchInput" data-text="Search" contenteditable="" class="ui-autocomplete-input" autocomplete="off"></div>
                            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-9" tabindex="0" style="display: none;"></ul>
                        </div>
                        <span class="search-content icon-caret-down"></span>
                    </div>
                    <div class="search-options hidden">
                        <ul class="filter-dialog-tabs">
                            <li data-value="#filtersContent" class="filterTabs active">
                                <span class="icon-filter"></span> Filters
                                <span class="caret"></span>
                            </li>
                            <li data-value="#favoritesContent" class="filterTabs">
                                <span class="icon-star2"></span> Favorites
                                <span class="caret"></span>
                            </li>
                        </ul>

                        <div class="drop-down-filter">
                            <ul class="condition hidden">
                                <span class="CondParagraph">Condition</span>
                                <li class="conditionAND">
                                    <input type="checkbox" checked="" id="logicCondition" value="and">
                                    <label for="logicCondition">AND</label>
                                </li>
                            </ul>
                            <!--<li class="hidden">
                        <input type="checkbox" id="defaultFilter" value="empty">
                        <label for="defaultFilter">Clear</label>
                    </li>-->

                            <li class="hidden group btn btn-default customFilter">
                                Add Custom Filter
                            </li>

                            <div id="filtersContent" class="tabContent">
                                <div id="supplierFullContainer" class="filterGroup" data-value="supplier._id">
                                    <div class="groupName">
                                        <span id="supplier">Supplier</span>
                                    </div>
                                    <div id="supplierContainer" class="ulContent hidden">
                                        <div class="_filterContent">

                                            <ul id="supplierUl" class="filterValues">
                                                <li class=" " data-value="57c9ac51d07eb4d23e0b8cc5">
                                                    <span class="icon icon-checked2"></span> Angelika Wietowska
                                                </li>

                                                <li class=" " data-value="57c993c1d07eb4d23e0b8c42">
                                                    <span class="icon icon-checked2"></span> Jane Doe
                                                </li>

                                                <li class=" " data-value="57c996b2d07eb4d23e0b8c56">
                                                    <span class="icon icon-checked2"></span> Lisa Shephard
                                                </li>

                                                <li class=" " data-value="57c99a50d07eb4d23e0b8c6b">
                                                    <span class="icon icon-checked2"></span> Vivian Tseng
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div id="workflowFullContainer" class="filterGroup" data-value="workflow._id">
                                    <div class="groupName">
                                        <span id="workflow">Status</span>
                                    </div>
                                    <div id="workflowContainer" class="ulContent hidden">
                                        <div class="_filterContent">

                                            <ul id="workflowUl" class="filterValues">
                                                <li class=" " data-value="55647b932e4aa3804a765ec5">
                                                    <span class="icon icon-checked2"></span> Draft/ Quotation
                                                </li>

                                                <li class=" " data-value="56599347bfd103f108eb4caa">
                                                    <span class="icon icon-checked2"></span> Invoiced received
                                                </li>

                                                <li class=" " data-value="5555bf276a3f01acae0b5561">
                                                    <span class="icon icon-checked2"></span> Pending PO
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="favoritesContent" class="tabContent hidden">
                                <div class="forSavedFilters"></div>
                                <div class="filter_name_wrapper">
                                    <div class="_animateInputBox">
                                        <input type="text" id="forFilterName" class="_animate" maxlength="24" required="">
                                        <label class="_animate">Filter name</label>
                                    </div>
                                </div>

                                <div class="_actionGroup">

                                    <button class="btn blue" id="saveFilterButton">Save</button>

                                    <div class="useByDefault _defaultWrp">
                                        <label class="_animatedCheckbox">
              <input type="checkbox" class="defaultFilter" id="defaultFilter">
              <span></span>
            </label>
                                        <span class="_description">Use by default</span>
                                    </div>

                                </div>

                                <ul id="savedFiltersElements" class="_savedFiltersElements">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="no-footer table-responsive">
                <table class="table table-striped table-hover table-condensed no-footer">
                    <colgroup>
                        <col width="42px">
                        <col width="12%">
                        <col width="14%">
                        <col width="8%">
                        <col width="10%">
                        <col width="12%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="70px">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr role="row" class="heading">
                            <th class="text-center">
                                <input uniform type="checkbox" ng-model="checkAll" ng-checked="checkAll" />
                            </th>
                            <th table-sort='ID' ng-model="sort" name="@(Ref)"></th>
                            <th table-sort='supplier.fullName' ng-model="sort" name="@(companies:Company)"></th>
                            <th>@(RefCustomer)</th>
                            <th table-sort='salesPerson.fullName' ng-model="sort" name="@(commercial:Commercial)"></th>
                            <th table-sort='datedl' ng-model="sort" name="@(DeliveryDate)"></th>
                            <th>@(TotalHT)</th>
                            <th>@(TotalTTC)</th>
                            <th>@(AmountPaid)</th>
                            <th>@(Status)</th>
                            <th></th>
                            <th>@(DateCreation)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in orders" ui-sref="order.show({id:line._id})">
                            <td class="text-center"><input uniform type="checkbox" ng-model="grid[line._id]" ng-checked="grid[line._id]" /></td>
                            <td><a class="with-tooltip" ui-sref="order.show({id:line._id})"><i class="fa fa-shopping-cart"></i> {{line.ref}}</a></td>
                            <td>
                                <a ng-if="line.supplier._id" class="with-tooltip" ui-sref="societe.show({id:line.supplier._id})"><i class="fa fa-institution"></i> {{line.supplier.fullName}}</a>
                                <span ng-show="!line.supplier._id" class="with-tooltip editable editable-empty"> @(Empty)</span>
                            </td>
                            <td>{{line.ref_client}}</td>
                            <td>{{line.salesPerson.fullName}}</td>
                            <td>{{line.datedl| date:'dd/MM/yyyy'}}</td>
                            <td>{{line.total_ht| currency}}</td>
                            <td>{{line.total_ttc| currency}}</td>
                            <td>{{line.total_paid| currency}}</td>
                            <td>
                                <span class="label label-sm {{line.Status.css}}"> {{line.Status.name}}</span>
                            </td>
                            <td>
                                <div class="pull-right">
                                    <span class="large fa fa-check-circle" ng-class="{ 'font-grey': line.status.allocateStatus=='NOR','font-green-jungle': line.status.allocateStatus=='ALL' , 'font-yellow-lemon': line.status.allocateStatus=='NOA', 'font-red' : line.status.allocateStatus=='NOT' }"></span>
                                    <span class="large fa fa-inbox" ng-class="{ 'font-grey': line.status.fulfillStatus=='NOR', 'font-green-jungle': line.status.fulfillStatus=='ALL', 'font-yellow-lemon': line.status.fulfillStatus=='NOA', 'font-red' : line.status.fulfillStatus=='NOT' }"></span>
                                    <span class="large fa fa-truck" ng-class="{ 'font-grey': line.status.shippingStatus=='NOR','font-green-jungle': line.status.shippingStatus=='ALL', 'font-yellow-lemon': line.status.shippingStatus=='NOA', 'font-red' : line.status.shippingStatus=='NOT' }"></span>
                                </div>
                            </td>
                            <td>{{line.datec| date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-right">@(Total)</td>
                            <td>{{totalAll.total_ht | currency}}</td>
                            <td>{{totalAll.total_ttc | currency}}</td>
                            <td>{{totalAll.total_paid | currency}}</td>
                            <td colspan="3"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<table-footer ng-model="page"></table-footer>