<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magic-wand"></i>
                        <span class="caption-subject dark bold uppercase"> @(products:NewProductType)</span>
                    </div>
                    <div ng-include="'/templates/createMenu.html'" class="actions btn-set"></div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="object.code">
                                    <label for="form_control_1">@(Code)</label>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="object.langs[0].name">
                                    <label for="form_control_1">@(Name)</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>