<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magic-wand"></i>
                        <span ng-hide="!object._id" class="caption-subject dark bold uppercase"> @(products:ProductType)</span>
                        <span ng-hide="object._id" class="caption-subject dark bold uppercase"> @(products:NewProductType)</span>
                    </div>
                    <save mode="object._id" ng-create="create()" ng-update="update(true)" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">

                                <div class="form-group form-md-line-input">
                                    <input type="number" min="1" class="form-control" id="form_control_1" ng-model="object.sequence">
                                    <label for="form_control_1">@(Code)</label>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="object.langs[0].name">
                                    <label for="form_control_1">@(Name)</label>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="portlet light">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox has-success">
                                            <input type="checkbox" id="isActive" class="md-check" ng-model="object.isActive" ng-checked="object.isActive">
                                            <label for="isActive">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(Activated)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" id="isProduct" ng-disabled="object.isService" class="md-check" ng-model="object.isProduct" ng-checked="object.isProduct">
                                            <label for="isProduct">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Products)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" id="isService" ng-disabled="object.isProduct" class="md-check" ng-model="object.isService" ng-checked="object.isService">
                                            <label for="isService">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Services)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" ng-disabled="object.isService || object.isBundle" id="isInventory" class="md-check" ng-model="object.inventory" ng-checked="object.inventory">
                                            <label for="isInventory">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Inventory)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" ng-disabled="object.inventory || object.isPackaging || object.isDynamic" id="isBundle" class="md-check" ng-model="object.isBundle" ng-checked="object.isBundle">
                                            <label for="isBundle">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Bundle)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" ng-disabled="object.isService || object.isBundle || object.isDynamic" id="isPackaging" class="md-check" ng-model="object.isPackaging" ng-checked="object.isPackaging">
                                            <label for="isPackaging">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Packaging)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" ng-disabled="object.isBundle || object.isPackaging" id="isDynamic" class="md-check" ng-model="object.isDynamic" ng-checked="object.isDynamic">
                                            <label for="isDynamic">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:Dynamic)</label>
                                        </div>
                                    </div>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox">
                                            <input type="checkbox" id="isEShop" class="md-check" ng-model="object.isEShop" ng-checked="object.isEShop">
                                            <label for="isEShop">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:EShop)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>