<div ui-view=""></div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption caption-md">
            <i class="icon-settings font-grey-gallery"></i>
            <span class="caption-subject font-grey-gallery bold uppercase">@(ProductTypes)</span>
        </div>
        <div class="actions">
            <a class="btn blue" ui-sref="settings.product.types.create">@(Add) <i class="fa fa-plus"></i></a>
            <a class="btn btn-icon-only btn-default" ng-click="find()" href="javascript:;"><i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
    <div class="tools">
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper no-footer table-responsive">
                    <div class="col-md-12">
                        <table class="table dataTable no-footer table-hover" id="productTypesList">
                            <thead>
                                <tr role="row" class="heading">
                                    <th>@(Code)</th>
                                    <th>@(Name)</th>
                                    <th>@(products:Inventory)</th>
                                    <th>@(products:Quantity)</th>
                                    <th>@(Action)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="line in listObject">
                                    <td>{{line.sequence}}</td>
                                    <td>{{line.name}}</td>
                                    <td>{{line.inventory}}</td>
                                    <td>{{line.countProducts}}</td>
                                    <td>
                                        <a class="btn green fa fa-pencil" ui-sref="settings.product.types.show({id:line._id})" title="Editer"></a>
                                        <button ng-if="line.inventory == 0" class="btn red fa fa-trash ng-scope" title="Supprimer" ng-confirm-click="@(products:ConfirmDeleteProduct)" confirmed-click="remove(line)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>