<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(products:ProductsAndServices)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="product.attributes.list">@(products:ListOfAttributes) </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span> @(products:Attributes)  : {{object.langs[_language].name}} </span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <a class="btn purple-sharp dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-flag"></i> {{languages[_language].name}} <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li ng-repeat="s in languages">
                    <a href="#" ng-click="setLanguage(s.idx)">
                        <i class="fa fa-copy"></i> {{s.name}}
                    </a>

                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#" ng-click="refreshDirectory()">
                        <i class="fa fa-refresh"></i> @(Refresh)
                    </a>
                </li>
                <!--   <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(PrintPDF)
                    </a>
                </li> -->
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.product.delete" confirmed-click="remove(product)" ng-confirm-click="Supprimer le produit ?" title="Supprimer le produit">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="form-horizontal form-row-seperated">
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-magic-wand"></i>
                <span class="caption-subject dark bold uppercase"> @(products:Attribute) : {{object.langs[_language].name}}</span>
            </div>
            <save mode="object._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
        </div>
        <div class="portlet-body">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="portlet light bordered">
                            <div class="form-group form-md-line-input">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" id="Name" ng-model="object.langs[_language].name">
                                    <label for="Name">@(Name)</label>
                                    <i class="fa fa-flag"></i>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input">
                                <input type="text" class="form-control" id="Code" ng-model="object.code">
                                <label for="Code">@(Code)</label>
                            </div>

                            <div class="form-group form-md-line-input">
                                <select class="table-group-action-input form-control" ng-model="object.group" ng-options="s._id as s.langs[_language].name for s in $dict.attributesGroups"></select>
                                <label for="group">@(products:GroupAttributes)</label>
                            </div>

                            <div class="form-group form-md-line-input">
                                <select class="table-group-action-input form-control" ng-disabled="object._id" id="mode" ng-model="object.mode" ng-options="s.id as s.name for s in $dict.attributesMode | filter : {isActive:true}"></select>
                                <label for="mode">@(Mode)</label>
                            </div>

                            <div class="form-group form-md-line-input">
                                <input type="number" class="form-control" id="Sequence" ng-model="object.sequence" min="0" step="1">
                                <label for="Sequence">@(Sequence)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-show="object.mode == 'metric' || object.mode =='min-max'" ng-if="dict.fk_units.values.length">
                                <select class="table-group-action-input form-control" ng-model="object.metricUnit" ng-options="s.id as s.label for s in dict.fk_units.values"></select>
                                <label for="MetricUnit">@(products:Unit)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-show="object.mode == 'text' || object.mode == 'textarea'">
                                <input type="number" class="form-control" id="maxCharacters" ng-model="object.maxCharacters" min="0" step="1">
                                <label for="maxCharacters">@(products:MaxCharacters)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-show="object.mode == 'text' || object.mode == 'textarea'">
                                <input type="number" class="form-control" id="minCharacters" ng-model="object.minCharacters" min="0" step="1">
                                <label for="minCharacters">@(products:MinCharacters)</label>
                            </div>
                        </div>
                        <div class="portlet light bordered" ng-show="object.mode == 'date' || object.mode=='number' || object.mode=='metric'">
                            <div class="form-group form-md-line-input" ng-show="object.mode == 'date'">
                                <input type="number" class="form-control" id="maxDate" ng-model="object.maxDate">
                                <label for="maxDate">@(products:MaxDate)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-show="object.mode == 'date'">
                                <input type="number" class="form-control" id="minDate" ng-model="object.minDate">
                                <label for="minDate">@(products:MinDate)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-if="object.mode=='number' || object.mode=='metric'">
                                <input type="number" class="form-control" id="maxNumber" ng-model="object.maxNumber">
                                <label for="maxNumber">@(products:MaxNumber)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-if="object.mode=='number' || object.mode=='metric'">
                                <input type="number" class="form-control" id="minNumber" ng-model="object.minNumber">
                                <label for="minNumber">@(products:MinNumber)</label>
                            </div>

                            <div class="form-group form-md-line-input" ng-if="object.mode=='number' || object.mode=='metric'">
                                <input type="number" class="form-control" id="Step" ng-model="object.step" min="0" step="0.0001">
                                <label for="Step">@(Step)</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="portlet light bordered" ng-if="object.mode =='select' && object._id">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-list font-grey-gallery"></i>
                                    <span class="caption-subject font-grey-gallery bold uppercase">@(products:ListOfValues)</span>
                                </div>
                                <div class="tools">
                                    <a href="" class="collapse" data-original-title="" title=""> </a>
                                </div>
                                <div class="actions btn-set">
                                    <button class="btn green" ng-click="object.opts.unshift({optionId : object._id,code: 'New',langs : [{value:'New'}]});edit[_language]=true;" title="@(Add)">@(Add)</button>
                                </div>
                            </div>
                            <div class="portlet-body" style="display: block;">
                                <div class="dataTables_wrapper no-footer table-responsive">
                                    <table class="table table-striped table-bordered table-hover no-footer">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>@(Name)</th>
                                                <th>@(Value)</th>
                                                <th width="15%">@(Action)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="line in object.opts">
                                                <td><span ng-if="!edit[$index]">{{line.code}}</span>
                                                    <input ng-if="edit[$index]" type="text" class="form-control" ng-model="line.code">
                                                </td>
                                                <td><span ng-if="!edit[$index]">{{line.langs[_language].value}}</span>
                                                    <input ng-if="edit[$index]" type="text" class="form-control" ng-model="line.langs[_language].value">
                                                </td>
                                                <td>
                                                    <button ng-if="edit[$index]" class="btn green" ng-click="object.value = line; update(true);" title="@(Save)">@(Save)</button>
                                                    <button ng-if="!edit[$index]" class="btn green fa fa-pencil" ng-click="edit[$index]=true;" title="@(Edit)"></button>
                                                    <button class="btn red fa fa-trash" title="Supprimer" ng-confirm-click="@(products:ConfirmDeleteAttribute)" confirmed-click="object.value = line; object.value.remove=true;update(true);"></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>