<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(products:ProductsAndServices)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span> @(products:ListOfAttributes) </span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <a class="btn purple-sharp dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-flag"></i> {{languages[_language].name}} <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li ng-repeat="s in languages">
                    <a href="#" ng-click="setLanguage(s.idx)">
                        <i class="fa fa-copy"></i> {{s.name}}
                    </a>

                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#" ng-click="find()">
                        <i class="fa fa-refresh"></i> @(Refresh)
                    </a>
                </li>
                <!--   <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(PrintPDF)
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>
            <span class="caption-subject bold uppercase">@(products:ListOfAttributes)</span>
        </div>
        <div class="actions">
            <a class="btn blue" ui-sref="product.attributes.create">@(Add) <i class="fa fa-plus"></i></a>
            <a class="btn btn-icon-only btn-default" ng-click="find()" href="javascript:;"><i class="fa fa-refresh"></i>
            </a>
        </div>
    </div>
    <div class="tools">
    </div>
    <div class="portlet light">
        <div class="form-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper no-footer table-responsive">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover no-footer" id="familyProductList">
                            <thead>
                                <tr role="row" class="heading">
                                    <th>@(Sequence)</th>
                                    <th>@(Name)</th>
                                    <th>@(Code)</th>
                                    <th>@(products:GroupAttributes)</th>
                                    <th>@(products:Value)</th>
                                    <th width="8%" class="text-center">@(CreatedAt)</th>
                                    <th width="8%" class="text-center">@(Action)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="line in listObject">
                                    <td width="50px" class="text-center">{{line.sequence}}</td>
                                    <td width="25%">{{line.langs[_language].name}}</td>
                                    <td>{{line.code}}</td>
                                    <td width="25%">{{line.group.langs[_language].name}}</td>
                                    <td>{{line.mode}}</td>
                                    <td class="text-center">{{line.createdAt | date : "shortDate"}}</td>
                                    <td width="100px" class="text-center">
                                        <a class="btn green fa fa-pencil" ui-sref="product.attributes.show({id:line._id})" title="Editer"></a>
                                        <button class="btn red fa fa-trash ng-scope" title="Supprimer" ng-confirm-click="@(products:ConfirmDeleteAttribut)" confirmed-click="remove(line)"></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>