<script type="text/ng-template" id="searchsupplierproduct.html">
    <a>
        <span ng-bind-html="match.model.ref | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.info.langs[0].name"></span> ({{match.model.directCost |currency}})
    </a>
</script>
<div class="row">
    <div class="col-md-12">
        <div ng-if="product.type == 'PACK' && product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)</div>

        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow-crusta">
                        <i class="fa fa-cubes font-yellow-crusta sbold"></i> @(products:Bundle)
                    </div>
                    <save mode="product._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th>
                                            @(products:Ref)
                                        </th>
                                        <th>
                                            @(Label)
                                        </th>
                                        <th>
                                            @(Qty)
                                        </th>
                                        <th>
                                            @(products:BuyingPriceHT)
                                        </th>
                                        <th>
                                            @(AmountHT)
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-control" ng-model="newPack.id.info.SKU" typeahead="product as product.ref for product in productAutoComplete($viewValue)" typeahead-template-url="searchsupplierproduct.html" typeahead-on-select="addPackProduct($item,'bundles')" placeholder="@(products:ProductRef)"
                                            />
                                        </td>
                                        <td>
                                            {{newPack.id.name}}
                                        </td>
                                        <td>
                                            <input class="form-control" type="number" min="0" step="any" ng-model="newPack.qty" ng-change="changePackQty()" />
                                        </td>
                                        <td>
                                            {{newPack.id.directCost|currency}}
                                        </td>
                                        <td>
                                            {{newPack.total_ht|currency}}
                                        </td>
                                        <td>
                                            <button class="btn btn-circle default" ng-click="addPack('bundles')">
                                                <i class="fa fa-plus"></i></button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="bundle in product.bundles">
                                        <td>
                                            <a class="with-tooltip" ui-sref="product.show({id: bundle.id._id})" data-tooltip-options='{"position":"top"}' title="{{bundle.id.info.SKU}}"><span class="fa fa-cubes"></span> {{bundle.id.info.SKU}}</a>
                                        </td>
                                        <td>
                                            {{bundle.id.info.langs[0].name}}
                                        </td>
                                        <td>
                                            <span editable-number="bundle.qty" e-min="0" e-step="any" onaftersave="update()">
                                                {{bundle.qty}}
                                            </span>
                                        </td>
                                        <td style="text-align: right; ">
                                            {{bundle.id.directCost| currency}}
                                        </td>
                                        <td style="text-align: right; ">
                                            {{bundle.id.directCost * bundle.qty| currency}}
                                        </td>
                                        <td>
                                            <button class="btn btn-circle red" ng-click="deletePack($index,'bundles')">
                                                <i class="fa fa-trash"></i> </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">@(Total)</td>
                                        <td>{{product.directCost | currency}}</td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>