<div class="row">
    <div class="col-md-12">
        <div ng-if="product.type == 'PACK' && product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)</div>

        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share"></i>
                        <span class="caption-subject dark bold uppercase">@(Categories) @(Ecommerce)</span>
                    </div>
                    <save mode="product._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div class="portlet-body" ng-if="product._id">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered" ng-init="init()">

                                    <div class="portlet-body">
                                        <div class="table-toolbar">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <div class="btn-group">
                                                        <button class="btn btn-default" ng-click="expandAll()"><i class="fa fa-plus-square"></i> @(categories:ExpandAll)</button>
                                                        <button class="btn btn-default" ng-click="collapseAll()"><i class="fa fa-minus-square"></i> @(categories:CollapseAll)</button>
                                                        <button title="@(Refresh)" class="btn btn-default" ng-click="find()"><i class="fa fa-refresh"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="btn-group pull-right">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Nested node template -->
                                        <script type="text/ng-template" id="nodes_renderer.html">
                                            <div ui-tree-handle class="tree-node tree-node-content" ng-class="{'bg-yellow': product.info.categories.indexOf(node._id) >= 0}">
                                                <a class="" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-plus-square-o': collapsed,'fa-minus-square-o': !collapsed}"></span></a> <input
                                                    type="checkbox" ng-checked="product.info.categories.indexOf(node._id) >= 0" ng-click="checkCategory(product.info.categories, node._id); product.$update();" /> {{node.langs[0].name}}
                                                <span style="margin-left: 20px;" class="font-blue">{{node.langs[0].linker}}</span>
                                                <small class="pull-right bold h6" ng-show="node.productsCount">{{node.productsCount}} @(products:Products)</small>
                                                <h6 class="">{{node.langs[0].description}}</h6>
                                            </div>
                                            <ol ui-tree-nodes="" ng-model="node.nodes" data-nodrag ng-class="{hidden: collapsed}">
                                                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                                                </li>
                                            </ol>
                                        </script>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div ui-tree="treeOptions" id="tree-root" data-max-depth="5">
                                                    <ol ui-tree-nodes ng-model="categories">
                                                        <li ng-repeat="node in categories" ui-tree-node data-nodrag ng-include="'nodes_renderer.html'"></li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                            <tab-heading>
                                <span ng-if='product.attributes.length' class='badge badge-success'>{{product.attributes.length}}</span> @(products:Cross-Sell)
                            </tab-heading>
                            <div class="row">
                                <div class="col-md-12">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>
                                                    @(products:Ref)
                                                </th>
                                                <th>
                                                    @(Label)
                                                </th>
                                                <th>
                                                    @(Qty)
                                                </th>
                                                <th>
                                                    @(products:BuyingPriceHT)
                                                </th>
                                                <th>
                                                    @(AmountHT)
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="newPack.id.name" typeahead="product as product.name for product in productAutoComplete($viewValue, 'name')" typeahead-template-url="searchsupplierproduct.html" typeahead-on-select="addPackProduct($item)" placeholder="@(products:ProductRef)"
                                                    />
                                                </td>
                                                <td>
                                                    {{newPack.id.label}}
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" min="0" step="any" ng-model="newPack.qty" ng-change="changePackQty()" />
                                                </td>
                                                <td>
                                                    {{newPack.pu_ht|currency}}
                                                </td>
                                                <td>
                                                    {{newPack.total_ht|currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-circle default" ng-click="addPack()">
                                                <i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="pack in product.pack">
                                                <td>
                                                    <a class="with-tooltip" ui-sref="product.show({id: pack.id._id})" data-tooltip-options='{"position":"top"}' title="{{pack.id.ref}}"><span class="fa fa-cubes"></span> {{pack.id.ref}}</a>
                                                </td>
                                                <td>
                                                    {{pack.id.label}}
                                                </td>
                                                <td>
                                                    <span editable-number="pack.qty" e-min="0" e-step="any" onaftersave="update()">
                                                {{pack.qty}}
                                            </span>
                                                </td>
                                                <td style="text-align: right; ">
                                                    {{pack.id.totalCost| currency}}
                                                </td>
                                                <td style="text-align: right; ">
                                                    {{pack.id.totalCost * pack.qty| currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-circle red" ng-click="deletePack($index)">
                                                <i class="fa fa-trash"></i> </button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </tab>

                        <tab ng-if="product._id">
                            <tab-heading>
                                <span ng-if='product.attributes.length' class='badge badge-success'>{{product.attributes.length}}</span> @(products:Up-Sell)
                            </tab-heading>
                            <div class="row">
                                <div class="col-md-12">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>
                                                    @(products:Ref)
                                                </th>
                                                <th>
                                                    @(Label)
                                                </th>
                                                <th>
                                                    @(Qty)
                                                </th>
                                                <th>
                                                    @(products:BuyingPriceHT)
                                                </th>
                                                <th>
                                                    @(AmountHT)
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="newPack.id.name" typeahead="product as product.name for product in productAutoComplete($viewValue, 'name')" typeahead-template-url="searchsupplierproduct.html" typeahead-on-select="addPackProduct($item)" placeholder="@(products:ProductRef)"
                                                    />
                                                </td>
                                                <td>
                                                    {{newPack.id.label}}
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" min="0" step="any" ng-model="newPack.qty" ng-change="changePackQty()" />
                                                </td>
                                                <td>
                                                    {{newPack.pu_ht|currency}}
                                                </td>
                                                <td>
                                                    {{newPack.total_ht|currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-circle default" ng-click="addPack()">
                                                <i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="pack in product.pack">
                                                <td>
                                                    <a class="with-tooltip" ui-sref="product.show({id: pack.id._id})" data-tooltip-options='{"position":"top"}' title="{{pack.id.ref}}"><span class="fa fa-cubes"></span> {{pack.id.ref}}</a>
                                                </td>
                                                <td>
                                                    {{pack.id.label}}
                                                </td>
                                                <td>
                                                    <span editable-number="pack.qty" e-min="0" e-step="any" onaftersave="update()">
                                                {{pack.qty}}
                                            </span>
                                                </td>
                                                <td style="text-align: right; ">
                                                    {{pack.id.totalCost| currency}}
                                                </td>
                                                <td style="text-align: right; ">
                                                    {{pack.id.totalCost * pack.qty| currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-circle red" ng-click="deletePack($index)">
                                                <i class="fa fa-trash"></i> </button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </tab>

                        <tab ng-if="product._id">
                            <tab-heading>
                                <span ng-if='product.attributes.length' class='badge badge-success'>{{product.attributes.length}}</span> @(products:SubstituteProduct)
                            </tab-heading>
                            <div class="row">
                                <div class="col-md-12">

                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr role="row" class="heading">
                                                <th>
                                                    @(products:Ref)
                                                </th>
                                                <th>
                                                    @(Label)
                                                </th>
                                                <th>
                                                    @(Qty)
                                                </th>
                                                <th>
                                                    @(products:BuyingPriceHT)
                                                </th>
                                                <th>
                                                    @(AmountHT)
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-control" ng-model="newPack.id.name" typeahead="product as product.name for product in productAutoComplete($viewValue, 'name')" typeahead-template-url="searchsupplierproduct.html" typeahead-on-select="addPackProduct($item)" placeholder="@(products:ProductRef)"
                                                    />
                                                </td>
                                                <td>
                                                    {{newPack.id.label}}
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" min="0" step="any" ng-model="newPack.qty" ng-change="changePackQty()" />
                                                </td>
                                                <td>
                                                    {{newPack.pu_ht|currency}}
                                                </td>
                                                <td>
                                                    {{newPack.total_ht|currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-circle default" ng-click="addPack()">
                                                <i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                            <tr ng-repeat="pack in product.pack">
                                                <td>
                                                    <a class="with-tooltip" ui-sref="product.show({id: pack.id._id})" data-tooltip-options='{"position":"top"}' title="{{pack.id.ref}}"><span class="fa fa-cubes"></span> {{pack.id.ref}}</a>
                                                </td>
                                                <td>
                                                    {{pack.id.label}}
                                                </td>
                                                <td>
                                                    <span editable-number="pack.qty" e-min="0" e-step="any" onaftersave="update()">
                                                {{pack.qty}}
                                            </span>
                                                </td>
                                                <td style="text-align: right; ">
                                                    {{pack.id.totalCost| currency}}
                                                </td>
                                                <td style="text-align: right; ">
                                                    {{pack.id.totalCost * pack.qty| currency}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-circle red" ng-click="deletePack($index)">
                                                <i class="fa fa-trash"></i> </button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </tab> -->
                </div>
            </div>
        </div>
    </div>
</div>