<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashbord">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="product.list">@(products:Products/Services)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(products:Consumptions)</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div report-date-range ng-model="date" class="date pull-right tooltips btn btn-sm btn-default" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range"></div>
    </div>
</div>
<h3 class="page-title">
    @(products:Consumptions) <small>Basees sur les bons de livraisons</small>
</h3>



<div>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-line-chart"></i>@(products:ProductList) {{entries.year}}
            </div>
        </div>
        <div class="tools">
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-1">
                        <button title="@(Refresh)" class="btn" ng-click="find()"><i class="fa fa-refresh"></i></button>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-4">
                            <select ng-model="mode" ng-change="find();" ng-options="s.id as s.label for s in modes" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!--<div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">@(Tools) <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a ng-href="/erp/api/accounting/download/{{journal}}?start_date={{date.start.toISOString()}}&end_date={{date.end.toISOString()}}" ng-class="{disabled:editable}"  confirmed-click="classImported()" ng-confirm-click="Voulez-vous cloturer l'import et passer les ecritures comme etant importees ? <br> Montant {{totalExportAmount | currency}} ">
                                        <i class="fa fa-download"></i>
                                        @(Download) CSV
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/erp/api/accounting/download/{{journal}}?mode=quadratus&start_date={{date.start.toISOString()}}&end_date={{date.end.toISOString()}}" ng-class="{disabled:editable}"  confirmed-click="classImported()" ng-confirm-click="Voulez-vous cloturer l'import et passer les ecritures comme etant importees ? <br> Montant {{totalExportAmount | currency}} ">
                                        <i class="fa fa-download"></i>
                                        @(Download) Quadratus
                                    </a>
                                </li>
                                <li>
                                    <a ng-href="/erp/api/accounting/download/list?csv=1&journal={{journal}}">
                                        <i class="fa fa-download"></i>
                                        @(orders:AccountingCode)
                                    </a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 col-sm-12">
                        <div id="orderList_filter" class="dataTables_filter">
                            <label>@(Search) : <input type="number" step="any" ng-model="search" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" class="form-control input-small input-sm input-inline" placeholder="@(Amount)" aria-controls="orderList"></label>
                        </div>
                        <div class="table-group-actions pull-right">

                        </div>

                    </div>
                </div>-->
            </div>
            <div class="table-scrollable">
                <table class="table table-striped table-bordered table-advance table-hover">
                    <thead>
                        <tr role="row" class="heading">
                            <th>@(Ref)</th>
                            <th>@(Label)</th>
                            <th class="text-center" ng-repeat="n in []| range:12"> {{n + 1| monthName}} </th>
                            <!--<th class="text-right">@(Weigth)</th>-->
                            <!--<th class="text-right">@(TotalHT)</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entry in entries.items| filterAmount:search">
                            <td>
                                <a href="#" ui-sref="product.show({id:entry.id})"> {{entry.ref}} </a>
                            </td>
                            <td>
                                <div>{{entry.label}}</div>
                            </td>
                            <td class="text-right" ng-repeat="n in []| range:12">
                                <div ng-show="mode == 'AMOUNT'">{{entry.month[n+1].total_ht | currency}}</div>
                                <div ng-show="mode == 'QTY'">{{entry.month[n+1].qty | number:0}}</div>
                                <div ng-show="mode == 'WEIGHT'">{{entry.month[n+1].weight | number:1}}</div>
                            </td>
                        </tr>
                    </tbody>
                    <!--<tfoot> 
                        <tr>
                            <td colspan="8" class="text-right h5">@(compta:Balance)</td>
                            <td class="h5">{{balance| currency}}</td>
                        </tr>
                    </tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>