<div class="row">
    <div class="col-md-12">
        <div ng-if="product.type == 'PACK' && product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)</div>

        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-docs"></i>
                        <span class="caption-subject dark bold uppercase"> @(Declinations)</span>
                    </div>
                    <div ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>

                </div>
                <div class="portlet-body">
                    <div class="form-group form-md-line-input" ng-if="product.isVariant">
                        <div class="row hidden-print">
                            <div class="col-md-12">
                                <a class="btn blue" ng-click="addNewPrice()" disabled href="javascript:;">
                                    <i class="fa fa-plus"></i> Ajouter un produit existant
                                </a>
                                <a class="btn btn-default btn-icon-only" ng-click="findOne()" href="javascript:;">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="btn btn-warning" ng-hide="product.groupId == product._id" ng-click="product.isNewMaster = true;update();" href="javascript:;">
                                    <i class="fa fa-plus"></i> Devenir maitre
                                </a>
                                <!--       <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">@(products:Filters) :</label>
                                        <div class="col-md-8" ng-init="loadDynForms()">
                                            <select ng-model="type" ng-change="setCache('type', type); find();" ng-options="s.id as s.name for s in types" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="form-control-focus"> </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="no-footer table-responsive" ng-if="product.isVariant">
                        <div class="col-md-12">
                            <table class="table no-footer table-hover">
                                <colgroup>
                                    <col width="10%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="10px">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="10%">
                                    <col width="80px">
                                </colgroup>
                                <thead>
                                    <tr role="row" class="heading">
                                        <th>Image</th>
                                        <th>@(Name)</th>
                                        <th>@(SKU)</th>
                                        <th>@(Top)</th>
                                        <th>@(Variant)</th>
                                        <th>@(Channel)</th>
                                        <th>@(TotalHTsell)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="variant in productVariants.variantsArray" ng-class="{'font-green':product._id !== variant._id && product.groupId === variant._id}">
                                        <td></td>
                                        <td>{{variant.info.langs[0].name}}</td>
                                        <td><a ui-sref="product.show({id:variant._id})">{{variant.info.SKU}}</a></td>
                                        <td><span ng-if="variant._id == product.groupId"><i class="fa fa-check"></i></span></td>
                                        <td><span ng-repeat="v in variant.variants[0]">
                                            {{v.langs[0].value}} / 
                                            </span></td>
                                        <td></td>
                                        <td>{{variant.prices.pu_ht | currency}}</td>
                                        <td>
                                            <button ng-hide="product._id == variant._id || variant._id == product.groupId" type="button" confirmed-click="remove(variant)" ng-confirm-click="Retirer la variantes ?" class="btn btn-xs btn-danger glyphicon glyphicon-trash" title="@(Delete)"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="forToggle" ng-repeat="line in thead">
                                        <th ng-repeat="col in line" colspan="{{col.colspan}}" class="text-center">
                                            {{col.value}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="forToggle" id="currencyTable">
                                    <tr ng-repeat="line in variantesLines">
                                        <th ng-if="line.index2 === 0" rowspan="{{line.rowspan}}">{{line.elem3}}</th>
                                        <th>{{line.elem0}}</th>

                                        <td ng-repeat="col in line.col" class="text-center" id="{{col.id}}">{{col.value}}
                                            <div ng-if="col.html">
                                                <label ng-if="product.isVariant" ng-show="productVariants.valuesKeys.indexOf(col.id) < 0" class="_customCHeckbox"><input type="checkbox" class="newVariantCheck" ng-click="toggleSelection(variantsArray, col, 'id')" /><span></span></label>
                                                <span ng-hide="productVariants.valuesKeys.indexOf(col.id) < 0 && product.isVariant" class="fa fa-check font-blue"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button ng-if="variantesLines.length" id="saveVariants" class="btn blue" ng-click="saveVariants()">Save Variants</button>
                            <button ng-if="variantesLines.length" id="cancelVariants" class="btn info">Cancel</button>-->
                        </div>
                    </div>
                    <!--<div class="row" ng-hide="product.isVariant">
                        <div ng-if="(changedProductType && changedProductType.opts && changedProductType.opts.length)" class="col-md-12">
                            <div ng-repeat="option in changedProductType.opts" class="form-group form-md-line-input">
                                <div ng-if="option._id && (checkedObj[option._id] != null || !checkedObj.length)">
                                    <label class="col-md-2 control-label">{{option.name}} : </label>
                                    <input type="checkbox" class="md-check" name="checkedObj[]" ng-model="checkedObj[option._id]" id="{{option._id}}" ng-true-value="{values : [], optionId: '{{option._id}}', optionName:'{{option.name}}'}" ng-false-value="null" ng-checked="checkedObj[option._id] != null"
                                        ng-disabled="checkedObj[option._id].length" />
                                    <div class="col-md-10">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox" ng-repeat="value in option.values">
                                                <input type="checkbox" class="md-check" name="checkedObj[]" id="{{value._id}}" ng-click="toggleSelection(checkedObj[option._id].values, value, '_id')" ng-checked="isCheckedObj(checkedObj[option._id], value._id)" ng-disabled="!checkedObj[option._id]" />
                                                <label for="{{value._id}}">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> {{value.value}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <button class="btn blue" ng-click="createVariants(checkedObj)">@(Create)</button>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>