<script type="text/ng-template" id="searchvariantproduct.html">
    <a>
        <span ng-bind-html="match.model.ref | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.info.langs[0].name"></span>
    </a>
</script>

<div class="row">
    <div class="col-md-12">
        <div ng-if="product.type == 'PACK' && product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)
        </div>
        <div class="form-horizontal form-row-seperated">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-docs"></i>
                        <span class="caption-subject dark bold uppercase"> @(Declinations)</span>
                    </div>
                    <save mode="product._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>


                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-md-line-input has-info">
                                    <div class="input-group input-group">
                                        <div class="input-group-control">
                                            <input type="text" class="form-control" id="addProduct" ng-model="newRefProduct" typeahead="product as product.ref for product in productAutoComplete($viewValue, {sellFamily:product.sellFamily._id})" typeahead-template-url="searchvariantproduct.html"
                                                placeholder="@(products:ProductRef)" />
                                            <label for="addProduct">@(products:RefProductSameFamily)</label>
                                        </div>
                                        <div class="input-group-btn btn-right">
                                            <button class="btn blue" type="button" ng-click="addProductToVariant(newRefProduct._id)" ng-disabled="!newRefProduct._id"><i class="fa fa-plus"></i> @(Add)</button>
                                            <a class="btn btn-warning" ng-hide="product.groupId == product._id" ng-click="product.isNewMaster = true;update();" href="javascript:;">
                                                <i class="fa fa-plus"></i>@(products:BecomeMaster)
                                            </a>
                                            <a class="btn btn-default btn-icon-only" ng-click="findOne()" href="javascript:;">
                                                <i class="fa fa-refresh"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row7">
                                <div class="col-md-8 col-sm-12">
                                    <div class="portlet light bordered">
                                        <div class="no-footer table-responsive" ng-if="product.isVariant">
                                            <div class="col-md-12">
                                                <table class="table no-footer table-hover">
                                                    <colgroup>
                                                        <col width="10%">
                                                        <col width="20%">
                                                        <col width="20%">
                                                        <col width="10px">
                                                        <col width="25%">
                                                        <col width="20%">
                                                        <col width="10%">
                                                        <col width="80px">
                                                    </colgroup>
                                                    <thead>
                                                        <tr role="row" class="heading">
                                                            <th>Image</th>
                                                            <th>@(Name)</th>
                                                            <th>@(SKU)</th>
                                                            <th>@(Top)</th>
                                                            <th>@(Variant)</th>
                                                            <th>@(products:Packing)</th>
                                                            <th>@(TotalHTsell)</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="variant in productVariants.variantsArray" ng-class="{'font-green':product._id !== variant._id && product.groupId === variant._id}">
                                                            <td></td>
                                                            <td>{{variant.info.langs[0].name}}</td>
                                                            <td><a ui-sref="product.show({id:variant._id})">{{variant.info.SKU}}</a></td>
                                                            <td><span ng-if="variant._id == product.groupId"><i class="fa fa-check"></i></span></td>
                                                            <td>
                                                                <div class="form-group form-md-line-input">
                                                                    <select class="table-group-action-input form-control" id="{{variant._id}}" ng-model="variant.variantsIds" ng-options="v._id as v.name for v in tabVariants" ng-change="changeProductVariant(variant._id, variant.variantsIds)"></select>
                                                                    <label for="{{variant._id}}">@(Variant) <i ng-if="countVariant(variant.variantsIds, variant.packing) !== 1" class="fa fa-warning font-red"></i></label>
                                                                </div>


                                                            </td>
                                                            <td>{{variant.packing}}</td>
                                                            <td>{{variant.prices.pu_ht | currency}}</td>
                                                            <td>
                                                                <button ng-hide="variant._id == product.groupId" type="button" confirmed-click="delProductToVariant(variant._id)" ng-confirm-click="Retirer la variante ? (Ne supprime pas le produit)" class="btn btn-xs btn-danger glyphicon glyphicon-trash" title="@(Delete)"></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="portlet light bordered">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="forToggle" ng-repeat="line in thead">
                                                    <th ng-repeat="col in line" colspan="{{col.colspan}}" class="text-center">
                                                        {{col.value}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="forToggle" id="currencyTable">
                                                <tr ng-repeat="line in variantesLines">
                                                    <th ng-if="line.index2 === 0" rowspan="{{line.rowspan}}">{{line.elem3}}</th>
                                                    <th>{{line.elem0}}</th>

                                                    <td ng-repeat="col in line.col" class="text-center" id="{{col.id}}">{{col.value}}
                                                        <div ng-if="col.html">
                                                            <label ng-if="product.isVariant" ng-show="productVariants.valuesKeys.indexOf(col.id) < 0" class="_customCHeckbox"><input type="checkbox" class="newVariantCheck" ng-click="toggleSelection(variantsArray, col, 'id')" /><span></span></label>
                                                            <span ng-hide="productVariants.valuesKeys.indexOf(col.id) < 0 && product.isVariant" class="fa fa-check font-blue"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>