<script type="text/ng-template" id="rename.html">
    <div class="modal-header">
        <h4 class="modal-title"><span class="icon-pencil"></span> @(products:CreateNewPackaging)</h4>
    </div>
    <div class="modal-body">
        <ng-form name="nameDialog" novalidate role="form">
            <div class="form-group input-group-lg">
                <label class="control-label" for="data">@(products:ProductQty)  {{data.info.SKU}}: </label>
                <input type="number" min="0" class="input" name="qty" id="qty" ng-model="qty" ng-keyup="hitEnter($event)" required>
            </div>
        </ng-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">@(Cancel)</button>
        <button type="button" class="btn btn-primary" ng-click="save()">@(Add)</button>
    </div>
    </div>
</script>

<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(products:ProductsAndServices)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="product.list">@(products:ListProducts)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span ng-class="{'font-red':!product.info.isActive}"> @(products:ProductSheet) : {{product.info.SKU}}</span>
        </li>
        <li>
            <small ng-show="!product.info.isActive" class="font-red">@(Disabled)</small>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <a class="btn purple-sharp dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-flag"></i> {{languages[_language].name}} <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li ng-repeat="s in languages">
                    <a href="#" ng-click="setLanguage(s.idx)">
                        <i class="fa fa-copy"></i> {{s.name}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a ng-if="product.Status == 'PREPARED'" data-ng-click="update(true)">
                        <i class="fa fa-thumbs-o-up"></i> @(Validate)
                    </a>
                </li>
                <li ng-if="product.Status == 'PREPARED'" class="divider"></li>
                <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <li>
                    <a href="#" ng-if="product.info.productType.isProduct" ng-click="createNewPackaging()">
                        <i class="fa fa-copy"></i> @(products:CreateNewPackaging)
                    </a>
                </li>

                <li>
                    <a ng-if="product.Status == 'VALIDATED' && product.info.productType.isEShop" data-ng-click="changeStatus('PUBLISHED')">
                        <i class="fa fa-thumbs-o-up"></i> @(Send)
                    </a>
                </li>
                <!--   <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(PrintPDF)
                    </a>
                </li> -->
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.product.delete" confirmed-click="remove(product)" ng-confirm-click="Supprimer le produit ?" title="Supprimer le produit">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="product.isremoved" class="alert alert-danger"><strong>Attention !</strong> Ce produit est supprime. </div>

<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar mt-element-ribbon portlet-fit bordered">
            <div class="ribbon ribbon-right ribbon-clip ribbon-shadow uppercase " ng-class="product._status.css ">
                <div class="ribbon-sub ribbon-clip ribbon-right "></div> {{product._status.name}}
            </div>
            <div class="portlet light profile-sidebar-portlet">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 ">
                            <div class="profile aligntop">
                                <img ng-if="product.imageSrc" ng-src="/erp/api/images/bank/s/{{product.imageSrc.imageSrc}}" class="img-responsive">
                                <img ng-if="!product.imageSrc" src="/assets/admin/layout/img/nophoto.jpg" class="img-responsive">
                            </div>

                            <span class="profile-desc-text"> {{product.info.langs[0].name}} </span>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-usertitle">
                                <div class="uppercase profile-stat-text"> @(products:ProductSheet) </div>
                                <div class="uppercase profile-stat-title" ng-class="{'font-red':!product.info.isActive}"> {{product.info.SKU}}
                                </div>
                                <hr>
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox has-success">
                                        <input type="checkbox" id="isActive" class="md-check" ng-model="product.info.isActive" ng-checked="product.info.isActive">
                                        <label for="isActive">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @(Activated)</label>
                                    </div>

                                    <div class="md-checkbox">
                                        <input type="checkbox" id="isSell" class="md-check" ng-model="product.isSell" ng-checked="product.isSell">
                                        <label for="isSell">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @(products:Status.OnSell)</label>
                                    </div>

                                    <div class="md-checkbox">
                                        <input type="checkbox" id="isBuy" class="md-check" ng-model="product.isBuy" ng-checked="product.isBuy">
                                        <label for="isBuy">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> @(products:Status.OnBuy)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <progressbar class="progress-striped" value="product.rating.total * 100" type="">{{product.rating.total*100 | percent}} Complete</progressbar>
                    </div>
                </div>
                <hr>

                <!--<div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle default btn-sm"> ← @(Previous)</button>
                    <button type="button" class="btn btn-circle default btn-sm">@(Next) →</button>
                </div>-->

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('product.show.informations')}">
                            <a ui-sref="product.show.informations({id:product._id})">
                                <i class="icon-info"></i> @(Marketing) / PIM <span ng-if="product.rating.marketing != 1" class="fa fa-warning font-red" tooltip-placement="right" tooltip="{{product.rating.marketing*100 | percent}}"></span></a>
                        </li>
                        <!--       <li ng-class="{active: $state.includes('product.show.marketing')}">
                            <a ui-sref="product.show.marketing({id:product._id})">
                                <i class="icon-speech"></i> @(Marketing) </a>
                        </li>  -->
                        <li ng-class="{active: $state.includes('product.show.price')}">
                            <a ui-sref="product.show.price({id:product._id})">
                                <i class="icon-basket"></i> @(Price) </a>
                        </li>

                        <li ng-if="product.info.productType.isBundle" ng-class="{active: $state.includes('product.show.bundles')}">
                            <a ui-sref="product.show.bundles({id:product._id})" class="nav-link">
                                <i class="icon-settings"></i> @(products:Bundle) <span ng-if='product.bundles.length' class='badge badge-success'>{{product.bundles.length}}</span> </a>
                        </li>

                        <li ng-if="product.info.productType.isPackaging" ng-class="{active: $state.includes('product.show.packaging')}">
                            <a ui-sref="product.show.packaging({id:product._id})" class="nav-link">
                                <i class="icon-settings"></i> @(products:Packaging) <span ng-if='product.pack.length' class='badge badge-success'>{{product.pack.length}}</span> </a>
                        </li>

                        <li ng-class="{active: $state.includes('product.show.attributes')}">
                            <a ui-sref="product.show.attributes({id:product._id})">
                                <i class="icon-target"></i> @(products:Attributes) <span ng-if="product.rating.attributes != 1" class="fa fa-warning font-red" tooltip-placement="right" tooltip="{{product.rating.attributes*100 | percent}}"></span></a>
                        </li>
                        <!--<li ng-class="{active: $state.includes('product.show.stock')}">
                            <a ui-sref="product.show.stock({id:product._id})">
                                <i class="icon-social-dropbox"></i> @(stocks:Stocks) </a>
                        </li>-->
                        <li ng-class="{active: $state.includes('product.show.images')}">
                            <a ui-sref="product.show.images({id:product._id})">
                                <i class="icon-picture"></i> @(products:Images) <span ng-if="product.rating.images != 1" class="fa fa-warning font-red" tooltip-placement="right" tooltip="{{product.rating.images*100 | percent}}"></a>
                        </li>
                        <!--<li ng-class="{active: $state.includes('product.show.ecommerce')}">
                            <a ui-sref="product.show.ecommerce({id:product._id})">
                                <i class="icon-globe"></i> @(Ecommerce) <span ng-if="product.rating.ecommerce != 1" class="fa fa-warning font-red" tooltip-placement="right" tooltip="{{product.rating.ecommerce*100 | percent}}"></span></a>
                        </li>-->
                        <li ng-class="{active: $state.includes('product.show.categories')}">
                            <a ui-sref="product.show.categories({id:product._id})">
                                <i class="icon-share"></i> @(Categories) <span ng-if="product.rating.categories != 1" class="fa fa-warning font-red" tooltip-placement="right" tooltip="{{product.rating.categories*100 | percent}}"></span><span ng-if="product.info.categories.length"
                                    class="badge badge-success">{{product.info.categories.length}}</span></a>
                        </li>

                        <li ng-if="product.info.productType.dynamic.configurator" ng-class="{active: $state.includes('product.show.configurator')}">
                            <a ui-sref="product.show.configurator({id:product._id, module:product.info.productType.dynamic.configurator})">
                                <i class="icon-settings"></i> @(Setting) {{product.info.productType.dynamic.name}}</a>
                        </li>

                        <!--<li ng-class="{active: $state.includes('product.show.channels')}">
                            <a ui-sref="product.show.channels({id:product._id})">
                                <i class="icon-shopping-cart"></i> @(products:Channels) <span ng-if="product.channels.active" class="badge badge-success">{{product.channels.active}}</span></a>
                        </li>-->

                        <!--<li ng-class="{active: $state.includes('product.show.stats')}">
                            <a ui-sref="product.show.stats({id:product._id})">
                                <i class="icon-bar-chart"></i> @(Statistics) </a>
                        </li>-->
                    </ul>
                </div>
            </div>
            <div class="portlet light">
                <div class="row list-separated profile-stat">
                    <div class=" col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-title"> <i class="icon-calendar font-yellow-crusta"></i> {{product.createdAt|date:'dd/MM/yyyy HH:mm'}} </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-title"> <i class="icon-refresh font-yellow-crusta"></i> {{product.updatedAt|date:'dd/MM/yyyy HH:mm'}} </div>
                    </div>

                    <div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="uppercase profile-stat-title"> <a class="font-yellow-crusta">{{product.createdBy.username}}</a> </div>
                            <!--<div class="uppercase profile-stat-text"> @(CreatedBy)</div>-->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="uppercase profile-stat-title"> <a class="font-yellow-crusta">{{product.editedBy.username}}</a> </div>
                            <!-- <div class="uppercase profile-stat-text"> @(EditedBy) </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet light" ng-show="product.info.productType.isEShop">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-docs"></i>
                        <span class="caption-subject dark bold uppercase"> @(products:Channels)</span>
                    </div>
                </div>
                <div class="no-footer table-responsive">
                    <table class="table no-footer table-hover">
                        <colgroup>
                            <col width="60%">
                            <!--<col width="30%">-->
                            <col width="20%">
                            <col width="80px">
                        </colgroup>
                        <thead>
                            <tr role="row" class="heading">
                                <th>@(Name)</th>
                                <!--<th>@(Url)</th>-->
                                <th>@(Active)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="channel in product.channels.data">
                                <td>{{channel.channelName}}</td>
                                <!--<td>{{channel.baseUrl}}</td>-->
                                <td><span ng-if="channel.channels.length" class="fa fa-check font-green">{{channel.channels[0].linkId}}</span></td>
                                <td>
                                    <button ng-hide="channel.channels.length" ng-click="addProductToChannel(product._id, channel)" type="button" class="btn btn-xs btn-info glyphicon glyphicon-plus" title="@(Add)"></button>
                                    <button ng-hide="!channel.channels.length" ng-click="deleteProductToChannel(product._id, channel)" type="button" class="btn btn-xs btn-info glyphicon glyphicon-minus" title="@(Delete)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-if="product._id" ng-include="'/templates/gridfs/fileAll.html'" ng-controller="FileCtrl" onload="init('product', product)"></div>
        </div>
        <div ui-view class="profile-content fade-in-up"></div>
    </div>
</div>