<script type="text/ng-template" id="searchproduct.html">
    <a ng-class="{'list-group-item font-green': match.model.price_level != 'BASE'}">
        <span ng-bind-html="match.model.product.ref | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.product.label"></span> ({{match.model.price_level}} : {{match.model.pu_ht|currency}})
    </a>
</script>

<div class="row">
    <div class="col-md-12">
        <div ng-if="product.type == 'PACK' && product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)</div>

        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div ng-show="product._id" class="portlet-title">
                    <div class="caption">
                        <i class="icon-info"></i>
                        <span class="caption-subject dark bold uppercase"> @(Marketing) / PIM</span>
                        <span class="caption-helper"> - @(products:ProductServiceCard)</span>
                    </div>
                    <div ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>
                </div>
                <div ng-hide="product._id" class="portlet-title">
                    <div class="caption">
                        <i class="icon-magic-wand"></i>
                        <span class="caption-subject dark bold uppercase"> @(products:NewProduct)</span>
                    </div>
                    <div ng-include="'/templates/createMenu.html'" class="actions btn-set"></div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">

                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" maxlength="13" required placeholder="" id="SKU" ng-change="isValidRef()" ng-model="product.info.SKU">
                                    <label for="SKU">@(SKU)<span class="required">
                                        * </span></label>
                                </div>

                                <div class="form-group form-md-line-input ">
                                    <select class="table-group-action-input form-control" required ng-model="product.info.productType._id" ng-options="t._id as t.name for t in productTypes"></select>
                                    <label for="form_control_1">@(Type)</label>
                                </div>

                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" id="name" ng-model="product.info.langs[0].name" required placeholder="">
                                    <label for="name">@(Label)</label>
                                </div>
                                <!--<div class="form-group form-md-line-input">
                                    <select class="form-control" name="">
                                                        <option value="">Option 1</option>
                                                        <option value="">Option 2</option>
                                                        <option value="">Option 3</option>
                                                    </select>
                                    <label for="form_control_1"> @(products:MainCategory)</label>
                                </div>-->

                                <!--<div class="form-group form-md-line-input ">
                                    <select class="table-group-action-input form-control" required ng-model="s" ng-options="s.id as s.label for s in dict.fk_product_status.values"></select>
                                    <label for="form_control_1">@(Visibility)</label>
                                </div>-->
                                <div class="form-group form-md-line-input">
                                    <label for="">@(Entities)</label>
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox" ng-repeat="value in entityList">
                                            <input type="checkbox" class="md-check" name="checkedObj[]" id="{{value.id}}" ng-click="toggleSelection(product.entity, value.id)" ng-checked="product.entity.indexOf(value.id) >= 0" />
                                            <label for="{{value.id}}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> {{value.name}} </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input ">
                                    <select class="table-group-action-input form-control" required ng-model="product.sellFamily" ng-options="t._id as t.name for t in sellFamily"></select>
                                    <!--               <input class="table-group-action-input form-control" ng-model="product.sellFamily" placeholder="" type="text" typeahead="f as f for f in productFamilyAutoComplete($viewValue, 'sellFamily')" /> -->
                                    <label for="FamilyProducts">@(products:Family) </label>
                                </div>

                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label">@(products:EANCode):</label>
                                    <div class="col-md-10">
                                        <div class="col-md-3">
                                            <label class="control-label">
                                            <input uniform type="checkbox" ng-model="product.info.autoBarCode" ng-checked="product.info.autoBarCode"/> @(Automatic) </label>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="form-control" maxlength="13" ng-model="product.info.EAN" ng-disabled="product.info.autoBarCode" placeholder="EAN13" type="text">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="UpcCode" ng-model="product.info.UPC">
                                    <label for="UpcCode">@(products:UpcCode)</label>
                                </div>

                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" id="IsbnCode" ng-model="product.product.info.ISBN">
                                    <label for="IsbnCode">@(products:IsbnCode)</label>
                                </div>

                                <div class="form-group form-md-line-input ">
                                    <input type="text" class="form-control" id="AclCode" ng-model="product.info.aclCode">
                                    <label for="AclCode">@(products:AclCode)</label>
                                </div>
                                <div class="form-group form-md-line-input ">
                                    <select class="table-group-action-input form-control" id="form_control_1" ng-model="product.units" ng-options="s.id as s.label for s in dict.fk_units.values"></select>
                                    <label for="form_control_1">@(products:Units)</label>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="product.weight" min="0" step="0.0001">
                                    <label for="form_control_1">@(products:Weight)</label>
                                    <div class="form-control-focus"> </div>
                                </div>


                                <!--<div class="form-group form-md-line-input">
                                <label class="col-md-2 control-label">@(products:Weight): 
                                </label>
                                <div class="col-md-4">
                                    <input type="number" class="form-control" ng-model="product.size.weight" min="0" step="0.0001" />
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>-->
                            </div>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--        <div class="portlet light portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i></i>@(InternalDescription)
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <div class="col-md-12">
                                            <textarea class="form-control" ng-model="product.info.notePrivate" rows="5"></textarea>
                                            <div class="form-control-focus"> </div>
                                            <span class="help-block">@(products:InternalOnly).</span>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <tabset class="tabbable-line tabbable-full-width">
                                <tab heading="@(Description)" ng-if="product._id && product.isSell">
                                    <div class="row">
                                        <p> @(Description) : @(products:ShowOnBill). </p>
                                        <textarea class="form-control" ng-model="product.info.langs[0].description" rows="5"></textarea>
                                    </div>
                                </tab>
                                <tab heading="@(LongueDescription)" ng-if="product._id && product.isSell">
                                    <div class="row">
                                        <p> @(LongueDescription) : @(products:ShowOnCatalog). </p>
                                        <summernote height="100" ng-model="product.info.langs[0].CatalogDescription"></summernote>
                                    </div>
                                </tab>
                                <tab heading="@(InternalDescription)" ng-if="product._id && product.isSell">
                                    <div class="row">
                                        <p> @(InternalDescription) : @(products:InternalOnly). </p>
                                        <textarea class="form-control" ng-model="product.info.notePrivate" rows="5"></textarea>
                                    </div>
                                </tab>
                            </tabset>
                        </div>

                    </div>

                    <div class="form-group form-md-line-input ">
                        <label for="tags">@(Keywords) / @(Tags)</label>
                        <tags-input ng-model="product.info.langs[0].Tag" class="ti-input" placeholder="@(Add)">
                            <auto-complete source="AutoComplete($query,'/erp/api/product/Tag/autocomplete','')" min-length="1" max-results-to-show="10"></auto-complete>
                        </tags-input>

                    </div>

                </div>
            </div>
        </div>


        <div ng-if="product.type == 'DYNAMIC'" class="form-group">
            <label class="col-md-2 control-label">@(products:DynamicForm): <span class="required">
                                        * </span>
                                </label>
            <div class="col-md-4" ng-init="loadDynForms()">
                <select class="table-group-action-input form-control" ng-model="product.dynForm" ng-options="d.name as d.name for d in dynForms"></select>
            </div>

        </div>




    </div>

    <!-- 
        <div class="row hidden-print">
            <div class="col-md-12">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 control-label">@(products:Filters) :</label>
                        <div class="col-md-8" ng-init="loadDynForms()">
                            <select ng-model="type" ng-change="setCache('type', type); find();" ng-options="s.id as s.name for s in types" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-control-focus"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-footer table-responsive" ng-if="product.isVariant">
        <div class="col-md-12">
            <table class="table no-footer table-hover">
                <colgroup>
                    <col width="10%">
                    <col width="20%">
                    <col width="20%">
                    <col width="10px">
                    <col width="20%">
                    <col width="20%">
                    <col width="10%">
                    <col width="80px">
                </colgroup>
                <thead>
                    <tr role="row" class="heading">
                        <th>Image</th>
                        <th>@(Name)</th>
                        <th>@(SKU)</th>
                        <th>@(Top)</th>
                        <th>@(Variant)</th>
                        <th>@(Channel)</th>
                        <th>@(TotalHTsell)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="variant in productVariants.variantsArray" ng-class="{'font-red':product._id == variant._id, 'font-green':product._id !== variant._id && product.groupId === variant._id}">
                        <td></td>
                        <td>{{variant.info.langs[0].name}}</td>
                        <td><a ui-sref="product.show({id:variant._id})">{{variant.info.SKU}}</a></td>
                        <td><span ng-if="variant._id == product.groupId">X</span></td>
                        <td><span ng-repeat="v in variant.variants[0]">{{v.langs[0].value}} / </span></td>
                        <td></td>
                        <td>{{variant.prices.pu_ht | currency}}</td>
                        <td>
                            <button ng-hide="product._id == variant._id || variant._id == product.groupId" type="button" confirmed-click="remove(variant)" ng-confirm-click="Retirer la variantes ?" class="btn btn-xs btn-danger glyphicon glyphicon-trash" title="@(Delete)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
</div>