<script type="text/ng-template" id="searchproduct.html">
    <a ng-class="{'list-group-item font-green': match.model.price_level != 'BASE'}">
        <span ng-bind-html="match.model.product.ref | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.product.label"></span> ({{match.model.price_level}} : {{match.model.pu_ht|currency}})
    </a>
</script>

<script type="text/ng-template" id="searchvariantproduct.html">
    <a>
        <span ng-bind-html="match.model.ref | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.info.langs[_language].name"></span>
    </a>
</script>

<!--
Marketing    
-->
<div class="row">
    <div class="col-md-12">
        <div ng-if="product.type == 'PACK' && product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)</div>

        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-info"></i>
                        <span class="caption-subject dark bold uppercase"> @(Marketing) / PIM</span>
                    </div>
                    <save mode="product._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light bordered">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" maxlength="13" required placeholder="" id="SKU" ng-change="isValidRef()" ng-model="product.info.SKU">
                                                <label for="SKU">@(SKU)<span class="required">
                                        * </span></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <select class="table-group-action-input form-control" required ng-model="product.info.productType._id" ng-options="t._id as t.name for t in productTypes"></select>
                                                <label for="Type">@(Type)<span class="required">
                                        * </span></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input ">
                                        <select class="table-group-action-input form-control" required ng-model="product.sellFamily._id" ng-options="s._id as s.name for s in sellFamilies"></select>
                                        <label for="FamilyProducts">@(products:Family) <span class="required">
                                        * </span></label>
                                    </div>


                                    <div class="form-group form-md-line-input ">
                                        <div class="input-icon right">
                                            <input type="text" class="form-control" id="Name" ng-model="product.info.langs[_language].name" required placeholder="" />
                                            <label for="Name">@(Label)</label>
                                            <i class="fa fa-flag"></i>
                                        </div>
                                    </div>

                                    <!--<div class="form-group form-md-line-input ">
                                    <select class="table-group-action-input form-control" required ng-model="s" ng-options="s.id as s.label for s in dict.fk_product_status.values"></select>
                                    <label for="form_control_1">@(Visibility)</label>
                                </div>-->
                                    <div class="form-group form-md-line-input">
                                        <label for="">@(Entities)</label>
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox" ng-repeat="value in entityList">
                                                <input type="checkbox" class="md-check" name="checkedObj[]" id="{{value.id}}" ng-click="toggleSelection(product.entity, value.id)" ng-checked="product.entity.indexOf(value.id) >= 0" />
                                                <label for="{{value.id}}">
                                                <span></span>
                                                <span class="check"></span>
                                                <span class="box"></span> {{value.name}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="portlet light bordered" ng-show="product.info.productType.isProduct">
                                    <div class="form-group form-md-line-input">
                                        <label class="col-md-3 control-label">@(products:EANCode):</label>
                                        <div class="col-md-9">
                                            <div class="col-md-4">
                                                <label class="control-label">
                                            <input uniform type="checkbox" ng-model="product.info.autoBarCode" ng-checked="product.info.autoBarCode"/> @(Automatic) </label>
                                            </div>
                                            <div class="col-md-8">
                                                <input class="form-control" maxlength="13" ng-model="product.info.EAN" ng-disabled="product.info.autoBarCode" placeholder="EAN13" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="UpcCode" ng-model="product.info.UPC">
                                        <label for="UpcCode">@(products:UpcCode)</label>
                                    </div>

                                    <div class="form-group form-md-line-input ">
                                        <input type="text" class="form-control" id="IsbnCode" ng-model="product.info.ISBN">
                                        <label for="IsbnCode">@(products:IsbnCode)</label>
                                    </div>

                                    <div class="form-group form-md-line-input ">
                                        <input type="text" class="form-control" id="AclCode" ng-model="product.info.aclCode">
                                        <label for="AclCode">@(products:AclCode)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light bordered">
                                    <tabset class="tabbable-line tabbable-full-width">
                                        <tab heading="@(Description)">
                                            <div class="form-group form-md-line-input ">
                                                <textarea class="form-control" ng-model="product.info.langs[_language].description" rows="4"></textarea>
                                                <label for="description">@(products:Description) : Devis, Commandes, factures</label>
                                            </div>
                                        </tab>

                                        <tab heading="@(eshop:abstract) Internet" ng-show="product.info.productType.isEShop">
                                            <div class="form-group form-md-line-input ">
                                                <!--<label for="Abstract">@(eshop:abstract) <span class="required">
                                        * </span></label>-->
                                                <summernote height="220" ng-model="product.info.langs[_language].shortDescription"><i class="fa fa-flag"></i></summernote>
                                            </div>
                                        </tab>
                                        <tab heading="@(Description) Longue Internet" ng-show="product.info.productType.isEShop">
                                            <div class="form-group form-md-line-input ">
                                                <!--<label for="Des">@(Description) <span class="required">
                                        * </span></label>-->
                                                <summernote height="220" ng-model="product.info.langs[_language].body"></summernote>
                                            </div>
                                        </tab>
                                    </tabset>

                                </div>

                                <div class="portlet light bordered">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <select class="table-group-action-input form-control" id="Units" ng-model="product.units" ng-options="s.id as s.label for s in dict.fk_units.values"></select>
                                                <label for="Units">@(products:Units)</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6" ng-show="product.info.productType.isProduct">
                                            <div class="form-group form-md-line-input">
                                                <input type="number" class="form-control" id="Weight" ng-model="product.weight" min="0" step="0.0001">
                                                <label for="Weight">@(products:Weight)</label>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-show="product.info.productType.inventory">
                                            <div class="form-group form-md-line-input">
                                                <input type="number" class="form-control" id="stockTimeLimit" ng-model="product.inventory.stockTimeLimit" min="0" step="1">
                                                <label for="stockTimeLimit">@(products:stockTimeLimit) @(products:Day)</label>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-show="product.info.productType.isProduct">
                                            <div class="form-group form-md-line-input">
                                                <input type="number" class="form-control" id="packing" ng-model="product.packing" min="0" step="1">
                                                <label for="packing">@(products:Packing)</label>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" ng-show="product.info.productType.inventory">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" id="minstock" ng-model="product.inventory.minStockLevel">
                                                <label for="minstock">@(products:MinStock)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" id="maxstock" ng-model="product.inventory.maxStockLevel">
                                                <label for="maxstock">@(products:MaxStock)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group form-md-line-input">
                                                <div class="input-icon right">
                                                    <input type="text" class="form-control" id="msgstock" ng-model="product.inventory.langs[_language].availableLater">
                                                    <label for="msgstock">@(products:WarehouseMsgProductNotAvailable)</label>
                                                    <i class="fa fa-flag"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
SEO
-->
<div class="row" ng-show="product.info.productType.isEShop">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-docs"></i>
                    <span class="caption-subject dark bold uppercase">@(Ecommerce)</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body" style="display: block;">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="portlet light bordered">
                                    <div class="form-group form-md-line-input ">
                                        <div class="input-icon right">
                                            <input class="form-control" ng-model="product.info.langs[_language].linker" required placeholder="@(products:ProductNameURL)" type="text">
                                            <label for="ProductURL">@(Url)<span class="required">
                                        * </span></label>
                                            <i class="fa fa-flag"></i>
                                            <span class="help-block">@(products:ProductURL).</span>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input ">
                                        <label class="font-yellow-crusta2" for="tags">@(Keywords) / @(Tags)</label>
                                        <tags-input ng-model="product.info.langs[_language].Tag" class="ti-input" placeholder="@(Add)">
                                            <auto-complete source="AutoComplete($query,'/erp/api/product/Tag/autocomplete','')" min-length="1" max-results-to-show="10"></auto-complete>
                                        </tags-input>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label class="font-yellow-crusta2" for="Checkboxes">@(Ecommerce)</label>
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="onlyWeb" class="md-check" ng-model="product.onlyWeb" ng-checked="product.onlyWeb">
                                                <label for="onlyWeb">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(eshop:WebExclusivity)</label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="ShowPrice" class="md-check" ng-model="product.canBeExpensed" ng-checked="product.canBeExpensed">
                                                <label for="ShowPrice">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span>  @(eshop:ShowPrice)</label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="istop" class="md-check" ng-model="product.istop" ng-checked="product.istop">
                                                <label for="istop">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:OnTop)</label>
                                            </div>
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="ischat" class="md-check" ng-model="product.ischat" ng-checked="product.ischat">
                                                <label for="ischat">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(Chat)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="portlet light bordered">
                                    <div class="form-group form-md-line-input ">
                                        <textarea class="form-control" ng-model="product.info.langs[_language].meta.description" rows="12" maxlength="255"></textarea>
                                        <label for="MetaDes">META @(products:Description) <span class="required">
                                        * </span></label>
                                        <span class="help-block">META @(products:Description) : @(eshop:MetaAdvice).</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- declinations -->

<div ng-if="product.info.productType.isProduct" ng-include="'/views/product/declinations.html'"></div>