<div>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="home">@(Home)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>@(products:ProductsAndServices)</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>@(products:ListProducts)</span>
            </li>
        </ul>

        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown"><i class="fa fa-share"></i> @(Tools)
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" onclick="javascript:window.print();"><i class="fa fa-print"></i> 
                                        @(PrintList) </a>
                    </li>
                    <li>
                        <a href="#" ng-click="refreshAllProducts()"><i class="fa fa-refresh"></i> 
                                        Force @(Refresh) </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-show="login.rights.product.read" ng-href="/erp/api/product/export?contentType=product&type=xls&filter={{search}}">
                            <i class="fa fa-file-excel-o"></i> @(Export XLS)</a>
                    </li>
                    <li class="divider"></li>
                    <!--<li>
                        <a href="#" ng-show="login.rights.product.create" data-ng-click="updatePrices()">
                            <i class="fa fa-mail-forward"></i> @(products:UpdatePrice)
                        </a>
                    </li>-->
                    <!--    <li>
                                        <a href="#">
                                            @(Delete) </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            @(BuildPDF) </a>
                                    </li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="portlet light portlet-form bordered waiting">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cubes"></i>
                <span class="caption-subject dark sbold uppercase">@(products:ListProducts)</span>
            </div>
            <div class="actions">
                <button class="btn blue" ui-sref="product.create">@(Add) <i class="fa fa-plus"></i></button>
                <button title="@(Refresh)" class="btn btn-icon-only btn-default" ng-click="find(true)"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="tools">
        </div>
        <div class="portlet-body">
            <div class="row hidden-print">
                <div class="col-md-9">
                    <div class="portlet light bg-inverse">
                        <div class="portlet-body">
                            <form ng-submit="find()">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="Status">@(Name)</label>
                                            <input ng-model="quickSearch" ng-model-options='{ debounce: 500 }' class="form-control input-sm" ng-change="find()" />
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>@(products:Family)</label>
                                            <select ng-model="search.sellFamily.value[0]" id="Status" ng-options="s._id as s.name for s in sellFamilies" class="form-control input-sm" ng-change="loadAttibutFamily(); find();"></select>
                                        </div>

                                        <!--<div class="form-group">
                                            <label for="Status">@(companies:Entity)</label>
                                            <select ng-show="login.multiEntities" ng-model="search.entity.value[0]" ng-options="s.id as s.name for s in entityList" class="form-control input-sm"></select>
                                        </div>-->

                                        <div class="form-group">
                                            <label>@(Status)</label>
                                            <select ng-model="search.Status.value[0]" id="Status" ng-options="s.id as s.label for s in $dict.Status.values" class="form-control input-sm"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">

                                        <div class="form-group">
                                            <label>@(Status)</label>
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox has-success">
                                                    <input type="checkbox" id="isActive" class="md-check" ng-model="search.isActive.value[0]" ng-checked="search.isActive.value[0]" ng-change="find()">
                                                    <label for="isActive">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @(Activated)</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>@(products:Status.OnSell)</label>
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isSellYes" class="md-check" ng-model="search.isSell.value[0]" ng-checked="search.isSell.value[0]" ng-change="find()">
                                                    <label for="isSellYes">
                                                                <span></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span> @(Yes)</label>
                                                </div>

                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isSellNo" class="md-check" ng-model="search.isSell.value[1]" ng-checked="search.isSell.value[1]" ng-change="find()">
                                                    <label for="isSellNo">
                                                            <span></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @(No)</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>@(products:Status.OnBuy)</label>
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isBuyYes" class="md-check" ng-model="search.isBuy.value[0]" ng-checked="search.isBuy.value[0]" ng-change="find()">
                                                    <label for="isBuyYes">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> @(Yes)</label>
                                                </div>

                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isBuyNo" class="md-check" ng-model="search.isBuy.value[1]" ng-checked="search.isBuy.value[1]" ng-change="find()">
                                                    <label for="isBuyNo">
                                                                <span></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span> @(No)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mt-element-list">
                                            <div class="mt-list-container list-todo" id="accordion1" role="tablist" aria-multiselectable="true">
                                                <div class="row">
                                                    <ul ng-repeat="(key, value) in productFamilyAttributes.opts | groupBy: 'group.langs[0].name'" class="col-md-6">
                                                        <li class="mt-list-item">
                                                            <div class="list-todo-item grey-gallery">
                                                                <a class="list-toggle-container" ng-class="{collapsed : openFilter[key]}" ng-click="doOpenFilter(key)">
                                                                    <div class=" list-toggle done uppercase">
                                                                        <div class="list-toggle-title bold">{{key}}</div>
                                                                        <div class="badge badge-default pull-right bold">{{value.length}}</div>
                                                                    </div>
                                                                </a>
                                                                <div class="task-list panel-collapse collapse" ng-class="{in: openFilter[key]}">
                                                                    <ul>
                                                                        <li class="task-list-item" ng-repeat="attribut in value | orderBy: 'sequence'">
                                                                            <product-attribut ng-model="search" attribut="attribut" type="filter"></product-attribut>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="task-footer bg-grey "></div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions right no-padding">
                                    <button type="button" class="btn btn-sm default" ng-click="resetFilter()">@(Reset)</button>
                                    <button type="submit" class="btn btn-sm green">@(Search)</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="portlet mt-element-ribbon light portlet-fit bordered ">
                        <div class="ribbon ribbon-vertical-right ribbon-shadow ribbon-color-warning uppercase ">
                            <div class="ribbon-sub ribbon-bookmark "></div>
                            <i class="fa fa-pause "></i>
                        </div>
                        <div class="portlet-title ">
                            <div class="caption ">
                                <i class=" icon-control-pause font-yellow-crusta "></i>
                                <span class="caption-subject font-yellow-crusta bold uppercase ">Totaux</span>
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <div class="row static-info align-reverse ">
                                <div class="col-md-6 name ">@(Qty)</div>
                                <div class="col-md-6 value">{{totalAll.count}}</div>
                            </div>
                            <hr>
                            <div class="row static-info align-reverse" ng-repeat="status in totalAll.Status">
                                <div class="col-md-6 name "><span class="label label-sm" ng-class="status.css">{{status.name}}</span></div>
                                <div class="col-md-6 value">{{status.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table-pagination ng-model="page"></table-pagination>
            <div class="no-footer table-responsive">
                <table class="table table-striped table-hover table-condensed no-footer">
                    <colgroup>
                        <col width="42px">
                        <col width="50px">
                        <col width="14%">
                        <col width="8%">
                        <col width="10%">
                        <col width="12%">
                        <col width="8%">
                        <col width="8%">
                        <col width="8%">
                        <col width="80px">
                        <col width="100px">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr role="row" class="heading">
                            <th class="text-center">
                                <input uniform type="checkbox" ng-model="checkAll" ng-checked="checkAll" ng-click="checkedAll()" />
                            </th>
                            <th>@(Pictures)</th>
                            <th table-sort='data.info.SKU' ng-model="sort" name="@(Ref)"></th>
                            <th>@(Type)</th>
                            <th>@(Name)</th>
                            <th table-sort='data.prices.pu_ht' ng-model="sort" name="@(TotalHTsell)"></th>
                            <th table-sort='data.directCost' ng-model="sort" name="@(TotalHTbuy)"></th>
                            <th table-sort='data.weight' ng-model="sort" name="@(Weight)"></th>
                            <th table-sort='data.updatedAt' ng-model="sort" name="@(DateModificationShort)"></th>
                            <th table-sort='data.rating.total' ng-model="sort" name="@(Rating)"></th>
                            <th>@(Status)</th>
                            <th>@(Family)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in products">
                            <td class="text-center"><input uniform type="checkbox" ng-model="grid[line._id]" ng-checked="grid[line._id]" /></td>
                            <td ui-sref="product.show({id:line._id})">
                                <img ng-if="line.imageSrc" width="32" height="32" ng-src="/erp/api/images/bank/xs/{{line.imageSrc}}" />
                                <img ng-hide="line.imageSrc" width="32" height="32" src="/assets/admin/layout/img/nophoto.jpg" />
                            </td>
                            <td ui-sref="product.show({id:line._id})"><a class=" with-tooltip" ui-sref="product.show({id:line._id})"><i class="fa fa-shopping-cart"></i> {{line.info.SKU}}</a></td>
                            <td ui-sref="product.show({id:line._id})">
                                {{line.ProductTypes.langs[_language].name}}
                            </td>
                            <td ui-sref="product.show({id:line._id})">{{line.info.langs[_language].name}}</td>
                            <td ui-sref="product.show({id:line._id})" class="text-right">{{line.prices.pu_ht | number:3}}</td>
                            <td ui-sref="product.show({id:line._id})" class="text-right" ng-class="{ 'text-danger':!line.directCost}">{{line.directCost | number:3}}</td>
                            <td ui-sref="product.show({id:line._id})" class="text-right"><span ng-if="line.weight">{{line.weight | number:3}} kg</span></td>
                            <td ui-sref="product.show({id:line._id})">{{line.updatedAt| date:'dd/MM/yyyy'}}</td>
                            <td ui-sref="product.show({id:line._id})">
                                <progressbar animate="false" value="line.rating.total *100" type="info"><b>{{line.rating.total * 100}}%</b></progressbar>
                            </td>
                            <td ui-sref="product.show({id:line._id})">
                                <span class="label label-sm {{line.Status.css}}"> {{line.Status.name}}</span>
                            </td>
                            <td ui-sref="product.show({id:line._id})">
                                {{line.ProductFamily.langs[_language].name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table-pagination ng-model="page"></table-pagination>
        </div>
    </div>
</div>