<div class="row">
    <div class="col-md-12">
        <div ng-if="product.prices.pu_ht < product.total_pack" class="alert alert-warning"><strong>@(Warning) !</strong> @(products:LowerPrice)</div>

        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-speech sbold"></i>@(Marketing) / PIM
                    </div>
                    <save mode="product._id" ng-create="create()" ng-update="update(true)" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-md-line-input has-success">
                                    <input type="text" required placeholder="" class="form-control" id="Name" ng-model="product.info.langs[0].name">
                                    <label for="Name">@(Name)</label>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="portlet light portlet-form bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i></i>@(Description)
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <div class="col-md-12">
                                    <textarea class="form-control" ng-model="product.info.langs[0].description" rows="5"></textarea>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">@(products:ShowOnBill).</span>
                                </div>
                            </div>
                        </div>

                        <div class="portlet light portlet-form bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i></i>@(LongueDescription)
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <div class="col-md-12">
                                    <textarea class="form-control" ng-model="product.info.langs[0].description" rows="5"></textarea>
                                    <div class="form-control-focus"> </div>
                                    <span class="help-block">@(products:ShowOnCatalog).</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>