<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(products:Stock)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="product.stockcorrection.list"> @(products:ListOfStockCorrection) </a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(products:StockCorrection)</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#" ng-click="refreshDirectory()">
                        <i class="fa fa-refresh"></i> @(Refresh)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-pencil"></i>
                        <span class="caption-subject dark bold uppercase"> @(products:StockCorrection)</span>
                    </div>
                    <save mode="object._id" ng-create="create()" ng-disabled="object._id" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="portlet light bordered">
                                    <div class="form-group form-md-line-input">
                                        <select class="form-control" id="warehouse" ng-disabled="object._id" ng-model="object.warehouse._id" ng-options="s._id as s.name for s in $dict.warehouse" ng-change="LoadLocation()">
                                                        </select>
                                        <label for="warehouse">@(products:Warehouse)</label>
                                    </div>
                                    <div class="form-group form-md-line-input" ng-hide="object._id">
                                        <select ng-disabled="!object.warehouse._id" class="form-control" id="location" ng-model="object.location._id" ng-options="s._id as s.name for s in $dict.location">
                                                        </select>
                                        <label for="location">@(products:Location)</label>
                                    </div>
                                    <div ng-hide="!object._id" class="form-group form-md-line-input">
                                        <div class="form-control form-control-static" id="location2"> {{object.location.name}} </div>
                                        <label for="location2">@(products:Location)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-horizontal form-row-seperated">
                                    <div class="portlet light bordered">
                                        <div class="form-group form-md-line-input ">
                                            <textarea class="form-control" ng-model="object.description" rows="8"></textarea>
                                            <label for="MetaDes">@(Reason)</label>
                                            <span class="help-block">@(Reason)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <product-stock-lines ng-model="object.orderRows" title="'@(products:Products)'" ng-disabled="editable" location="object.location"></product-stock-lines>
            </div>
        </div>
    </div>
</div>