<div ng-if="user.isremoved" class="alert alert-danger">
    <strong>@(users:BeCareful)</strong>&nbsp;@(users:UserHasBeenDeleted)
</div>

<div class="page-bar" ng-init="findOne()">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="user.list">@(users:ListOfUsers)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(users:UserCard) </span>
        </li>
    </ul>
    <div class="page-toolbar" ng-hide="user.isremoved">
        <div class="btn-group pull-right">
            <button type="button" class="btn yellow-lemon dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                @(Tools) <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.user.delete" confirmed-click="remove(user)" ng-confirm-click="@(ConfirmDeleteUser)" title="Delete Users ?">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="user.isremoved" class="alert alert-danger"><strong>@(users:BeCareful) !</strong> @(users:UserHasBeenDeleted) </div>


<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal form-row-seperated">
                    <div class="portlet portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-yellow-crusta">
                                <h5 class="page-title" ng-class="{'font-red':!user.isEnable}">
                                    <i class="fa fa-user"></i> {{user.username}}
                                </h5>
                            </div>
                            <div ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox has-success">
                                                <input type="checkbox" id="isEnable" class="md-check" ng-model="user.isEnable" ng-checked="user.isEnable">
                                                <label for="isEnable">
                                                    <span></span>
                                                     <span class="check"></span>
                                                    <span class="box"></span> @(Activated)</label>
                                            </div>
                                        </div>

                                        <div class="form-group form-md-line-input has-success">
                                            <input type="text" class="form-control" id="form_control_1" onbeforesave="checkUserExist($data)" ng-model="user.username">
                                            <label for="form_control_1">@(users:UserName)<span class="required">
                                        * </span></label>
                                        </div>

                                        <div class="form-group form-md-line-input has-success">
                                            <input type="text" class="form-control" id="form_control_1" ng-model="user.password">
                                            <label for="form_control_1">@(users:Password)</label>
                                        </div>

                                        <div class="form-group form-md-line-input has-success">
                                            <input type="text" class="form-control" id="form_control_1" ng-change="checkEmailExist" ng-model="user.email">
                                            <label for="form_control_1">@(Email)<span class="required">
                                        * </span></label>
                                        </div>

                                        <div class="form-group form-md-line-input has-success">
                                            <select type="text" class="form-control" id="form_control_1" ng-model="user.groupe" ng-options="g.id as g.name for g in groups"></select>
                                            <label for="form_control_1">@(users:Group)</label>
                                        </div>

                                        <div class="form-group form-md-line-input has-success">
                                            <input type="text" class="form-control" id="form_control_1" disabled ng-model="user.lastConnection|date:'dd/MM/yyyy'">
                                            <label for="form_control_1">@(users:LastConnection)</label>
                                        </div>

                                        <div class="form-group form-md-line-input has-success">
                                            <input type="text" class="form-control" id="form_control_1" disabled ng-model="user.creationDate|date:'dd/MM/yyyy'">
                                            <label for="form_control_1">@(users:CreatedAt)</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>