<div ng-show="page.total" class="row">
    <div class="col-md-2">
        <div class="margin-top-15">{{(page.page - 1) * page.limit || (page.total ? 1 : 0)}} - {{Math.min(page.limit * page.page, page.total)}} of {{page.total}} items</div>
    </div>
    <div class="col-md-2">
        <div class="margin-top-15">
            <span class=""> show : </span>
            <div class="btn-group btn-group-sm btn-group-solid">
                <button type="button" class="btn btn-sm" ng-class="{blue : page.limit == 25}" ng-click="page.limit = 25; find()">25</button>
                <button type="button" class="btn btn-sm" ng-class="{blue : page.limit == 50}" ng-click="page.limit = 50; find()">50</button>
                <button type="button" class="btn btn-sm" ng-class="{blue : page.limit == 100}" ng-click="page.limit = 100; find()">100</button>
                <button type="button" class="btn btn-sm" ng-class="{blue : page.limit == 200}" ng-click="page.limit = 200; find()">200</button>
            </div>
        </div>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-3">
        <pagination total-items="page.total" ng-model="page.page" items-per-page="page.limit" max-size="6" class="pagination-sm pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="find()"></pagination>
    </div>
</div>