<h3 class="page-title" ng-init="findOne()">
    <i class="fa fa-user font-blue-madison"></i> @(users:GroupCard) {{group.name}} <small> @(From) {{group.createdAt| date:'@(main:date.format.java.dayhour)'}}</small> 
</h3>

<div ng-if="group.isremoved" class="alert alert-danger"><strong>@(users:BeCareful)</strong>&nbsp;@(users:GroupHasBeenDeleted)</div>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="group.list" >@(users:GroupManagement)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{group.name}} </span>
        </li>
    </ul>
    <div class="page-toolbar" ng-hide="group.isremoved">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                @(Tools) <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.user.delete" confirmed-click="remove(group)" ng-confirm-click="@(ConfirmDeleteGroup)" title="Delete Group ?">
                        <i class="fa fa-trash-o font-red"></i>
                        @(Delete)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="portlet blue-madison box">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i>@(users:GroupCard)
                </div>

            </div>
            <div class="portlet-body">

                <div class="row static-info">
                    <div class="col-md-4 name">@(users:NameGroup) :</div>
                    <div class="col-md-8 value">
                        <span class="blue h5">
                            {{group.name}}
                        </span>
                    </div>
                </div>

                <div class="row static-info">
                    <div class="col-md-4 name">@(users:CreatedAt) :</div>
                    <div class="col-md-8 value">
                        <span class="blue h5" > {{group._createdAt}} </span>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-4 col-sm-12">
        <form editable-form name="editableUserCivility" onaftersave="update()">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>@(users:ManagementofAccountingEntries)
                    </div>
                    <div class="actions">
                        <a href="javascript:;" ng-hide="user.isremoved" ng-click="editableUserCivility.$show()" ng-show="!editableUserCivility.$visible && editable" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> @(Edit) </a>
                    </div>

                    <div class="actions" ng-show="editableUserCivility.$visible">
                        <button type="submit" ng-disabled="editableUserCivility.$waiting" class="btn btn-default btn-sm">@(Save)</button>
                        <button type="button" ng-disabled="editableUserCivility.$waiting" ng-click="editableUserCivility.$cancel();
                            findOne();" class="btn btn-default btn-sm">@(Cancel)</button>
                    </div>

                </div>

                <div class="portlet-body">

                    <div ng-controller="AccordionDemoCtrl">
                        <p>
                            <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                            <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
                        </p>

                        <label class="checkbox">
                            <input type="checkbox" ng-model="oneAtATime">
                            Open only one at a time
                        </label>
                        <accordion close-others="oneAtATime">
                            <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                                This content is straight in the template.
                            </accordion-group>
                            <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                                {{group.content}}
                            </accordion-group>
                            <accordion-group heading="Dynamic Body Content">
                                <p>The body of the accordion group grows to fit the contents</p>
                                <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                                <div ng-repeat="item in items">{{item}}</div>
                            </accordion-group>
                            <accordion-group is-open="status.open">
                                <accordion-heading>
                                    I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                </accordion-heading>
                                This is just some content to illustrate fancy headings.
                            </accordion-group>
                        </accordion>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:CountryOfBirth) :</div>
                        <div class="col-md-4 value">
                            <span editable-select="user.countryOfBirth" e-ng-options="s.id as s.label for s in dict.fk_country.values">
                                <small class="blue h5">{{user.countryOfBirth}}</small> 
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:Nationality) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.nationality">
                                {{user.nationality}}</small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:Situation) :</div>
                        <div class="col-md-4 value">
                            <span editable-select="user.familySituation" e-ng-options="s.id as s.label for s in dict.fk_rh_situationFamiliale.values">
                                <small class="blue h5"> {{user.familySituation}} </small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:Children) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.children">
                                {{user.children}}</small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:PerCharges) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.perCharges">
                                {{user.perCharges}}</small>
                            </span>
                        </div>
                    </div>  
                </div>
            </div>

            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>@(users:Informations)
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:SocialeSecurityNumber) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.socialeSecurityNumber">
                                {{user.socialeSecurityNumber}}
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:bankingEtablishment) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.bankingEtablishment">
                                {{user.bankingEtablishment}}</small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:IBAN) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.iban">
                                {{user.iban}}</small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:BIC) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.bic">
                                {{user.bic}}</small>
                            </span>
                        </div>
                    </div>


                </div>
            </div>  

        </form>
    </div>

    <div class="col-md-4 col-sm-12">
        <form editable-form name="editableUserCivility2" onaftersave="update()">
            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>@(users:Emploi)
                    </div>

                    <div class="actions">
                        <a href="javascript:;"  ng-hide="user.isremoved" ng-click="editableUserCivility2.$show()" ng-show="!editableUserCivility2.$visible && editable" class="btn btn-default btn-sm">
                            <i class="fa fa-pencil"></i> @(Edit) </a>
                    </div>

                    <div class="actions" ng-show="editableUserCivility2.$visible">
                        <button type="submit" ng-disabled="editableUserCivility2.$waiting" class="btn btn-default btn-sm">@(Save)</button>
                        <button type="button" ng-disabled="editableUserCivility2.$waiting" ng-click="editableUserCivility2.$cancel();
                            findOne();" class="btn btn-default btn-sm">@(Cancel)</button>
                    </div>

                </div>

                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:ArrivalDate) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.arrivalDate"> {{(user.arrivalDate|date:"dd/MM/yyyy")}} </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:DateOfDeparture) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.dateOfDeparture"> {{(user.dateOfDeparture|date:"dd/MM/yyyy")}}</small> </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:JobDescription) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.jobDescription">
                                {{user.jobDescription}}</small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:TypeOfContract) :</div>
                        <div class="col-md-4 value">
                            <span editable-select="user.typeOfContract" e-ng-options="s.id as s.label for s in dict.fk_rh_contrat.values">
                                <small class="blue h5"> {{user.typeOfContract}} </small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:TrialPeriod) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.trialPeriod"> {{user.trialPeriod}}</small> </span>
                        </div>
                    </div>  

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:GrossSalary) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.grossSalary"> {{user.grossSalary}}</small> </span>
                        </div>
                    </div> 

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:TimeWork) :</div>
                        <div class="col-md-4 value">
                            <span editable-select="user.timeWork" e-ng-options="s.id as s.label for s in dict.fk_rh_tempsTravail.values">
                                <small class="blue h5"> {{user.timeWork}} </small>
                            </span>
                        </div>
                    </div>

                </div>
            </div>   

            <div class="portlet light">

                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-user"></i>@(users:Formations)
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:Classes) :</div>
                        <div class="col-md-4 value">
                            <span editable-select="user.classes" e-ng-options="s.id as s.label for s in dict.fk_rh_niveauEtude.values">
                                <small class="blue h5"> {{user.classes}} </small>
                            </span>
                        </div>
                    </div>

                    <div class="row static-info">
                        <div class="col-md-4 name">@(users:DateOfClasses) :</div>
                        <div class="col-md-4 value">
                            <span class="blue h5" editable-text="user.dateOfClasses"> {{user.dateOfClasses}}</span>
                        </div>
                    </div>
                </div>            
            </div> 
        </form>        
    </div>
    <!--
     <div class="col-md-8 col-sm-12">
         <form editable-form name="userNotes" onaftersave="update()">
             <div class="portlet light">
                 <div class="portlet-title">
                     <div class="caption font-green-sharp">
                         <i class="icon-speech"></i>
                         <span class="caption-subject">@(Notes)</span>
                     </div>
                     <div class="actions">
                         <a href="javascript:;" ng-hide="user.isremoved" ng-click="userNotes.$show()" ng-show="!userNotes.$visible && editable" class="btn btn-default btn-sm">
                             <i class="fa fa-pencil"></i> Éditer </a>
                     </div>
                     <div class="actions ng-hide" ng-show="userNotes.$visible">
                         <button type="submit" ng-disabled="userNotes.$waiting" class="btn btn-default btn-sm">Enregistrer</button>
                         <button type="button" ng-disabled="userNotes.$waiting" ng-click="userNotes.$cancel()" class="btn btn-default btn-sm">Annuler</button>
                     </div>
                 </div>
                 <div class="portlet-body">
                     <pre editable-textarea="user.description" e-name="note" e-rows="6" e-cols="400" e-required e-class="form-control"></pre>
                     <pre class="well"  ng-show="!userNotes.$visible">{{user.description}}</pre>
                 </div>
             </div>
         </form>
     </div>
    -->
</div>