<div class="portlet light portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user"></i>
            <span class="caption-subject dark bold uppercase"> @(ContactsAddressesForCompany)</span>
            <span class="caption-helper"> - @(companies:CardCompany)</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="portlet light bordered" ng-controller="ContactController" ng-init="find($stateParams.id)">
            <div class=" portlet-title ">
                <div class="caption ">
                    <i class="fa fa-user "></i>
                    <span class="caption-subject dark bold uppercase ">@(companies:ListOfContacts) <span ng-if="societe.addresses.length " class="badge badge-info ng-binding ng-scope ">{{societe.addresses.length}}</span></span>
                </div>
                <div class="actions">
                    <button class="btn blue " data-ng-click="addContact() ">@(Add) <i class="fa fa-plus "></i></button>
                    <button title="@(Refresh) " class="btn btn-icon-only btn-default " ng-click="find($stateParams.id) "><i class="fa fa-refresh "></i></button>
                </div>
            </div>

            <!--<div class="portlet-body " ng-include=" '/templates/contact/list.html'  ">
            </div>-->
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-if="societe.type == 'Company'" ng-repeat="contact in contacts">
                        <div class="portlet light bordered">
                            <div class=" portlet-title ">
                                <div class="caption ">
                                    <i class="fa fa-user "></i>
                                    <a ui-sref="societe.show({id:contact._id})">{{contact.name.civilite}} {{contact.fullName}}</a>
                                </div>
                                <button class="actions btn" confirmed-click="delete(contact._id)" ng-confirm-click="Supprimer le contact {{contact.name.civilite}} {{contact.fullName}} de cette liste ?">
                                    <i class="fa fa-times"></i></button>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group form-md-line-input">
                                    <div class="form-control form-control-static" id="Tel-Fixe"> {{contact.phones.phone}} </div>
                                    <label for="Tel-Fixe">@(companies:Tel-Fixe)</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="form-control form-control-static" id="Tel-Mobile"> {{contact.phones.mobile}} </div>
                                    <label for="Tel-Mobile">@(companies:Tel-Mobile)</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="form-control form-control-static" id="email"> <a ng-href="mailto:{{contact.emails[0].email}}">{{contact.emails[0].email || '--'}}</a> </div>
                                    <label for="email">@(companies:Email) </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
            Shipping Address
            -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-industry"></i>
                    <span class="caption-subject dark bold uppercase">@(companies:DeliveriesAddress) <span ng-if="societe.addresses.length" class="badge badge-info ng-binding ng-scope">{{societe.addresses.length}}</span></span>
                </div>
                <div class="actions">
                    <button class="btn blue" data-ng-click="editAddress()">@(Add) <i class="fa fa-plus"></i></button>
                    <button title="@(Refresh)" class="btn btn-icon-only btn-default" ng-click="find()"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="tools">
            </div>


            <div class="portlet-body">
                <script type="text/ng-template" id="addModalAddress.html">
                    <div class="modal-header">
                        <h3 class="no-margin-bottom"><i class="fa fa-truck"></i> @(companies:EditDeliveryAddress)</h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal">

                                <address ng-model="address"></address>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label">@(Status)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="address.Status" ng-options="c.id as c.label for c in dict.fk_user_status.values">
                                                    </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" ng-click="ok()" class="btn btn-circle btn-success">@(Save)</button>
                    </div>
                </script>

                <div class="dataTables_wrapper table-responsive">
                    <div class="col-md-12">
                        <table class="table dataTable table-hover">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">@(Default)</th>
                                    <th>@(Name)</th>
                                    <th>@(Address)</th>
                                    <th>@(Zip)</th>
                                    <th>@(Town)</th>
                                    <th>@(Status)</th>
                                    <th>@(Contact)</th>
                                    <th>@(Phone)</th>
                                    <th>@(Email)</th>
                                    <th>@(Action)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in societe.shippingAddress">
                                    <td><input uniform ng-model="_idAddress" type="checkbox" name="id[]" ng-checked="societe.deliveryAddressId == address.id" ng-click="setDefaultDelivery(address.id)" /></td>
                                    <td> {{address.name}} </td>
                                    <td>
                                        <pre>{{ address.street ||  "Non defini" }}</pre>
                                    </td>
                                    <td> {{address.zip}} </td>
                                    <td> {{address.city}} </td>
                                    <td>
                                        <span class="label label-sm {{address.status.css}}"> {{address.status.name}} </span>
                                    </td>
                                    <td> {{address.contact.name}}</td>
                                    <td> {{address.contact.phone}}</td>
                                    <td> {{address.contact.email}}</td>
                                    <td style="white-space: nowrap">
                                        <!-- form -->
                                        <div class="btn-group buttons">
                                            <button type="button" class="btn btn-xs btn-primary" ng-click="editAddress(address)"><i class="fa fa-pencil"></i></button>
                                            <button type="button" ng-disabled="$index == 0" class="btn btn-xs btn-danger" confirmed-click="removeAddress($index)" ng-confirm-click="Supprimer l'adresse ?"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>