<div class="portlet light portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user"></i>
            <span class="caption-subject dark bold uppercase"> @(ContactsAddressesForCompany)</span>
            <span class="caption-helper"> - @(companies:CardCompany)</span>
        </div>
    </div>

    <div class="portlet-body">
        <div class="portlet light bordered" ng-controller="ContactController" ng-init="find($stateParams.id)">
            <div class=" portlet-title ">
                <div class="caption ">
                    <i class="fa fa-user "></i>
                    <span class="caption-subject dark bold uppercase ">@(companies:ListOfContacts) <span ng-if="societe.addresses.length " class="badge badge-info ng-binding ng-scope ">{{societe.addresses.length}}</span></span>
                </div>
                <div class="actions ">
                    <button class="btn blue " data-ng-click="addContact() ">@(Add) <i class="fa fa-plus "></i></button>
                    <button title="@(Refresh) " class="btn btn-icon-only btn-default " ng-click="find($stateParams.id) "><i class="fa fa-refresh "></i></button>
                </div>
            </div>

            <!--<div class="portlet-body " ng-include=" '/templates/contact/list.html'  ">
            </div>-->
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-if="societe.type == 'Company'" ng-repeat="contact in contacts">
                        <div class="portlet light bordered">
                            <div class=" portlet-title ">
                                <div class="caption ">
                                    <i class="fa fa-user "></i>
                                    <a ui-sref="societe.show({id:contact._id})">{{contact.name.civilite}} {{contact.fullName}}</a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group form-md-line-input">
                                    <div class="form-control form-control-static" id="Tel-Fixe"> {{contact.phones.phone}} </div>
                                    <label for="Tel-Fixe">@(companies:Tel-Fixe)</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="form-control form-control-static" id="Tel-Mobile"> {{contact.phones.mobile}} </div>
                                    <label for="Tel-Mobile">@(companies:Tel-Mobile)</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <div class="form-control form-control-static" id="email"> <a ng-href="mailto:{{contact.emails[0].email}}">{{contact.emails[0].email || '--'}}</a> </div>
                                    <label for="email">@(companies:Email) </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <script type="text/ng-template" id="addContact.html">
                    <div class="modal-header">
                        <h3 class="no-margin-bottom center"><i class="fa fa-user"></i> @(companies:AddContact)</h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal" ng-if="!create">
                                <crm-id label="@(Search) @(companies:Contact)" name="contactId" on-select="addContactToCustomer" ng-model="contact._id" url="/erp/api/societe/autocomplete?all=1&type=Person&company=null" required="true" placeholder="@(Search) @(companies:Contact)" class="form-group form-md-line-input"></crm-id>
                            </div>

                            <form ng-if="create" role="form">
                                <div class="portlet light">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group form-md-line-input">
                                                <select class="table-group-action-input form-control" id="civility" ng-model="contact.name.civilite" ng-options="c.label as c.label for c in dict.fk_civilite.values"></select>
                                                <label for="civility">@(Civilité)</label>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input">
                                                <input class="table-group-action-input form-control" id="lastname" ng-model="contact.name.last"></input>
                                                <label for="last">@(companies:Lastname)</label>
                                            </div>
                                        </div>

                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input">
                                                <input class="table-group-action-input form-control" id="firstname" ng-model="contact.name.first"></input>
                                                <label for="first">@(companies:Firstname)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="birthday" date-input ng-model="contact.dateBirth">
                                        <label for="birthday">@(companies:birthday)</label>
                                    </div>-->

                                    <div>
                                        <address ng-model=contact.address mode="simple"></address>
                                    </div>
                                </div>

                                <div class="portlet light">
                                    <div class="form-group">
                                        <p ng-show="!(contact.phones.mobile || contact.phones.phone || contact.emails[0].email)" class="help-block"> Un email ou un numéro de téléphone est obligatoire pour la création d'un contact. </p>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" placeholder="" id="Tel-Fixe" ng-change="isValidRef()" ng-model="contact.phones.phone">
                                                <label for="Tel-Fixe">@(companies:Tel-Fixe)</label>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" placeholder="" id="Tel-Mobile" ng-change="isValidRef()" ng-model="contact.phones.mobile">
                                                <label for="Tel-Mobile">@(companies:Tel-Mobile)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-md-line-input">
                                                <input type="text" class="form-control" placeholder="" id="Email" ng-change="isValidRef()" ng-model="contact.emails[0].email">
                                                <label for="Email">@(Email)</label>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group form-md-line-input">
                                                <select class="table-group-action-input form-control" id="poste" ng-model="contact.jobPosition" ng-options="c.label as c.label for c in dict.fk_job.values"></select>
                                                <label for="poste">@(companies:PostOrFunction)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="form-group">
                                    <label>@(companies:Soncas)</label>

                                    <div class="checkbox-list">
                                        <label ng-repeat="Soncas in soncas">
                    <span><input uniform type="checkbox" checklist-model="contact.soncas" checklist-value="Soncas" ></span> {{Soncas}} </label>
                                    </div>
                                </div>-->
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn green center right" ng-hide="create" data-ng-click="createNewContact()">@(Add) @(companies:Contact)<i class="fa fa-check"></i></button>
                        <button class="btn green" type="button" ng-hide="!create || !(contact.phones.phone_mobile || contact.phones.phone || contact.emails[0].email)" ng-click="ok()">@(Create) @(companies:Contact)<i class="fa fa-check"></i></button>
                        <button class="btn red" type="button" ng-click="cancel()">@(Cancel)<i class="fa fa-times"></i></button>
                    </div>
                </script>
            </div>
        </div>
        <!--
            Shipping Address
            -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-industry"></i>
                    <span class="caption-subject dark bold uppercase">@(companies:DeliveriesAddress) <span ng-if="societe.addresses.length" class="badge badge-info ng-binding ng-scope">{{societe.addresses.length}}</span></span>
                </div>
                <div class="actions">
                    <button class="btn blue" data-ng-click="editAddress()">@(Add) <i class="fa fa-plus"></i></button>
                    <button title="@(Refresh)" class="btn btn-icon-only btn-default" ng-click="find()"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="tools">
            </div>


            <div class="portlet-body">
                <script type="text/ng-template" id="addModalAddress.html">
                    <div class="modal-header">
                        <h3 class="no-margin-bottom"><i class="fa fa-truck"></i> Edition d'une adresse de livraison</h3>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="form-horizontal">

                                <address ng-model="address"></address>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label">@(Status)</label>
                                    <div class="col-md-9">
                                        <select class="form-control" ng-model="address.Status" ng-options="c.id as c.label for c in dict.fk_user_status.values">
                                                    </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" ng-click="ok()" class="btn btn-circle btn-success">@(Save)</button>
                    </div>
                </script>

                <div class="dataTables_wrapper table-responsive">
                    <div class="col-md-12">
                        <table class="table dataTable table-hover">
                            <thead>
                                <tr role="row" class="heading">
                                    <th width="2%">
                                        @(Default)
                                    </th>
                                    <th>@(Name)</th>
                                    <th>@(Address)</th>
                                    <th>@(Zip)</th>
                                    <th>@(Town)</th>
                                    <th>@(Status)</th>
                                    <th>@(Contact)</th>
                                    <th>@(Phone)</th>
                                    <th>@(Email)</th>
                                    <th>@(Action)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="address in societe.shippingAddress">
                                    <td><input uniform ng-model="_idAddress" type="checkbox" name="id[]" ng-checked="societe.deliveryAddressId == address.id" ng-click="setDefaultDelivery(address.id)" /></td>
                                    <td> {{address.name}} </td>
                                    <td><pre>{{ address.street ||  "Non defini" }}</pre></td>
                                    <td> {{address.zip}} </td>
                                    <td> {{address.city}} </td>
                                    <td>
                                        <span class="label label-sm {{address.status.css}}"> {{address.status.name}} </span>
                                    </td>
                                    <td> {{address.contact.name}}</td>
                                    <td> {{address.contact.phone}}</td>
                                    <td> {{address.contact.email}}</td>
                                    <td style="white-space: nowrap">
                                        <!-- form -->
                                        <div class="btn-group buttons">
                                            <button type="button" class="btn btn-xs btn-primary" ng-click="editAddress(address)"><i class="fa fa-pencil"></i></button>
                                            <button type="button" ng-disabled="$index == 0" class="btn btn-xs btn-danger" confirmed-click="removeAddress($index)" ng-confirm-click="Supprimer l'adresse ?"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>