<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-credit-card"></i>
                        <span class="caption-subject dark bold uppercase"> @(bills:Billing)</span>
                        <span class="caption-helper"> - @(companies:CardCompany)</span>
                    </div>
                    <save ng-disabled="!editable" mode="societe._id" ng-create="create()" ng-update="update(true)" back-to="backTo" class="actions btn-set"></save>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="portlet light portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-cog"></i>@(bills:AccountParameters)
                                        </div>

                                    </div>
                                    <div class="portlet-body">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">

                                                    <div ng-if="societe.salesPurchases.isCustomer" class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.salesPurchases.customerAccount">
                                                        <label for="form_control_1">@(compta:CustomerAccountancyCodeShort) </label>
                                                    </div>

                                                    <div ng-if="societe.salesPurchases.isSupplier || societe.salesPurchases.isSubcontractor" class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.salesPurchases.supplierAccount">
                                                        <label for="form_control_1">@(compta:SupplierAccountancyCodeShort) </label>
                                                    </div>

                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.idprof6">
                                                        <label for="form_control_1">@(companies:VATIntra) </label>
                                                    </div>

                                                    <div class="form-group form-md-line-input"></div>

                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.salesPurchases.cptBilling">
                                                        <label for="form_control_1">@(commercial:ThirdPartyBilling) </label>
                                                    </div>

                                                    <div class="md-checkbox">
                                                        <div class="md-checkbox">
                                                            <input type="checkbox" id="checkbox6" class="md-check" ng-model="societe.salesPurchases.groupDelivery">
                                                            <label for="checkbox6">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @(companies:GroupDeliveries) </label>
                                                        </div>
                                                        <div class="md-checkbox">
                                                            <input type="checkbox" id="checkbox7" class="md-check" ng-model="societe.salesPurchases.VATIsUsed">
                                                            <label for="checkbox7">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span> @(companies:VATIsUsed) </label>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">

                                                    <div class="form-group form-md-line-input">
                                                        <select class="table-group-action-input form-control" ng-model="societe.salesPurchases.cond_reglement" ng-options="s.id as s.label for s in dict.fk_payment_term.values"></select>
                                                        <label for="form_control_1">@(bills:PaymentConditions)</label>
                                                    </div>

                                                    <div class="form-group form-md-line-input">
                                                        <select class="table-group-action-input form-control" ng-model="societe.salesPurchases.mode_reglement" ng-options="s.id as s.label for s in dict.fk_paiement.values"></select>
                                                        <label for="form_control_1">@(bills:PaymentMode)</label>
                                                    </div>

                                                    <div class="form-group form-md-line-input">
                                                        <select class="table-group-action-input form-control" ng-model="societe.salesPurchases.bank_reglement" ng-options="s.ref as s.ref for s in banks"></select>
                                                        <label for="form_control_1">@(bills:PaymentBank)</label>
                                                    </div>

                                                    <div class="form-group form-md-line-input"></div>

                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.iban.bank">
                                                        <label for="form_control_1">@(bank:BankName) </label>
                                                    </div>

                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.iban.swift">
                                                        <label for="form_control_1">@(bank:BIC/SWIFT) </label>
                                                    </div>

                                                    <div class="form-group form-md-line-input">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.iban.id">
                                                        <label for="form_control_1">@(bank:IBAN) </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="col-md-4">
                                <div class="portlet light portlet-form bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-line-chart"></i> @(Summary)
                                        </div>
                                        <div class="tools">
                                            <a class="reload" href="javascript:;" data-original-title="" title="@(ReLoad)">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row static-info">

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <div class="form-control form-control-static"> {{societe.idprof5}} </div>
                                                <label for="form_control_1">@(bills:LastBill) :</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <div class="form-control form-control-static"> {{societe.idprof5}} </div>
                                                <label for="form_control_1">@(bills:LastPayment) :</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <div class="form-control form-control-static"> {{societe.idprof5}} </div>
                                                <label for="form_control_1">@(bills:TotalInvoicedThisMonth) :</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <div class="form-control form-control-static"> {{societe.idprof5}} </div>
                                                <label for="form_control_1">@(bills:TotalInvoicedThisYear) :</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <div class="form-control form-control-static"> {{societe.idprof5}} </div>
                                                <label for="form_control_1">@(bills:RemainderToTake) :</label>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <div class="form-control form-control-static"> {{societe.idprof5}} </div>
                                                <label for="form_control_1">@(bills:PaymentPeriod) :</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class='col-md-12'>
                        <!--INVOICE TABLE-->
                        <tabset class="tabbable-line tabbable-full-width">
                            <tab heading="@(bills:BillsCustomer)" ng-if="societe.salesPurchases.isCustomer">
                                <div ng-include="'/templates/_bill/list.html'" ng-controller="BillController" onload="ngIncludeInit({'client.id': societe._id}, 5)"></div>
                            </tab>

                            <tab heading="@(bills:BillsSupplier)" ng-if="societe.salesPurchases.isSupplier || societe.salesPurchases.isSubcontractor">
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="btn-group pull-left">
                                                    <button class="btn blue" data-ng-click="addNew()">@(Add) <i class="fa fa-plus"></i></button>
                                                    <button title="@(Refresh)" class="btn" data-ng-click="
                                        commercialList = [];
                                        commercial_id = '';
                                        status_id = null;
                                        filterOptionsSociete.filterText = '';
                                        clearCache();
                                        find();"><i class="fa fa-refresh"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="btn-group pull-right">
                                                    <button class="btn dropdown-toggle" data-toggle="dropdown">@(Tools) <i class="fa fa-angle-down"></i>
                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="#">
                                                @(Update) </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                @(Delete) </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dataTables_wrapper no-footer">
                                        <table class="table table-striped table-bordered table-hover" id="societeListInvoicesSuppliers">
                                            <thead>
                                                <tr role="row" class="heading">
                                                    <th width="2%">
                                                        <input type="checkbox" class="group-checkable">
                                                    </th>
                                                    <th>@(bills:InvoiceId)</th>
                                                    <th>@(bills:Date)</th>
                                                    <th>@(bills:DateEcheance)</th>
                                                    <th>@(bills:NetToBePaid)</th>
                                                    <th>@(bills:AlreadyPaid)</th>
                                                    <th>@(bills:StillToBeDisbursed)</th>
                                                    <th>@(Status)</th>
                                                    <th>@(DateLastModification)</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="@(bills:InvoicePayment)" ng-if="societe.salesPurchases.isSupplier || societe.salesPurchases.isSubcontractor || societe.salesPurchases.isCustomer">
                                <div class="portlet-body">
                                    <div class="table-toolbar">
                                        <div class="row">
                                            <div class="col-md-6" ng-show="!global.user.rights.bill.read">
                                                <div class="btn-group pull-left">
                                                    <button class="btn blue" disabled data-ng-click="paymentBills()">@(Add) <i class="fa fa-plus"></i></button>
                                                    <button title="@(Refresh)" class="btn" data-ng-click="
                                        commercialList = [];
                                        commercial_id = '';
                                        status_id = null;
                                        filterOptionsSociete.filterText = '';
                                        clearCache();
                                        find();"><i class="fa fa-refresh"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="btn-group pull-right">
                                                    <button class="btn dropdown-toggle" data-toggle="dropdown">@(Tools) <i class="fa fa-angle-down"></i>
                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="#">
                                                @(Update) </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                @(Delete) </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dataTables_wrapper no-footer">
                                        <table class="table table-striped table-bordered table-hover" id="societeListInvoicePayment">
                                            <thead>
                                                <tr role="row" class="heading">
                                                    <th width="2%">
                                                        <input type="checkbox" class="group-checkable">
                                                    </th>
                                                    <th>@(bills:DatePayment)</th>
                                                    <th>@(bills:TypePayment)</th>
                                                    <th>@(bills:NumberCheckTrans)</th>
                                                    <th>@(bills:Bank)</th>
                                                    <th>@(bills:PaymentBank)</th>
                                                    <th>@(bills:PaymentAmout)</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>