<div ng-repeat="error in societe.errors" class="alert alert-warning">
    <strong>Erreur !</strong> {{error}} </div>

<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div ng-show="societe._id" class="portlet-title">
                    <div class="caption">
                        <i class="icon-info"></i>
                        <span class="caption-subject dark bold uppercase"> @(Informations)</span>
                        <!--<span ng-hide="!" class="caption-helper"> - @(companies:CardCompany)</span>-->
                        <span ng-hide="societe.type == 'Company'" class="caption-helper"> - @(companies:CustomerCard)</span>
                        <span ng-hide="societe.type == 'Person'" class="caption-helper"> - @(companies:CardCompany)</span>
                    </div>
                    <save ng-disabled="!editable" mode="societe._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>
                <div ng-hide="societe._id" class="portlet-title">
                    <div class="caption">
                        <i class="icon-magic-wand"></i>
                        <span class="caption-subject dark bold uppercase"> @(companies:MenuNewThirdParty)</span>
                    </div>
                    <save ng-disabled="!editable" mode="societe._id" ng-create="create()" ng-update="update()" back-to="backTo" class="actions btn-set"></save>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="portlet light bordered">
                                    <div class="form-group form-md-radios">
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="person" name="type" class="md-radiobtn" ng-model="societe.type" value="Person">
                                                <label for="person">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @(companies:Person) </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="company" name="type" class="md-radiobtn" ng-model="societe.type" value="Company">
                                                <label for="company">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @(companies:Company) </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Person -->
                                    <div ng-show="societe.type == 'Person'" class="form-group form-md-line-input">
                                        <select class="table-group-action-input form-control" ng-model="societe.name.civilite" ng-options="s.id as s.label for s in dict.fk_civilite.values"></select>
                                        <label for="form_control_1">@(companies:UserTitle)</label>
                                    </div>

                                    <div ng-show="societe.type == 'Person'" class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.name.last">
                                        <label for="form_control_1">@(companies:Lastname) </label>
                                    </div>

                                    <div ng-show="societe.type == 'Person'" class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="form_control_1" ng-model="societe.name.first">
                                        <label for="form_control_1">@(companies:Firstname) </label>
                                    </div>

                                    <!-- Company -->
                                    <div ng-hide="societe.type == 'Person'" class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="name.last" ng-model="societe.name.last">
                                        <label for="name.last">@(companies:Name) </label>
                                    </div>

                                    <div class="form-group form-md-line-input" ng-class="{'has-error':$error , 'has-success': !$error}">
                                        <input type="text" class="form-control" maxlength="13" id="ref" ng-change="checkCodeClient()" ng-model="societe.salesPurchases.ref" ng-model-options='{ debounce: 500 }'>
                                        <label for="ref">@(companies:IdThirdParty)
                                            <span class="required">
                                                * </span>
                                        </label>
                                    </div>

                                    <div ng-hide="societe.type == 'Person'" class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="brand" ng-model="societe.companyInfo.brand">
                                        <label for="brand">@(companies:SocGroupShort) </label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox">
                                                <input type="checkbox" id="isGeneric" class="md-check" ng-model="societe.salesPurchases.isGeneric" ng-checked="societe.salesPurchases.isGeneric">
                                                <label for="isGeneric">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> @(companies:GenericCustomer)</label>
                                                <span class="help">(@(companies:BecomeGenericCustomer))</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <label for="">@(Entities)</label>
                                        <div class="md-checkbox-inline">
                                            <div class="md-checkbox" ng-repeat="value in entityList">
                                                <input type="checkbox" class="md-check" name="checkedObj[]" id="{{value.id}}" ng-click="toggleSelection(societe.entity, value.id)" ng-checked="societe.entity.indexOf(value.id) >= 0" />
                                                <label for="{{value.id}}">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> {{value.name}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="portlet light bordered">
                                    <div class="caption">
                                        <span class="caption-subject lowercase font-yellow-crusta"> @(companies:MainAddress) </span>
                                        <small class="lowercase font-yellow-crusta">(de facturation)</small>
                                        <hr>
                                        <address ng-model=societe.address mode="withEmail"></address>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6 col-sm-12">
                                <form editable-form name="editableInfo" onaftersave="addNote()">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">@(StrategicInformation)
                                            </div>
                                            <div class="actions" ng-show="!editableInfo.$visible">
                                                <a href="#" ng-click="editableInfo.$show()" ng-show="!editableInfo.$visible && editable" class="btn yellow-haze btn-sm" data-original-title="" title="@(Add)">
                                                    <i class="fa fa-plus"></i>@(Add)</a>
                                            </div>
                                            <div class="actions" ng-show="editableInfo.$visible">
                                                <button type="button" ng-disabled="editableInfo.$waiting" ng-click="editableInfo.$cancel();
                                                                findOne();" class="btn red btn-sm">
                                                    <i class="fa fa-angle-left"></i>@(Cancel)</button>
                                                <button type="submit" ng-disabled="editableInfo.$waiting" class="btn green btn-sm">
                                                    <i class="fa fa-check-circle"></i>@(Save)</button>
                                            </div>

                                        </div>
                                        <div class="portlet-body">
                                            <span editable-select="note.css" e-ng-options="s.id as s.name for s in noteStatus"></span>
                                            <pre editable-textarea="note.note" e-name="note" e-rows="6" e-cols="400" e-required e-class="form-control"></pre>
                                            <div class="" style="max-height:400px;overflow-y: auto">
                                                <div ng-repeat="vnote in societe.notes| orderBy:'-datec'">
                                                    <div class="note row" ng-class="vnote.css">
                                                        <h4 class="block col-md-12">
                                                            <i class="icon-speech"></i>
                                                            <b>{{vnote.author.username}}</b> -
                                                            <i>{{ vnote.datec | date:'@(main:date.format.java.dayhour)' }}
                                                            </i>
                                                            <span ng-if="login.rights.societe.delete" title="Supprimer note" class="pull-right icon icon-trash" ng-confirm-click="@(DeletePostIt)" confirmed-click="removeNote(vnote)"></span>
                                                        </h4>
                                                        <pre class="col-md-12">{{vnote.note}}</pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <div class="portlet light bordered">
                                    <div class="form-group form-md-line-input">
                                        <select class="table-group-action-input form-control" id="Language" required ng-model="societe.salesPurchases.language" ng-options="s.idx as s.name for s in $dict.language"></select>
                                        <label for="Language">@(Language)</label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="Phone" ng-model="societe.phones.phone">
                                        <label for="Phone">@(companies:Phone) </label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="PhoneMobile" ng-model="societe.phones.mobile">
                                        <label for="PhoneMobile">@(companies:PhoneMobile) </label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <input type="text" class="form-control" id="Fax" ng-model="societe.phones.fax">
                                        <label for="Fax">@(companies:Fax) </label>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <div class="input-group">
                                            <div class="input-group-control">
                                                <input type="text" class="form-control" id="Email" ng-model="societe.emails[0].email">
                                                <label for="Email">@(Email) </label>
                                            </div>
                                            <span class="input-group-btn btn-right">
                                                <a ng-href="mailto:{{societe.emails[0].email}}" class="btn yellow" type="button">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <div class="input-group">
                                            <div class="input-group-control">
                                                <input type="text" placeholder="@(companies:WithHttp)" class="form-control" id="societe.url" ng-model="societe.url">
                                                <label for="societe.url">@(Web) </label>
                                            </div>
                                            <span class="input-group-btn btn-right">
                                                <a ng-href="{{societe.url}}" target="_blank" class="btn yellow" type="button">
                                                    <i class="fa fa-globe"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group form-md-line-input">
                                        <div class="input-group">
                                            <div class="input-group-control">
                                                <input type="text" placeholder="@(companies:WithHttp)" class="form-control" id="form_control_1" ng-model="societe.social.TW">
                                                <label for="form_control_1">@(companies:Twitter) </label>
                                            </div>
                                            <span class="input-group-btn btn-right">
                                                <a ng-href="{{societe.social.TW}}" target="_blank" class="btn yellow" type="button">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <div class="input-group">
                                            <div class="input-group-control">
                                                <input type="text" placeholder="@(companies:WithHttp)" class="form-control" id="form_control_1" ng-model="societe.social.LI">
                                                <label for="form_control_1">@(companies:LinkedIn) </label>
                                            </div>
                                            <span class="input-group-btn btn-right">
                                                <a ng-href="{{societe.social.LI}}" target="_blank" class="btn yellow" type="button">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <div class="input-group">
                                            <div class="input-group-control">
                                                <input type="text" placeholder="@(companies:WithHttp)" class="form-control" id="form_control_1" ng-model="societe.social.FB">
                                                <label for="form_control_1">@(companies:FaceBook) </label>
                                            </div>
                                            <span class="input-group-btn btn-right">
                                                <a ng-href="{{societe.social.FB}}" target="_blank" class="btn yellow" type="button">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>