<h3 class="page-title">
    <i class="fa fa-institution font-blue-steel"></i> @(companies:NewCompany)
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="societe.list" >@(companies:CompanyList)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>@(companies:NewCompany)</span>
        </li>
    </ul>
</div>



<form ng-submit="create()" role="form">
    <div class="row">
        <div class="col-md-6 col-sm-12">

            <!-- BEGIN PARAMETRES GENERAUX -->
            <div class="portlet blue-steel box">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-institution"></i> @(GeneralParameters)
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div ng-if="login.multiEntities" class="form-group">
                                <label class="col-md-3 control-label">@(Entity)</label>
                                <div class="col-md-9">
                                    <select class="form-control" data-ng-model="societe.entity" data-ng-options="s.id as s.name for s in entityListAll"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:Company)</label>
                                <div class="col-md-9">
                                    <input class="form-control" required data-ng-model="societe.name" placeholder="@(companies:CompanyName)" type="text" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:SocGroupShort)</label>
                                <div class="col-md-9">
                                    <input class="form-control" placeholder="@(companies:SocGroup)" ng-model="societe.caFamily" typeahead="ca as ca for ca in AutoComplete($viewValue,'api/societe/autocomplete/caFamily', societe.entity)" type="text" autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':societe.idprof2 && !validSiret, 'has-success': validSiret}">
                                <label class="col-md-3 control-label">@(companies:ProfId2FR)</label>
                                <div class="col-md-9">
                                    <div class="input-icon right input-inline input-medium">
                                        <i class="fa" ng-class="{'fa-warning': societe.idprof2 && !validSiret, 'fa-check': validSiret}"></i>
                                        <input ng-disabled="noSiret" type="text" data-ng-model="societe.idprof2" data-ng-change="isValidSiret()" id="code" class="form-control input-inline input-medium" placeholder="@(companies:ProfId2FR) sans espace" autocomplete="off"/>
                                    </div>
                                    <span class="help-inline">
                                        <label class="checkbox">
                                            <input ng-model="noSiret" ng-change="societe.idprof2 = ''" type="checkbox"/>
                                            @(companies:PublicCorparation)/@(companies:Fundation)
                                        </label>
                                    </span>
                                    <span class="help-block">
                                        <div ng-show="societe.idprof2 == null || societe.idprof2 == '' && !noSiret"> @(companies:AccountDuplicateControle)</div>
                                        <div class="alert alert-warning" ng-show="societe.idprof2 && !validSiret"> Code incorrect.</div>
                                        <div class="alert alert-danger" ng-show="validSiret && siretFound"> Ce code existe déjà dans la base : {{siretFound.name}} (@(Entity) : {{siretFound.entity}}).</div>
                                        <div class="alert alert-success" ng-show="validSiret && !siretFound"> Code correct.</div>
                                    </span>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-md-3 control-label">@(Address)</label>
                                <div class="col-md-9">
                                    <div crm-address mode="create" model="societe"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:ProspectStatus)</label>
                                <div class="radio-list col-md-9 value">
                                    <span>
                                        <input type="radio" name="prospectStatus" required ng-model="societe.Status" value="ST_NEVER" class=""/> @(None)
                                        <input type="radio" name="prospectStatus" required ng-model="societe.Status" value="ST_PFROI" class=""/> @(companies:Prospect)
                                        <input type="radio" name="prospectStatus" required ng-model="societe.Status" value="ST_CINF3" class=""/> @(companies:Customer)
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:SupplierStatus) </label>
                                <div class="radio-list col-md-9">
                                    <span>
                                        <input type="radio" name="supplierStatus" required ng-model="societe.fournisseur" value="NO" class=""/> @(None)
                                        <input type="radio" name="supplierStatus" required ng-model="societe.fournisseur" value="SUPPLIER" class=""/> @(companies:Supplier)
                                        <input type="radio" name="supplierStatus" required ng-model="societe.fournisseur" value="SUBCONTRACTOR" class=""/> @(companies:Subcontractor)
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:Phone)</label>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="societe.phone" placeholder="@(companies:Phone) @(General)" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:Fax)</label>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="societe.fax" placeholder="@(companies:Fax) @(General)" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@(Email)</label>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="societe.email" placeholder="@(AdressEmail) @(General)" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:WebSite)</label>
                                <div class="col-md-9">
                                    <input class="form-control" ng-model="societe.url" placeholder="@(companies:WebSite) avec http(s)://" type="url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:Capital)</label>
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="societe.capital" placeholder="@(companies:Capital)" type="number">
                                </div>
                                <label class="col-md-1 control-label">@(companies:ProfId3FR)</label>
                                <div class="col-md-4">
                                    <input class="form-control" ng-model="societe.idprof3" placeholder="@(companies:ProfId3FR)" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@(companies:JuridicalStatus)</label>
                                <div class="col-md-9">
                                    <select class="form-control" data-ng-model="societe.forme_juridique_code" data-ng-options="c.id as c.label for c in dict.fk_forme_juridique.values">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="col-md-6 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-red-flamingo">
                        <i class="fa fa-hand-o-right font-red-flamingo"></i>@(commercial:CommercialParameters)
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(companies:ProspectLevelShort)</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="societe.prospectlevel" data-ng-options="c.id as c.label for c in dict.fk_prospectlevel.values">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(commercial:Commercial)</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="societe.commercial_id" ng-init="loadUsers()" data-ng-options="user as user.name for user in userList">
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">@(companies:ThirdPartyType)</label>
                            <div class="col-md-8">
                                <select class="form-control" data-ng-model="societe.typent_id" data-ng-options="c.id as c.label for c in dict.fk_typent.values"></select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">@(companies:CustomerSegmentation)</label>
                            <div class="col-md-8">
                                <select class="form-control" id="segmentation" data-ng-model="societe.segmentation" data-ng-options="c as c.label group by c.group for c in dict.fk_segmentation.values"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">@(companies:Rival)</label>
                            <div class="col-md-8">
                                <select class="form-control" id="segmentation" data-ng-model="societe.rival" data-ng-options="s.label as s.label for s in dict.fk_rival.values"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class ="col-md-6 col-sm-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-money font-green"></i>@(bills:BillingSettings)
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(companies:ThirdPartyBilling)</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="societe.cptBilling" typeahead="societe as societe.name for societe in societeAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" placeholder="@(companies:ThirdPartyBillingDesc)" type="text">
                            </div>
                        </div> 
                        <!--<div class="form-group" ng-show="societe.Status && societe.Status !== 'ST_NEVER'">
                            <label class="col-md-4 control-label">@(compta:CustomerAccountancyCodeShort)</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="societe.code_compta" placeholder="@(compta:CustomerAccountancyCode)" type="text">
                            </div>
                        </div>-->
                        <div class="form-group" ng-show="societe.fournisseur && societe.fournisseur !== 'NO'">
                            <label class="col-md-4 control-label">@(compta:SupplierAccountancyCodeShort)</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="societe.code_compta_fournisseur" placeholder="@(compta:SupplierAccountancyCode)" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(companies:ImportExport)</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="societe.importExport" ng-options='s.id as s.name for s in importExport'></select>
                                <span class="help-block">
                                        @(companies:ImportExportHelp)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <span class="help-inline">
                                    <label class="checkbox">
                                        <input ng-checked="societe.VATIsUsed" ng-model="societe.VATIsUsed" checked="checked" type="checkbox"/>
                                        @(companies:VATIsUsed)
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-8">
                                <input ng-model="societe.idprof6" class="form-control" placeholder="@(companies:VATIntra)" type="text">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(bills:PaymentConditions)</label>
                            <div class="col-md-8">
                                <select class="form-control" data-ng-model="societe.cond_reglement" data-ng-options="s.id as s.label for s in dict.fk_payment_term.values"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(bills:PaymentMode)</label>
                            <div class="col-md-8">
                                <select class="form-control" data-ng-model="societe.mode_reglement" data-ng-options="s.id as s.label for s in dict.fk_paiement.values"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(bills:PaymentBank)</label>
                            <div class="col-md-8">
                                <select class="form-control" data-ng-model="societe.bank_reglement" data-ng-options="s.ref as s.ref for s in banks"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(products:PriceLevel)</label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="societe.price_level" typeahead="price_level.name for price_level in priceLevelAutoComplete($viewValue, 'name') | filter:{name:$viewValue}" placeholder="@(products:PriceLevel)" type="text"></div>
                            <label class="col-md-3 control-label">@(companies:CustomerRelativeDiscountShort)</label>
                            <div class="col-md-2">
                                <input class="form-control" disabled placeholder="en %" type="number">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(bank:Bank)</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="societe.iban.bank" placeholder="@(bank:BankName)" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(bank:IBAN)</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="societe.iban.id" placeholder="@(bank:IBAN)" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">@(bank:BIC/SWIFT)</label>
                            <div class="col-md-8">
                                <input class="form-control" ng-model="societe.iban.swift" placeholder="@(bank:BIC/SWIFT)" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-5 col-md-7">
                <button type="submit" class="btn blue">@(Create)</button>
                <a ui-sref="societe.list" class="btn default">@(Cancel)</a>
            </div>
        </div>
    </div>
</form>