<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="customer.list">@(companies:CardCompany) / @(companies:Contact)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>{{societe.name}}</span>
        </li>
    </ul>
    <div class="page-toolbar" ng-if="product.zone">
        <div class="pull-right btn btn-fit-height" ng-class="{'yellow-gold':!product.entity.length, 'purple':product.entity.length}">
            <i class="icon-globe"></i>&nbsp; @(eshop:OnWebSale) :
            <span class="thin uppercase hidden-xs">{{product.entity.length}}</span>
        </div>
    </div>
</div>
<h3 class="page-title" ng-class="{'font-red':!product.info.isActive}">
    <i class="fa fa-cubes font-grey-silver"></i> @(companies:CardCompany) / @(companies:Contact) : {{societe.name}} <small ng-hide="!product.info.isActive" class="font-yellow">@(Enabled)</small><small ng-show="!product.info.isActive" class="font-grey">@(Disabled)</small>
</h3>

<div ng-if="product.isremoved" class="alert alert-danger"><strong>Attention !</strong> Ce produit est supprime. </div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img ng-src="{{getLogo('product', product)}}" class="img-responsive" alt="Product" />
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> {{societe.name}} </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only"> 60% Complete </span>
                    </div>
                </div>
                <!-- SIDEBAR BUTTONS -->
                <!--        <div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div> -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('societe.show.person')}">
                            <a ui-sref="societe.show.person({id:societe._id})">
                                <i class="icon-info"></i> @(Informations) </a>
                        </li>
                        <li ng-class="{active: $state.includes('ssociete.show.company')}">
                            <a ui-sref="societe.show.company({id:societe._id})">
                                <i class="icon-info"></i> @(Informations) </a>
                        </li>
                        <li ng-class="{active: $state.includes('societe.show.adresses')}">
                            <a ui-sref="societe.show.adresses({id:societe._id})">
                                <i class="icon-user"></i> @(ContactsAddressesForCompany) </a>
                        </li>
                        <li ng-class="{active: $state.includes('societe.show.commercial')}">
                            <a ui-sref="societe.show.commercial({id:societe._id})">
                                <i class="icon-basket"></i> @(commercial:Commercial) </a>
                        </li>
                        <li ng-class="{active: $state.includes('societe.show.billing')}">
                            <a ui-sref="societe.show.billing({id:societe._id})">
                                <i class="icon-credit-card"></i> @(bills:Billing) </a>
                        </li>
                        <li ng-class="{active: $state.includes('societe.show.task')}">
                            <a ui-sref="societe.show.task({id:societe._id})">
                                <i class="icon-bubbles"></i> @(tasks:Tasks) </a>
                        </li>

                        <li ng-class="{active: $state.includes('societe.show.feeds')}">
                            <a ui-sref="societe.show.feeds({id:societe._id})">
                                <i class="icon-bell"></i> @(tasks:Actions) </a>
                        </li>
                        <li ng-class="{active: $state.includes('societe.show.files')}">
                            <a ui-sref="societe.show.files({id:societe._id})">
                                <i class="icon-picture"></i> @(products:Images/documents) </a>
                        </li>
                        <li ng-class="{active: $state.includes('societe.show.stats')}">
                            <a ui-sref="societe.show.stats({id:societe._id})">
                                <i class="icon-bar-chart"></i> @(Statistics) </a>
                        </li>

                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{societe.createdAt|date:'dd/MM/yyyy'}} </div>
                        <div class="uppercase profile-stat-text"> @(DateCreation)</div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="uppercase profile-stat-title"> {{societe.updatedAt|date:'dd/MM/yyyy'}} </div>
                        <div class="uppercase profile-stat-text"> @(DateModification) </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">{{product.info.SKU}}</h4>
                    <span class="profile-desc-text"> {{product.info.langs[0].name}}. </span>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <div ui-view class="profile-content fade-in-up"></div>
    </div>
</div>