<div>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a ui-sref="home">@(Home)</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li ng-show="!type && forSales===1">
                <span>@(companies:ListCustomersShort)</span>
            </li>
            <li ng-show="forSales===0">
                <span>@(companies:ListSuppliersShort)</span>
            </li>
            <li ng-show="type=='Person'">
                <span>@(companies:ListOfContacts)</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button class="btn yellow-crusta dropdown-toggle uppercase" data-toggle="dropdown"><i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                            </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" onclick="javascript:window.print();"><i class="fa fa-print"></i> 
                                        @(PrintList) </a>
                    </li>
                    <li class="divider"></li>
                    <!-- <li>
                                    <a href="#">
                                    @(Update) </a>
                                </li>-->
                    <li>
                        <a ng-show="login.rights.societe.read" ng-href="/erp/api/societe/export?contentType=societe&type=xls&filter={{search}}">
                            <i class="fa fa-file-excel-o"></i> @(Export XLS)</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="font-red" ng-show="login.rights.societe.delete" confirmed-click="remove()" ng-confirm-click="Confirmez-vous la suppression des sociétés ? Ceci sera irrémédiable.">
                            <i class="fa fa-trash-o font-red"></i> @(Delete)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="portlet light portlet-form bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-institution"></i>
                <span ng-show="!type && forSales === 1" class="caption-subject dark bold uppercase"> @(companies:CustomerList)</span>
                <span ng-show="forSales === 0" class="caption-subject dark bold uppercase"> @(companies:SupplierList)</span>
                <span ng-show="type == 'Person'" class="caption-subject dark bold uppercase"> @(companies:ListOfContacts)</span>
            </div>
            <div class="actions">
                <button class="btn blue" ui-sref="societe.create">@(Add) <i class="fa fa-plus"></i></button>
                <button title="@(Refresh)" class="btn btn-icon-only btn-default" ng-click="find()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="tools">
        </div>
        <div class="portlet-body portlet-form bordered waiting">
            <div class="row hidden-print">
                <div class="col-md-9">
                    <div class="portlet light bg-inverse">
                        <div class="portlet-body">
                            <form ng-submit="find()">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>@(Name)</label>
                                            <input ng-model="quickSearch" ng-model-options='{ debounce: 500 }' class="form-control input-sm" ng-change="find()" />
                                        </div>

                                        <div class="form-group">
                                            <label ng-show="forSales">@(commercial:Commercial)</label>
                                            <label ng-hide="forSales">@(orders:Buyer)</label>

                                            <select ng-model="search.salesPerson.value[0]" ng-change="find()" ng-options="s._id as s.fullName for s in $dict.salesPerson" class="form-control input-sm"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="Status">@(companies:Entity)</label>
                                            <select ng-model="search.entity.value[0]" ng-options="s.id as s.name for s in entityList" class="form-control input-sm"></select>
                                        </div>

                                        <div ng-show="forSales" class="form-group">
                                            <label>@(Status)</label>
                                            <select ng-model="search.Status.value[0]" id="Status" ng-options="s.id as s.label for s in dict.fk_stcomm.values" class="form-control input-sm"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group" ng-if="forSales">
                                            <label>@(companies:Status.IsProspect)</label>
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isProspectYes" class="md-check" ng-model="search.isProspect.value[0]" ng-checked="search.isProspect.value[0]" ng-change="find()">
                                                    <label for="isProspectYes">
                                                                        <span></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> @(Yes)</label>
                                                </div>

                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isProspectNo" class="md-check" ng-model="search.isProspect.value[1]" ng-checked="search.isProspect.value[1]" ng-change="find()">
                                                    <label for="isProspectNo">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> @(No)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="forSales">
                                            <label>@(companies:Status.IsCustomer)</label>
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isCustomerYes" class="md-check" ng-model="search.isCustomer.value[0]" ng-checked="search.isCustomer.value[0]" ng-change="find()">
                                                    <label for="isCustomerYes">
                                                                        <span></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> @(Yes)</label>
                                                </div>

                                                <div class="md-checkbox">
                                                    <input type="checkbox" id="isCustomerNo" class="md-check" ng-model="search.isCustomer.value[1]" ng-checked="search.isCustomer.value[1]" ng-change="find()">
                                                    <label for="isCustomerNo">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> @(No)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-hide="forSales" class="form-group">
                                            <label>@(companies:Status.IsSupplier)</label>
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input name="isSupplier" type="checkbox" id="isSupplierYes" class="md-check" ng-model="search.isSupplier.value[0]" ng-checked="search.isSupplier.value[0]" ng-change="find()">
                                                    <label for="isSupplierYes">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> @(Yes)</label>
                                                </div>

                                                <div class="md-checkbox">
                                                    <input name="isSupplier" type="checkbox" id="isSupplierNo" class="md-check" ng-model="search.isSupplier.value[1]" ng-checked="search.isSupplier.value[1]" ng-change="find()">
                                                    <label for="isSupplierNo">
                                                                        <span></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> @(No)
                                                        </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-hide="forSales" class="form-group">
                                            <label>@(companies:Status.IsSubcontractor)</label>
                                            <div class="md-checkbox-inline">
                                                <div class="md-checkbox">
                                                    <input name="isSubcontractor" type="checkbox" id="isSubcontractorYes" class="md-check" ng-model="search.isSubcontractor.value[0]" ng-checked="search.isSubcontractor.value[0]" ng-change="find()">
                                                    <label for="isSubcontractorYes">
                                                                            <span></span>
                                                                            <span class="check"></span>
                                                                            <span class="box"></span> @(Yes)</label>
                                                </div>

                                                <div class="md-checkbox">
                                                    <input name="isSubcontractor" type="checkbox" id="isSubcontractorNo" class="md-check" ng-model="search.isSubcontractor.value[1]" ng-checked="search.isSubcontractor.value[1]" ng-change="find()">
                                                    <label for="isSubcontractorNo">
                                                                        <span></span>
                                                                        <span class="check"></span>
                                                                        <span class="box"></span> @(No)
                                                        </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>@(DateLastOrder)</label>
                                            <div filter-date-range ng-model="search.lastOrder.value"></div>
                                        </div>
                                        <div class="form-group">
                                            <label>@(DateCreation)</label>
                                            <div filter-date-range ng-model="search.createdAt.value"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right no-padding">
                                    <button type="button" class="btn btn-sm default" ng-click="resetFilter()">@(Reset)</button>
                                    <button type="submit" class="btn btn-sm green">@(Search)</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div ng-show="forSales" class="col-md-3">
                    <div class="portlet mt-element-ribbon light portlet-fit bordered ">
                        <div class="ribbon ribbon-vertical-right ribbon-shadow ribbon-color-warning uppercase ">
                            <div class="ribbon-sub ribbon-bookmark "></div>
                            <i class="fa fa-pause "></i>
                        </div>
                        <div class="portlet-title ">
                            <div class="caption ">
                                <i class=" icon-control-pause font-yellow-crusta "></i>
                                <span class="caption-subject font-yellow-crusta bold uppercase ">Totaux</span>
                            </div>
                        </div>
                        <div class="portlet-body ">
                            <div class="row static-info align-reverse ">
                                <div class="col-md-6 name ">@(Qty)</div>
                                <div class="col-md-6 value">{{totalAll.count}}</div>
                            </div>
                            <hr>
                            <div class="row static-info align-reverse" ng-repeat="status in totalAll.Status">
                                <div class="col-md-6 name "><span class="label label-sm" ng-class="status.css">{{status.name}}</span></div>
                                <div class="col-md-6 value">{{status.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table-pagination ng-model="page"></table-pagination>
            <div class="no-footer table-responsive">
                <table class="table table-striped table-hover table-condensed no-footer">
                    <colgroup>
                        <col width="42px">
                        <col width="12%">
                        <col width="14%">
                        <col width="8%">
                        <col width="10%">
                        <col width="12%">
                        <col width="12%">
                        <col width="8%">
                        <col ng-show="forSales" width="8%">
                        <!--<col width="8%">-->
                        <col ng-show="forSales" width="8%">
                        <col width="70px">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr role="row" class="heading">
                            <th class="text-center">
                                <input uniform type="checkbox" ng-model="checkAll" ng-checked="checkAll" ng-click="checkedAll()" />
                            </th>
                            <th table-sort='fullName' ng-model="sort" name="@(Name)"></th>
                            <th table-sort='salesPurchases.ref' ng-model="sort" name="@(companies:IdThirdParty)"></th>

                            <th ng-show="forSales" table-sort='salesPurchases.salesPerson.fullName' ng-model=" sort " name="@(commercial:Commercial)"></th>
                            <th ng-hide="forSales" table-sort='salesPurchases.salesPerson.fullName' ng-model=" sort " name="@(commercial:Buyer)"></th>


                            <th table-sort='address.zip' ng-model="sort " name="@(Zip)"></th>
                            <th table-sort='address.city' ng-model="sort " name="@(Town)"></th>
                            <th ng-hide="type" table-sort='companyInfo.idprof3' ng-model="sort " name="@(companies:ProfId3FR)"></th>
                            <th ng-show="forSales">@(Status)</th>
                            <th>@(companies:Entity)</th>
                            <!--<th>@(Tag)</th>-->
                            <th ng-show="forSales" table-sort='lastOrder' ng-model="sort " name="@(DateLastOrder)"></th>
                            <th table-sort='createdAt' ng-model='sort' name="@(DateCreation)"></th>
                            <th>@(DateModification)</th>
                        </tr>
                        <tbody>
                            <tr ng-repeat="line in customers " ng-class="{ 'bg-grey-silver':line.exported} ">
                                <td class="text-center"><input uniform type="checkbox" ng-model="grid[line._id]" ng-checked="grid[line._id]" /></td>
                                <td ui-sref="societe.show({id:line._id})"><a class=" with-tooltip " ui-sref="societe.show({id:line._id})"><i class="fa fa-shopping-cart "></i> {{line.fullName}}</a></td>
                                <td ui-sref="societe.show({id:line._id})">{{line.salesPurchases.ref}}</td>
                                <td ui-sref="societe.show({id:line._id})">{{line.salesPurchases.salesPerson.fullName}}</td>
                                <td ui-sref="societe.show({id:line._id})">{{line.address.zip}}</td>
                                <td ui-sref="societe.show({id:line._id})">{{line.address.city}}</td>
                                <td ng-hide="type" ui-sref="societe.show({id:line._id})">{{line.companyInfo.idprof3}}</td>
                                <td ng-show="forSales" ui-sref="societe.show({id:line._id})">
                                    <span class="label label-sm {{line.Status.css}} "> {{line.Status.name}}</span>
                                </td>
                                <td ui-sref="societe.show({id:line._id})">{{line.entity}}</td>
                                <!--<td ui-sref="societe.show({id:line._id})">{{line.companyInfo.tag}}</td>-->
                                <td ng-show="forSales" ui-sref="societe.show({id:line._id})">{{line.lastOrder| date:'dd/MM/yyyy'}}</td>
                                <td ui-sref="societe.show({id:line._id})">{{line.createdAt| date:'dd/MM/yyyy'}}</td>
                                <td ui-sref="societe.show({id:line._id})">{{line.updatedAt| date:'dd/MM/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
            </div>
            <table-pagination ng-model="page "></table-pagination>
        </div>
    </div>
</div>