<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i></li>
        <li>
            <a ui-sref="societe.list">@(companies:Companies)</a>
            <i class="fa fa-angle-right"></i></li>
        <li>
            <li>
                <span>@(Dashboard)</span>
            </li>
    </ul>
</div>
<h3 class="page-title">
    @(Dashboard) @(companies:ThirdPartyCustomers)
</h3>

<div>
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-random"></i>@(Dashboard) @(companies:ThirdPartyCustomers)
            </div>
        </div>
        <div class="tools">
        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-3">
                        <button title="@(Refresh)" class="btn" ng-click="find()"><i class="fa fa-refresh"></i></button>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-4">
                            <select ng-show="login.multiEntities" ng-model="entity" ng-change="setEntity(entity);
                                    find();" ng-options="s.id as s.name for s in entityList" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="icon icon-user"></i>
                                </span>
                                <input type="text" data-ng-model="commercial" placeholder="@(commercial:Commercial)" typeahead-on-select="find()" typeahead="user as user.name for user in AutoComplete($viewValue, '/erp/api/user/name/autocomplete',10) | filter:{name:$viewValue}" class="form-control"
                                    autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="margin-bottom-10" ng-repeat="societe in dataClients">
                <div class="mt-element-list">
                    <div class="mt-list-head list-todo red">
                        <div class="list-head-title-container">
                            <h3 class="list-title">My Projects</h3>
                            <div class="list-head-count">
                                <div class="list-head-count-item">
                                    <i class="fa fa-check"></i> 15</div>
                                <div class="list-head-count-item">
                                    <i class="fa fa-cog"></i> 34</div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-list-container list-todo" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="list-todo-line"></div>
                        <ul>
                            <li class="mt-list-item">
                                <div class="list-todo-icon bg-white">
                                    <i class="fa fa-database"></i>
                                </div>
                                <div class="list-todo-item dark">
                                    <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion1" onclick=" " href="#task-1" aria-expanded="false">
                                        <div class="list-toggle done uppercase">
                                            <div class="list-toggle-title bold">Metronic Database</div>
                                            <div class="badge badge-default pull-right bold">3</div>
                                        </div>
                                    </a>
                                    <div class="task-list panel-collapse collapse in" id="task-1">
                                        <ul>
                                            <li class="task-list-item done">
                                                <div class="task-icon">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-database"></i>
                                                    </a>
                                                </div>
                                                <div class="task-status">
                                                    <a class="done" href="javascript:;">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                    <a class="pending" href="javascript:;">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </div>
                                                <div class="task-content">
                                                    <h4 class="uppercase bold">
                                                        <a href="javascript:;">Database Optimization</a>
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                                </div>
                                            </li>
                                            <li class="task-list-item">
                                                <div class="task-icon">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-table"></i>
                                                    </a>
                                                </div>
                                                <div class="task-status">
                                                    <a class="done" href="javascript:;">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                    <a class="pending" href="javascript:;">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </div>
                                                <div class="task-content">
                                                    <h4 class="uppercase bold">
                                                        <a href="javascript:;">Table Sorting</a>
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                                </div>
                                            </li>
                                            <li class="task-list-item">
                                                <div class="task-icon">
                                                    <a href="javascript:;">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </div>
                                                <div class="task-status">
                                                    <a class="done" href="javascript:;">
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                    <a class="pending" href="javascript:;">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                </div>
                                                <div class="task-content">
                                                    <h4 class="uppercase bold">
                                                        <a href="javascript:;">Data Entry</a>
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum gravida mauris, a tincidunt dolor porttitor eu. </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="task-footer bg-grey">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <a class="task-trash" href="javascript:;">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                                <div class="col-xs-6">
                                                    <a class="task-add" href="javascript:;">
                                                        <i class="fa fa-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--<hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="societe.datas">
                    <hot-column data="name" title="societe.name" width="400" read-only></hot-column>

                    <hot-column ng-repeat="family in societe.family" title="family" read-only data="{{family}}" type="'numeric'" width="120" format="'0,0.00'"></hot-column>
                    <hot-column class="bg-warning" renderer="colorRenderer" data="total_ht" title="'@(Total)'" type="'numeric'" width="120" format="'0,0.00'" read-only></hot-column>
                </hot-table>-->

            </div>
        </div>
    </div>
</div>