<div class="portlet portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="fa fa-gears font-yellow-crusta sbold"></i>@(Parameters): @(Add) @(New) @(ordersCarrier)
        </div>
        <div class="actions btn-set">
            <a class="btn btn-circle btn-outline sbold uppercase red" ui-sref="product.list"><i class="fa fa-angle-left"></i> @(Back)</a>

            <button type="button" ng-click="update(true)" class="btn btn-circle btn-outline sbold uppercase green"><i class="fa fa-check"></i> @(Save)</button>
            <div class="btn-group">
                <a class="btn btn-circle dark btn-outline sbold uppercase dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#" ng-click="clone()">
                            <i class="fa fa-copy"></i> @(ToClone)
                        </a>
                    </li>
                    <li>
                        <a href="#" class="font-red" ng-show="login.rights.product.delete" confirmed-click="remove(product)" ng-confirm-click="Supprimer le produit ?" title="Supprimer le produit">
                            <i class="fa fa-trash-o font-red"></i> @(Delete)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="form-body">
            <div class="form-group form-md-line-input">
                <div class="row hidden-print">
                    <div class="col-md-12">
                        <div class="form-group form-md-line-input">
                            <div class="row static-info">
                                <div class="col-md-4 name">@(ordersCarrier) :</div>
                                <div class="col-md-7 value"></div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="col-md-4 control-label">@(ordersURLtracking)</label>
                                <div class="col-md-8">
                                    <input class="form-control" ng-model="offer.ref_client" placeholder="@(orders:RefCustomerOrder)" type="text">
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="row static-info" ng-if="offer.client.id !== '5333032036f43f0e1882efce'">
                                <div class="col-md-4 name">@(companies:Company) :</div>
                                <div class="col-md-7 value">
                                    <a href="#" ui-sref="societe.show({id:offer.client.id})" class="fa fa-institution" editable-text="offer.client" e-typeahead="societe as societe.name for societe in AutoComplete($viewValue, '/erp/api/societe/autocomplete', offer.entity) | filter:{name:$viewValue}"
                                        e-typeahead-template-url="searchcompany.html" e-typeahead-on-select="updateAddress($item)"> {{offer.client.name|| "Non defini"}} </a>
                                    <div class="form-control-focus"> </div>
                                </div>
                            </div>
                            <div class="row static-info">
                                <div class="col-md-2 name">@(companies:SupplierStatus) :</div>
                                <div class="col-md-4 value">
                                    <span editable-select="societe.fournisseur" e-ng-options="s.id as s.label for s in dict.fk_fournisseur.values">{{showStatus('fournisseur', 'fk_fournisseur')}}</span>
                                </div>
                                <div class="col-md-2 name">@(products:PriceLevel) :</div>
                                <div class="col-md-4 value">{{offer.price_level}}</div>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-5 col-md-7">
            <button type="submit" class="btn btn-circle btn-success"><i class="fa fa-check"></i> @(Create)</button>
            <a ui-sref="offer.list" class="btn btn-circle red">@(Cancel) <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>