<div class="portlet portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-yellow-crusta">
            <i class="fa fa-gears font-yellow-crusta sbold"></i>@(Parameters): @(ordersCarriers)
        </div>
        <div class="actions">
            <button class="btn btn-circle default" ui-sref="settings.product.pricelists.create">@(Add) <i class="fa fa-plus"></i></button>
            <button title="Rafraîchir" class="btn btn-circle btn-icon-only btn-default" ng-click="find()"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
    <div class="portlet light">
        <div class="form-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper no-footer table-responsive">
                    <div class="col-md-12">
                        <table class="table dataTable no-footer table-hover" id="productList">
                            <thead>
                                <tr role="row" class="heading">

                                    <th>@(Name)</th>
                                    <th>@(Company)</th>
                                    <th>@(Status)</th>
                                    <th>@(pricelists)</th>
                                    <th>@(ordersURLtracking)</th>
                                    <th>@(Actions)</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>
                                    <%=elem.name%>
                                </td>
                                <td>
                                    <%=elem.priceListCode%>
                                </td>
                                <td>
                                    <%=elem.currencyName%>
                                </td>
                                <td>
                                    <%=elem.currencyName%>
                                </td>
                                <td>
                                    <%=elem.currencyName%>
                                </td>
                                <td>
                                    <button ng-if="line.priceLists.removable !== false" class="btn btn-circle btn-default ng-scope" title="Supprimer" ng-confirm-click="Supprimer le tarif du produit Affretement ?" confirmed-click="remove(line)">@(View)</button>
                                    <button ng-if="line.priceLists.removable !== false" class="btn btn-circle dark fa fa-cogs ng-scope" title="Supprimer" ng-confirm-click="Supprimer le tarif du produit Affretement ?" confirmed-click="remove(line)"></button>
                                    <button ng-if="line.priceLists.removable !== false" class="btn btn-circle red fa fa-trash ng-scope" title="Supprimer" ng-confirm-click="Supprimer le tarif du produit Affretement ?" confirmed-click="remove(line)"></button>
                                </td>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>