<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="form-horizontal form-row-seperated">
            <div class="portlet portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-magic-wand"></i>
                        <span class="caption-subject dark bold uppercase"> @(products:PriceLists)</span>
                    </div>
                    <div ng-include="'/templates/saveMenu.html'" class="actions btn-set"></div>
                </div>
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-8">

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="Code" ng-model="object.priceListCode">
                                    <label for="Code">@(Code)</label>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" id="Name" ng-model="object.name">
                                    <label for="Name">@(Name)</label>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <select class="table-group-action-input form-control" id="Currency" ng-model="object.currency" ng-options="s._id as s.name for s in $dict.currency"></select>
                                    <label for="Currency">@(Currency)</label>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="portlet light">
                                    <div class="md-checkbox-inline">
                                        <div class="md-checkbox has-success">
                                            <input type="checkbox" id="isActive" class="md-check" ng-model="object.cost" ng-checked="object.isActive">
                                            <label for="isActive">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> @(products:SupplierCost)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>