<div class="row static-info">
    <div class="col-md-12 value">
        <div class="row static-info">
            <!--<div class="col-md-2 name">
                @(Address) :
            </div>-->
            <div class="col-md-11">

                <!-- <div class="well">
                    <adresse>
                        <strong ng-if="!addressModel.name">{{addressModel.client.name || addressModel.supplier.name || addressModel.societe.name || addressModel.name }}<br></strong>
                        <span ng-if="addressModel.name && !addressModel.typent_id" editable-text="addressModel.name" e-class="form-control" e-name="name" e-placeholder="@(Name)" e-title="@(Name)">{{addressModel.name}}</span>
                        <span editable-textarea="addressModel.street" e-name="address" e-rows="4" e-cols="18" e-required e-class="form-control"><pre>{{ addressModel.street}} @(Undefined)</pre></span>

                        <span editable-text="addressModel.zip" e-title="@(Zip)">{{addressModel.zip}} @(Zip)</span>

                        <span editable-text="addressModel.city" e-class="form-control" e-name="town" e-placeholder="@(Town)" e-title="@(Town)">{{addressModel.city}} @(City)</span>
                    </adresse>
                </div>
            </div>-->
            </div>
            <!--<div class="row static-info">
            <div class="col-md-2 name">
                Localisation :
            </div>
            <div class="col-md-10 value">
                <a href="https://www.google.fr/maps/place/2+Rue+des+Faubourgs,+63960+Veyre-Monton" class="btn default btn-xs yellow-stripe">
                    Voir l'adresse sur Google Maps</a>
            </div>-->
        </div>

    </div>
</div>