<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.model.code | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.city"></span>
    </a>
</script>

<div class="form-group form-md-line-input" ng-if="addressShipping.length > 1">
    <select class="form-control" id="selectShipping" ng-model="addressModel._id" ng-disabled="editable" ng-change="reloadAddress()" ng-options="addr._id as addr.name for addr in addressShipping"></select>
    <label for="selectShipping">@(orders:DeliveryAddress) </label>
</div>

<div class="row">
    <div class="col-md-7">

        <div class="form-group form-md-line-input" ng-if="addressModel.name">
            <input type="text" class="form-control" id="name" ng-model="addressModel.name" ng-disabled="editable" autocomplete="off" />
            <label for="name">@(Name) </label>
        </div>


        <div class="form-group form-md-line-input">
            <textarea class="form-control" rows="2" cols="30" ng-model="addressModel.street" ng-disabled="editable" autocomplete="off"></textarea>
            <label for="zip">@(Address) </label>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group form-md-line-input">
                    <input type="text" class="form-control" id="zip" ng-model="addressModel.zip" ng-disabled="editable" typeahead="address.code for address in getLocation($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="generateZip($item)" autocomplete="off"
                    />
                    <label for="zip">@(Zip) </label>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group form-md-line-input">
                    <input type="text" class="form-control" id="city" ng-model="addressModel.city" ng-disabled="editable" typeahead="address.city for address in getLocation($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="generateZip($item)"
                        autocomplete="off" />
                    <label for="city">@(Town) </label>
                </div>
            </div>
        </div>

        <div class="form-group form-md-line-input">
            <select class="form-control" id="country" ng-model="addressModel.country" ng-disabled="editable" ng-options="c._id as c.name for c in countries"></select>
            <label for="country">@(Country) </label>
        </div>

    </div>
    <div class="col-md-5">

        <div class="form-group form-md-line-input">
            <input type="text" class="form-control" id="ContactFullName" ng-model="addressModel.contact.name" ng-disabled="editable" />
            <label for="ContactFullName">@(Name) contact</label>
        </div>

        <div class="form-group form-md-line-input">
            <input type="text" class="form-control" id="ContactPhone" ng-model="addressModel.contact.phone" ng-disabled="editable" />
            <label for="ContactPhone">@(companies:Phone) </label>
        </div>

        <div class="form-group form-md-line-input">
            <input type="text" class="form-control" id="ContactMobile" ng-model="addressModel.contact.mobile" ng-disabled="editable" />
            <label for="ContactMobile">@(companies:PhoneMobile) </label>
        </div>

        <div class="form-group form-md-line-input">
            <input type="text" class="form-control" id="ContactFax" ng-model="addressModel.contact.fax" ng-disabled="editable" />
            <label for="ContactFax">@(companies:Fax) </label>
        </div>

        <div class="form-group form-md-line-input">
            <div class="input-group">
                <div class="input-group-control">
                    <input type="text" class="form-control" id="ContactEmail" ng-model="addressModel.contact.email" ng-disabled="editable" />
                    <label for="ContactEmail">@(Email) </label>
                </div>
                <span class="input-group-btn btn-right"><a ng-href="mailto:{{addressModel.contact.email}}" class="btn yellow" type="button"><i class="fa fa-envelope"></i></a></span>
            </div>
        </div>
    </div>
</div>