<div class="row static-info">
    <div class="col-md-2 name">
        @(Contact) :
    </div>
    <div class="col-md-10 value">
        <input type="text" ng-model="contactModel.name" class="form-control" autocomplete="off"/>
    </div>
</div>
<div class="row static-info">
    <div class="col-md-2 name">
        @(Phone) :
    </div>
    <div class="col-md-10 value">
        <input type="text" ng-model="contactModel.phone" class="form-control" autocomplete="off"/>
    </div>
</div>
<div class="row static-info">
    <div class="col-md-2 name">
        @(Email) :
    </div>
    <div class="col-md-10 value">
        <input type="email" ng-model="contactModel.email" class="form-control" autocomplete="off"/>
    </div>
</div>
