<script type="text/ng-template" id="searchcompany.html">
    <a>
        <span ng-bind-html="match.model.salesPurchases.ref | typeaheadHighlight:query"></span> - <span ng-bind-html="match.model.fullName"></span>
    </a>
</script>

<div ng-if="bootstrap != true" class="form-group form-md-line-input" ng-class="{'has-error':$error, 'has-success': !$error}">
    <div class="input-group typeahead">
        <div class="input-group-control">
            <input class="form-control" ng-model="model" id="{{name}}" name="{{name}}" ng-required="required" typeahead="data as data.fullName for data in AutoComplete($viewValue, url, entity ) | filter:{fullName:$viewValue}" typeahead-on-select="change($item)" typeahead-template-url="searchcompany.html"
                placeholder="{{placeholder}}" type="text" autocomplete="off" />
            <label for="{{name}}">{{label}} :</label>
        </div>
        <span class="input-group-btn btn-right">
                <button type="button" class="btn dropdown-toggle" ng-class="{'btn-danger':$error, 'btn-success': !$error}" ng-disabled="$error" data-toggle="dropdown" aria-expanded="false"> Action
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li ng-hide="$error">
                        <a ui-sref="societe.show({id:model._id})"><i class="fa fa-pencil"></i> @(Edit)</a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="refreshData()"><i class="fa fa-refresh"></i> @(Refresh)</a>
                    </li>
                </ul>
            </span>
    </div>
</div>

<div ng-if="bootstrap == true" class="form-group" ng-class="{'has-error':$error, 'has-success': !$error}">
    <div class="typeahead">
        <label for="{{name}}">{{label}} :</label>
        <input class="form-control input-sm" ng-model="model" id="{{name}}" name="{{name}}" ng-required="required" typeahead="data as data.fullName for data in AutoComplete($viewValue, url, entity ) | filter:{fullName:$viewValue}" typeahead-on-select="change($item)"
            typeahead-template-url="searchcompany.html" placeholder="{{placeholder}}" type="text" autocomplete="off" />

    </div>
</div>