<!-- BEGIN Portlet PORTLET-->
<form editable-form name="notesForm" onaftersave="update()">
    <div class="portlet portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-pencil"></i>@(NotePublic)
            </div>
            <div class="actions">
                <a href="javascript:;" ng-click="notesForm.$show()" ng-show="!notesForm.$visible" class="btn btn-default">
                    <i class="fa fa-pencil"></i> @(Edit) </a>
            </div>
            <div class="actions" ng-show="notesForm.$visible">
                <button type="button" ng-disabled="notesForm.$waiting" ng-click="notesForm.$cancel();
                    findOne();" class="btn red">@(Cancel)</button>
                <button type="submit" ng-disabled="notesForm.$waiting" class="btn green">@(Save)</button>

            </div>
        </div>
        <div class="portlet-body">
            <span editable-textarea="noteModel.note" e-name="notes" e-rows="10" e-cols="400" e-class="form-control"><pre>{{ noteModel.note ||  "@(users:NoNotes)" }}</pre></span>
        </div>
    </div>
</form>
<!-- END GRID PORTLET-->