<div class="form-group" ng-class="{'has-error':$error, 'has-success': !$error}">
    <label class="col-md-4 control-label">{{label}}</label>
    <div class="col-md-8 typeahead">
        <div class="input-icon right">
            <i class="fa" ng-class="{'fa-warning': $error, 'fa-check': !$error}"></i>
            <!--<span ng-show="model.id='5333032036f43f0e1882efce'"><i>{{model.name}}</i></span>-->
            <input class="form-control" ng-disabled="model.id == '5333032036f43f0e1882efce'" ng-model="model" name="{{name}}" ng-required="required" typeahead="data as data.name for data in AutoComplete($viewValue, url, entity ) | filter:{name:$viewValue}"
                   typeahead-on-select="onSelect($item)" placeholder="{{placeholder}}" type="text" autocomplete="off" />
        </div>
    </div>
</div>
<div class="form-group" ng-if="model.id == '5333032036f43f0e1882efce'" ng-class="{'has-error':$error2, 'has-success': !$error2}">
    <label class="col-md-4 control-label">Nouveau nom du compte</label>
    <div class="col-md-8">
        <div class="input-icon right">
            <i class="fa" ng-class="{'fa-warning': $error2, 'fa-check': !$error2}"></i>
            <input class="form-control" name="Accueil" ng-required="required" ng-model="model.name" ng-change="onSelect(model.name);changeName();" placeholder="Nom de la societe" type="text">
            <span class="help-block">
                Le nouveau compte ne peut pas s'appeler Accueil</span>
        </div>
    </div>
</div>