<div class="portlet light portlet-form bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-check-square-o"></i>
            <span class="caption-subject dark bold uppercase">@(tasks:TasksList)</span>
        </div>
        <div class="actions">
            <button class="btn blue" ui-sref="task.create({societe:societe._id})">@(Add) <i class="fa fa-plus"></i></button>
            <button title="@(Refresh)" class="btn" ng-click="find()"><i class="fa fa-refresh"></i></button>
        </div>
    </div>

    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-8">
                        <select ng-model="params.type" ng-change="find();" ng-options="s.id as s.name for s in types" class="form-control">
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select ng-show="login.multiEntities" ng-model="entity" ng-change="setEntity(entity);
                                find();" ng-options="s.id as s.name for s in entityList" class="form-control">
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="dataTables_wrapper no-footer table-responsive">
            <table class="table dataTable no-footer table-hover" id="taskList">
                <thead>
                    <tr role="row" class="heading">
                        <th width="2%">
                            <input type="checkbox" class="group-checkable" />
                        </th>
                        <th>@(Title)</th>
                        <th>@(orders:DateEcheance)</th>
                        <th>@(companies:Company)</th>
                        <th>@(tasks:CreatedBy)</th>
                        <th>@(tasks:AffectedTo)</th>
                        <th>@(tasks:DoneBy)</th>
                        <th>@(Status)</th>
                        <th>@(companies:Entity)</th>
                        <th>@(DateModification)</th>
                        <th>@(Action)</th>
                    </tr>
                    <!--<tr role="row" class="filter">
                        <td>
                        </td>
                        <td>
                            <input type="text" class="form-control form-filter input-sm" name="ref">
                        </td>
                        <td>
                            <input type="text" class="form-control form-filter input-sm" name="societe_name">
                        </td>
                        <td>
                            <input type="text" class="form-control form-filter input-sm" name="contact_name">
                        </td>
                        <td>
                            <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                <input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="margin-bottom-5">
                                <input type="text" class="form-control form-filter input-sm" name="order_price_from" placeholder="From"/>
                            </div>
                            <input type="text" class="form-control form-filter input-sm" name="order_price_to" placeholder="To"/>
                        </td>
                        <td>
                            <select name="order_status" class="form-control form-filter input-sm">
                                <option value="">Select...</option>
                                <option value="pending">Pending</option>
                                <option value="closed">Closed</option>
                                <option value="hold">On Hold</option>
                                <option value="fraud">Fraud</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control form-filter input-sm" name="order_ship_to">
                        </td>
                        <td>
                        </td>
                        
                        <td>
                            <div class="margin-bottom-5">
                                <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                            </div>
                            <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                        </td>
                    </tr>-->
                </thead>
            </table>
        </div>
    </div>
</div>