<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home">@(Home)</a>
            <i class="fa fa-angle-right"></i>
        </li>

        <li ng-if="module('ordersupplier')">
            <span>@(orders:Purchases)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('offersupplier')">
            <span>@(orders:Purchases)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('deliverysupplier') || module('stockreturn')">
            <span>@(orders:Logistics)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('billsupplier')">
            <span>@(compta:MenuFinancial)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('billsupplier')">
            <span>@(orders:SuppliersInvoices)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('offersupplier')">
            <span>@(orders:PurchaseRequests)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('ordersupplier')">
            <span>@(orders:SuppliersOrders)</span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('deliverysupplier')">
            <span>@(orders:SuppliersDeliveries)</span>
            <i class="fa fa-angle-right"></i>
        </li>

        <!--<li ng-if="module('ordersupplier') || module('offersupplier')">
            <span>@(orders:Purchases)</span>
            <i class="fa fa-angle-right"></i>
        </li>-->
        <li ng-if="module('offersupplier')">
            <a ui-sref="{{backTo}}">@(orders:ListOfPurchases)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('ordersupplier')">
            <a ui-sref="{{backTo}}">@(orders:ListOfSuppliersOrders)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('deliverysupplier')">
            <a ui-sref="{{backTo}}">@(orders:ListOfReceptionSupplier)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('billsupplier')" )>
            <a ui-sref="{{backTo}}">@(orders:ListBillsSuppliers)</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li ng-if="module('offersupplier')">
            <span ng-hide="!object._id">@(orders:PurchaseRequests) : {{object.ref}} - {{object.supplier.fullName}}</span>
            <span ng-show="!object._id">@(orders:NewQuotation)</span>
        </li>
        <li ng-if="module('ordersupplier')">
            <span ng-hide="!object._id">@(orders:Order) : {{object.ref}} - {{object.supplier.fullName}}</span>
            <span ng-show="!object._id">@(orders:NewOrder)</span>
        </li>
        <li ng-if="module('deliverysupplier')">
            <span ng-hide="!object._id">@(orders:ReceptionNote) : {{object.ref}} - {{object.supplier.fullName}}</span>
            <span ng-show="!object._id">@(orders:NewReception)</span>
        </li>
        <li ng-if="module('billsupplier')">
            <span ng-hide="!object._id">@(orders:BillSuppliers) : {{object.ref}} - {{object.supplier.fullName}}</span>
            <span ng-show="!object._id">@(orders:NewBill)</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group">
            <a class="btn yellow-crusta dropdown-toggle uppercase" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
            </a>
            <!-- offersupplier -->
            <ul ng-if="module('offersupplier')" class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-show="object.Status == 'VALIDATED'" ng-hide="!login.rights.order.createOrder" ng-confirm-click="@(orders:ConfirmClosePropal)" ng-confirm-title="@(orders:PropalStatusSigned)" confirmed-click="createOrder()">
                        <i class="fa fa-shopping-cart"></i> @(orders:CreateOrderSigned)
                    </a>
                </li>
                <li>
                    <a ng-if="object.Status == 'DRAFT'&& object.supplier._id && login.rights.order.validate" data-ng-click="changeStatus('VALIDATED')">
                        <i class="fa fa-thumbs-o-up"></i> @(Validate)
                    </a>
                </li>
                <li>
                    <a href="#" ng-if="object.Status === 'VALIDATED' && login.rights.order.create" data-ng-click="changeStatus('DRAFT')">
                        <i class="fa fa-history"></i> @(ReOpen)
                    </a>
                </li>
                <li>
                    <a ng-hide="object.Status == 'NOTSIGNED' || object.Status == 'SIGNED' " ng-show="object.Status == 'VALIDATED'" ng-hide="!login.rights.order.createDelivery" ng-confirm-click="@(orders:ConfirmClosePropal)" ng-confirm-title="@(orders:PropalStatusNotSigned)"
                        confirmed-click="changeStatus('NOTSIGNED')">
                        <i class="fa fa-thumbs-o-down"></i> @(orders:CloseOfferOrder)
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <hr>
                <li>
                    <a ng-show='object.Status != "DRAFT"' ng-href="/erp/api/offer/pdf/{{object.ref}}" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                    </a>
                </li>
                <li>
                    <a ng-show='object.Status != "DRAFT" && object.contacts.length' ng-href="#" ng-click="sendEmail('Demande de prix','offer',object.contacts)">
                        <i class="fa  fa-envelope"></i> @(mails:SendMail)
                    </a>
                </li>
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.order.delete && order.Status !== 'SIGNED'" confirmed-click="remove(orders)" ng-confirm-click="Supprimer le document ?" title="Supprimer le document">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>

            <!-- ordersupplier -->
            <ul ng-if="module('ordersupplier')" class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-if="object.status.shippingStatus != 'ALL'" ng-show="(object.Status == 'VALIDATED' || object.Status == 'PROCESSING' || object.Status == 'SHIPPING') && login.rights.order.createDelivery" ng-click="createDelivery()">
                        <i class="fa fa-plane"></i> @(orders:DeliveryOrder)
                    </a>
                </li>
                <li>
                    <a ng-show="object.Status != 'DRAFT'" ng-show="login.rights.order.createBills" ng-confirm-click="@(orders:ConfirmCloseBill)" ng-confirm-title="@(orders:CloseBill)" confirmed-click="createBill()">
                        <i class="fa fa-money"></i> @(orders:CreateBill)
                    </a>
                </li>
                <li>
                    <a ng-if="object.Status == 'DRAFT' && object.supplier._id && login.rights.order.validate" data-ng-click="changeStatus('VALIDATED')">
                        <i class="fa fa-thumbs-o-up"></i> @(Validate)
                    </a>
                </li>
                <li>
                    <a href="#" ng-if="object.Status === 'VALIDATED' && login.rights.order.create" data-ng-click="changeStatus('DRAFT')">
                        <i class="fa fa-history"></i> @(ReOpen)
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <hr>
                <li>
                    <a ng-show='object.Status != "DRAFT"' ng-href="/erp/api/order/pdf/{{object.ref}}" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                    </a>
                </li>
                <li>
                    <a ng-show='object.Status != "DRAFT" && object.contacts.length' ng-href="#" ng-click="sendEmail('Commande','order',object.contacts)">
                        <i class="fa  fa-envelope"></i> @(mails:SendMail)
                    </a>
                </li>
                <li>
                    <a href="#" class="font-red" ng-show="login.rights.order.delete && order.Status !== 'SIGNED'" confirmed-click="remove(orders)" ng-confirm-click="Supprimer le document ?" title="Supprimer le document">
                        <i class="fa fa-trash-o font-red"></i> @(Delete)
                    </a>
                </li>
            </ul>

            <!-- deliverysupplier -->
            <ul ng-if="module('deliverysupplier')" class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-if=" allowValidate" href="#" ng-show="object.Status == 'DRAFT'" ng-show="login.rights.delivery.validate" data-ng-click="changeStatus('INSTOCK')">
                        <i class="fa fa-check"></i> @(orders:PutInStock)
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <hr>
                <li>
                    <a ng-show='object.Status != "DRAFT"' ng-href="/erp/api/delivery/pdf/{{object.ref}}?forSales=false" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                    </a>
                </li>
                <li>
                    <a ng-show="object.Status == 'SEND'" ng-href="#" ng-click="sendFTP()">
                        <i class="fa fa-file-pdf-o"></i> @(SendToFtp)
                    </a>
                </li>
            </ul>

            <!-- billsupplier -->
            <ul ng-if="module('billsupplier')" class="dropdown-menu pull-right" role="menu">
                <li>
                    <a ng-if="object.Status == 'DRAFT' && object.supplier._id && login.rights.order.validate" data-ng-click="changeStatus('VALIDATED')">
                        <i class="fa fa-thumbs-o-up"></i> @(Validate)
                    </a>
                </li>
                <li>
                    <a href="#" ng-show="(object.Status == 'NOT_PAID' || object.Status == 'VALIDATED') && object.journalId.length == 0 && login.rights.bill.validate" data-ng-click="exportAccounting(object._id)">
                        <i class="fa fa-mail-forward"></i> @(orders:SendAccounting)
                    </a>
                </li>
                <li>
                    <a href="#" ng-if="object.Status === 'VALIDATED' || object.Status === 'NOT_PAID' && login.rights.order.create && !object.journalId.length" data-ng-click="changeStatus('DRAFT')">
                        <i class="fa fa-history"></i> @(ReOpen)
                    </a>
                </li>
                <li>
                    <a href="#" data-ng-click="clone()">
                        <i class="fa fa-copy"></i> @(ToClone)
                    </a>
                </li>
                <hr>
                <li>
                    <a ng-show='object.Status != "DRAFT"' ng-href="/erp/api/bill/pdf/{{object.ref}}" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> @(BuildPDF)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-if="object.isremoved" class="alert alert-danger"><strong> @(BeCareful) !</strong> Cette fiche à été supprimée</div>

<div class="row">
    <div class="col-md-12">
        <div class="profile-sidebar mt-element-ribbon portlet-fit bordered">
            <div ng-hide="!object._id " class="ribbon ribbon-right ribbon-clip ribbon-shadow uppercase " ng-class="object._status.css ">
                <div class="ribbon-sub ribbon-clip ribbon-right "></div> {{object._status.name}}
            </div>
            <div class="portlet light profile-sidebar-portlet ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="profile">
                                <img ng-src="{{getImage('product', product.imageSrc)}}" class="img-responsive" alt="Product" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-usertitle">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div ng-if="module('offersupplier')" class="uppercase profile-stat-text"> @(orders:PurchaseRequests) </div>
                                        <div ng-if="module('ordersupplier')" class="uppercase profile-stat-text"> @(orders:Order) </div>
                                        <div ng-if="module('deliverysupplier')" class="uppercase profile-stat-text"> @(orders:ReceptionNote) </div>
                                        <div ng-if="module('billsupplier')" class="uppercase profile-stat-text"> @(orders:Bill) </div>
                                        <div class="uppercase profile-stat-title"> {{object.ref}} </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="uppercase profile-stat-text"> @(orders:RefOfSupplier) </div>
                                        <div class="uppercase profile-stat-title"> {{object.ref_client}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="profile-usermenu ">
                    <ul class="nav ">
                        <ul class="nav" ng-if="module('offersupplier')">
                            <li ng-class="{active: $state.includes(module() + '.show.detail')}">
                                <a ui-sref="offersupplier.show.detail({id:object._id}) ">
                                    <i class="icon-info "></i> @(orders:DetailsOffer) </a>
                            </li>
                        </ul>
                        <ul class="nav" ng-if="module('ordersupplier')">
                            <li ng-class="{active: $state.includes(module() + '.show.detail')}">
                                <a ui-sref="ordersupplier.show.detail({id:object._id}) ">
                                    <i class="icon-info "></i> @(orders:OrdersDetails) </a>
                            </li>
                        </ul>
                        <ul class="nav" ng-if="module('deliverysupplier')">
                            <li ng-class="{active: $state.includes(module() + '.show.detail')}">
                                <a ui-sref="deliverysupplier.show.detail({id:object._id}) ">
                                    <i class="icon-info "></i> @(orders:ReceptionDetails) </a>
                            </li>
                        </ul>
                        <ul class="nav" ng-if="module('billsupplier')">
                            <li ng-class="{active: $state.includes(module() + '.show.detail')}">
                                <a ui-sref="billsupplier.show.detail({id:object._id}) ">
                                    <i class="icon-info "></i> @(orders:Details) </a>
                            </li>
                            <li ng-class="{active: $state.includes(module() + '.show.payment')}" ng-show="object.journalId.length > 0">
                                <a ui-sref="billsupplier.show.payment({id:object._id})">
                                    <i class="icon-info"></i> @(compta:ListOfPayments) </a>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>

            <div class="portlet light ">
                <div class="row list-separated profile-stat ">
                    <div class="col-md-12 ">
                        <div class="form-group form-md-line-input ">
                            <select class="form-control " id="entity " ng-model="object.entity " ng-change="changeEntity()" ng-options="entity.id as entity.name for entity in entityList "></select>
                            <label for="entity ">@(companies:Entity)</label>
                        </div>
                        <crm-id label="@(companies:SuppliersShort) " name="societeId " ng-model="object.supplier " entity="object.entity " url="/erp/api/societe/autocomplete?fournisseur=SUPPLIER&fournisseur=SUBCONTRACTOR" required="true " on-select="updateAddress " placeholder="@(companies:CompanyName)
            " class="form-group form-md-line-input "></crm-id>
                    </div>
                </div>

                <div class="row list-separated profile-stat ">
                    <div class=" col-md-6 col-sm-6 col-xs-6 ">
                        <div class="uppercase profile-stat-title "> <i class="icon-calendar font-yellow-crusta "></i> {{object.createdAt|date:'dd/MM/yyyy HH:mm'}} </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 ">
                        <div class="uppercase profile-stat-title "> <i class="icon-refresh font-yellow-crusta "></i> {{object.updatedAt|date:'dd/MM/yyyy HH:mm'}} </div>
                    </div>

                    <div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                            <div class="uppercase profile-stat-title "> <a class="font-yellow-crusta ">{{object.createdBy.username}}</a> </div>
                            <!--<div class="uppercase profile-stat-text "> @(CreatedBy)</div>-->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                            <div class="uppercase profile-stat-title "> <a class="font-yellow-crusta ">{{object.editedBy.username}}</a> </div>
                            <!-- <div class="uppercase profile-stat-text "> @(EditedBy) </div>-->
                        </div>
                    </div>
                </div>

                <div class="row list-separated profile-stat ">
                    <div class="col-md-12 ">
                        <div class="uppercase profile-stat-text ">@(Logs)</div>
                        <div class="uppercase profile-stat-title "> {{object.history.date| date:'dd/MM/yyyy HH:mm'}} {{object.history.msg}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-view class="profile-content fade-in-up "></div>
    </div>
</div>