<!--
<a class="btn sbold uppercase red" ui-sref="{{backTo}}"><i class="fa fa-angle-left"></i> @(Back)</a>
<button type="button" ng-hide="createMod" ng-click="update(true)" class="btn sbold uppercase green"><i class="fa fa-check"></i> @(Save)</button>
<button type="button" ng-show="createMod" ng-click="create()" class="btn sbold uppercase green"><i class="fa fa-plus"></i> @(Create)</button>
-->

<a class="btn red" ui-sref="{{backTo}}"><i class="fa fa-angle-left"></i> @(Cancel)</a>
<button type="button" ng-click="create()" class="btn blue"> @(Create) <i class="fa fa-check"></i></button>