<a class="btn red" ui-sref="{{backTo}}({{paramsBackTo}})"><i class="fa fa-angle-left"></i> @(Back)</a>
<button type="button" ng-if="!mode" ng-click="ngCreate()" class="btn green"> @(Add)<i class="fa fa-check"></i></button>
<button type="button" ng-if="mode" ng-hide="ngDisabled" ng-click="ngUpdate()" class="btn green"><i class="fa fa-check-circle"></i> @(Save)</button>
<!-- <div class="btn-group">
<button type="button" ng-if="mode" ng-click="ngUpdate()" class="btn yellow-crusta"><i class="fa fa-check-circle"></i> @(orders:CreateProductReturn)</button>
    <a class="btn yellow-crusta dropdown-toggle" href="javascript:;" data-toggle="dropdown">
        <i class="fa fa-share"></i> @(Tools) <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="#" ng-click="clone()">
                <i class="fa fa-copy"></i> @(ToClone)
            </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="#" ng-click="clone()">
                <i class="fa fa-copy"></i> @(PrintPDF)
            </a>
        </li>
        <li>
            <a href="#" class="font-red" ng-show="login.rights.product.delete" confirmed-click="remove(product)" ng-confirm-click="Supprimer le produit ?" title="Supprimer le produit">
                <i class="fa fa-trash-o font-red"></i> @(Delete)
            </a>
        </li>
    </ul>
</div> -->